.example-container {
  width: 100%;
  height: 100%; }

.example-sidenav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.example-sidenav {
  padding: 20px;
  -webkit-box-shadow: 13px 10px 26px 0 rgba(22, 45, 135, 0.09);
  box-shadow: 13px 10px 26px 0 rgba(22, 45, 135, 0.09);
  background: #fafbfe;
  border-right: 1px solid #e1e5f2; }

.side-menu-li li {
  list-style: none;
  font-size: 14px;
  margin: 1px 0;
  font-weight: 600;
  color: #404c48;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 4px;
  outline: none !important; }
  .side-menu-li li:hover {
    background: #404c48;
    color: #fff;
    background-image: -webkit-linear-gradient(340deg, #0ad87a, #34c686);
    background-image: -o-linear-gradient(340deg, #0ad87a, #34c686);
    background-image: linear-gradient(110deg, #0ad87a, #34c686); }

.side-menu-logo-c {
  text-align: center;
  padding: 12px 0; }
  .side-menu-logo-c h2 {
    font-size: 22px;
    font-weight: 700; }

.active {
  color: #fff !important;
  background-image: -webkit-linear-gradient(340deg, #0ad87a, #34c686);
  background-image: -o-linear-gradient(340deg, #0ad87a, #34c686);
  background-image: linear-gradient(110deg, #0ad87a, #34c686); }
