.<button class="btn-no-bg"><i class="fas fa-arrow-left"></i></button>
<div class="side-menu-logo-c">
  <img src="../../../../assets/vendor/images/logo.PNG" alt="">
  <h2>Sure Farm</h2>
</div>
<div class="bb-light mb-3"></div>
<div>
  <!-- <button mat-button routerLink="/" >Main</button> -->
</div>
<div *ngFor="let c of sidebarItems">
  <div *ngIf="c.linkActive" class="side-menu-li">
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="c.link"
    > {{c.label}}</li>
  </div>
</div>

