// .s-m-logo-text{
//     font-weight: 700;
//     font-size: 19px;
//     text-align: center;
//     color: #07112f;
// }

// .mat-toolbar.mat-primary{
//     background: transparent !important;
//     margin-bottom: 15px;
// }

// .mat-card {
//     background: transparent;
//     color: rgba(0,0,0,.87);
//     box-shadow:none;
// }
// .mat-list-item{
//     font-size: 12px;
//     height: inherit !important;
//     font-family: 'Nunito', sans-serif;
//     font-weight: 600;
// }

// .mat-list-item-content a{
//     color: #142661 !important;
// }

// .mat-list-base{
//     padding-top: 0px;
//     padding-bottom: 0px;
//     // background: #ccc;
//     margin-bottom: 12px;
//     cursor: pointer;
//     border-radius: 5px;
//     &:hover{
//         background: #00000005;
//     }

// }

// .mat-toolbar-row, .mat-toolbar-single-row {
//     height: inherit !important;
// }

// .mat-list-item-content{
//     padding-left: 0px !important;
//     padding-right: 0px !important;

// }

// .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
    
//     padding: 0 0px !important;
   
// }

.example-container {
    width: 100%;
    height: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    box-shadow: 13px 10px 26px 0 rgba(22, 45, 135, 0.09);
    background: #fafbfe;
    border-right: 1px solid #e1e5f2;
  }

 .side-menu-li{
   li{
    list-style: none;
    font-size: 14px;
    margin: 1px 0;
    font-weight: 600;
    color: #404c48;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 4px;
    // transition: all 0.1s ease;
    outline: none !important;
    &:hover{
      background: #404c48;
      color: #fff;
      background-image: linear-gradient(110deg, #0ad87a, #34c686);
    }
   }
 }

 .side-menu-logo-c{
   text-align: center;
   padding: 12px 0;
   h2{
     font-size: 22px;
     font-weight: 700;
   }
 }

.active{
  color: #fff !important;
  background-image: linear-gradient(110deg, #0ad87a, #34c686);
}
