
<div class="pop-c">

  <!--  <button  mat-button mat-dialog-close class="pop-c-close"><i class="fas fa-times"></i></button>-->
  <h6 class="mt-4">Profile is not completed</h6>
  <mat-dialog-content>

    <p>Sorry, we are unable to proceed the policy. <br> Since not yet completed your profile.</p>

  </mat-dialog-content>


  <mat-dialog-actions >
    <button class="btn-theme mb-2 w-100"  [routerLink]="[ '/user-profile' ]" mat-button [mat-dialog-close]="true" cdkFocusInitial>Continue Profile</button>

    <button class="btn-line-gray m-0 mb-3 w-100" [routerLink]="[ '/dashboard' ]" mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>

