.mat-checkbox:disabled{
    background: #00ffc4 !important;
}

.aa{
    color: rgb(0, 192, 192);
}


.active{
  .ps-step-no{
    background: #07c871;
    border: 1px solid #07c871 !important;
    color: #fff !important;
  }
  .pc-active{
      font-weight: 800 !important;
  }
}


