<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="cursor: pointer;"
            (click)="isSoilCondition = true; soilCondition.isHasData = false ">Set Land and Soil
          Condition
        </li>
        <li *ngIf="soilCondition.isHasData" class="breadcrumb-item active" aria-current="page">
          Harvest
        </li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Consult before you Plant</h3>
        <p>Put your requirements to see if you will profit by planting the crops</p>
      </div>
    </div>
    <div class="line-fluid-row bb-light mb-3"></div>

    <div class="row">
      <div class="col-md-3 ">
        <p class="font-light-13 pt-2">Please follow the process to see which crops will give you more profit if planted
          in a specific land.</p>

        <div class="line-fluid bb-light my-4"></div>

        <div class="policy-step-li active  mb-3">
          <div class="psl-acc-node">
            <div class="ps-step-no ">
              <span>1</span>
            </div>

          </div>
          <label class="pc-active psl-1">Land &amp; Soil Conditions</label>
        </div>


        <div *ngIf="soilCondition.isHasData" class="card-transparent mb-3">
          <div class="ct-h mb-2 bb-light">
            <div class="text-elipsis-210">
              <label class="cth-l1">{{soilCondition.land}}</label>
            </div>
            <label class="cth-l2">CURRENT SOIL STATISTICS</label>
          </div>
          <div class="ct-body">
            <div class="d-flex justify-content-between mb-2">
              <label class="font-dk-b mb-0">Nitrogen</label>
              <label class="font-dk-b mb-0 c-green">{{soilCondition.nitrogenValue}}</label>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <label class="font-dk-b mb-0">phosphorus</label>
              <label class="font-dk-b mb-0 c-green">{{soilCondition.phosphorusValue}}</label>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <label class="font-dk-b mb-0">Potassium</label>
              <label class="font-dk-b mb-0 c-green">{{soilCondition.potassiumValue}}</label>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <label class="font-dk-b mb-0">PH Value</label>
              <label class="font-dk-b mb-0 c-green">{{soilCondition.phValue}}</label>
            </div>
          </div>
        </div>

        <div class="policy-step-li mb-3" [ngClass]="{'active': soilCondition.isHasData}">
          <div class="psl-acc-node">
            <div class="ps-step-no ">
              <span>2</span>
            </div>
          </div>
          <label [ngClass]="{'bb': soilCondition.isHasData}" class="psl-1">Harvests</label>

        </div>

      </div>
      <div class="col-md-8 pl-5">
        <app-land-and-soil-conditions *ngIf="isSoilCondition" (outputData)="output($event)">
        </app-land-and-soil-conditions>
        <app-harvest *ngIf="!isSoilCondition" [soilCondition]="soilCondition"></app-harvest>
      </div>
    </div>
  </div>
</app-header>
