<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
      <img src="../../../../assets/vendor/images/loading.svg" alt="">
    </div>
<div class="tab-pane fade active show" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">

   <div class="form-new-opt mb-4">
      <h6>Address</h6>
      <button [routerLink]="[ '/user-profile/add-address' ]" class="btn-theme-lg">Add New Address</button>

   </div>

   <div class="row">
      <div class="col-md-6 mb-4" *ngFor="let address of addresses">
         <div class="card-b px-4 py-3">
            <div class="user-more-info bb-light">
               <h6>{{address.addressTypeDescription | titlecase}}</h6>
               <label>{{address.address | titlecase}} </label>
            </div>
            <div class="mt-2">
               <a  [routerLink]="[ '/user-profile/manage-address', address.sequence ]"   class="link-btn-sm"> Edit </a>
               <a (click)="deleteAddress(address.sequence)" class="link-btn-sm"> Remove </a>
            </div>
         </div>
      </div>


   </div>

</div>