.center {
 
}

.boder{
  box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.1);
  border: solid 3px #ffffff !important;
  border-radius: 4px;
}


.carousel-lg-prv{
  border-radius: 5px;
  box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.04);
  border: solid 1px #e6ebf7;
  overflow: hidden;
  height: 412px;
  background: #fff;
  display: flex;
    align-items: center;
    justify-content: center;
  img{
   height: 100% !important;
    
  }
}

.carousel-img-thumb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .c-thumb-list{
    display: flex;
    .ctl-i{
      border:3px solid #f1f1f3;
      box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.04);
      margin: 0 3px;
      border-radius: 5px;
      height: 90px;
      overflow: hidden;
      background: #fff;
    }
    img{
      width: 100px;
      cursor: pointer;

    }
  }

  .c-scroll-btn{
    cursor: pointer;
  }
}