<div class="carousel-lg-prv">
  


  
    <img @fade *ngFor="let img of list" class="center"  src="{{images.length !== 0 ? (img | decodeUrl) : 'assets/images/no-image.jpg'}}" alt="">


  
</div>

<div *ngIf="images[0]" class="carousel-img-thumb mt-3">

  <div  (click)="goLeft()" class="c-scroll-btn">
    <i class="fas fa-chevron-left"></i>
  </div>
  <div class="c-thumb-list">

    <div class="ctl-i" *ngFor="let img of images; let i = index" [ngClass]="{'boder':img.url === selectedImg}">
        <img  src="{{img.url | decodeUrl}}" (click)="setImg(i)" alt="">
       
    </div>
        
    
    
  </div>
  <div  (click)="goRight()" class="c-scroll-btn">
    <i class="fas fa-chevron-right"></i>
  </div>

</div>
