.boder {
  -webkit-box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.1);
  box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.1);
  border: solid 3px #ffffff !important;
  border-radius: 4px; }

.carousel-lg-prv {
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.04);
  box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.04);
  border: solid 1px #e6ebf7;
  overflow: hidden;
  height: 412px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .carousel-lg-prv img {
    height: 100% !important; }

.carousel-img-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .carousel-img-thumb .c-thumb-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .carousel-img-thumb .c-thumb-list .ctl-i {
      border: 3px solid #f1f1f3;
      -webkit-box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.04);
      box-shadow: 0 3px 11px 0 rgba(18, 18, 56, 0.04);
      margin: 0 3px;
      border-radius: 5px;
      height: 90px;
      overflow: hidden;
      background: #fff; }
    .carousel-img-thumb .c-thumb-list img {
      width: 100px;
      cursor: pointer; }
  .carousel-img-thumb .c-scroll-btn {
    cursor: pointer; }
