<div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-3" role="tabpanel"
         aria-labelledby="v-pills-verify-tab">
      <div class="form-new-opt mb-4 pr-3">
        <h6>Policy & Incident</h6>
      </div>
      <!--FRONT-->
      <mat-accordion>
        <div class="img-up-thme-btn-matt">
          <input type="file" (change)="FrontAddImg ($event)">
          <button class="btn-light-round ng-star-inserted"> Add New</button>
        </div>
        <mat-expansion-panel class="mat-acc-head mt-0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Front
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-end">

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="acc-contain bt-light px-4">
            <div class="p-im-grid my-3">
              <div class="row no-gutters">
                <div *ngFor="let img of frontImageList; let i = index" class="col-3">
                  <div class="img-g-sm" style="padding: 5px;">
                    <div *ngIf="!frontImageList[i].value" class="prg-i">
                      <div class="prg-bar">
                        <div class="pg-value" [style.width]="frontImageList[i].progress"></div>
                      </div>
                      <p>Uploading...</p>
                    </div>
                    <img *ngIf="frontImageList[i].value" [src]="frontImageList[i].value | decodeUrl " class="p-0">
                    <button (click)="FrontRemoveImg(i)" class="remove-i" style="width: 18px"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <!--BACK-->
      <mat-accordion>
        <div class="img-up-thme-btn-matt">
          <input type="file" (change)="BackSideAddImg ($event)">
          <button class="btn-light-round ng-star-inserted"> Add New</button>

        </div>
        <mat-expansion-panel class="mat-acc-head mt-0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Back
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-end">

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="acc-contain bt-light px-4">
            <div class="p-im-grid my-3">
              <div class="row no-gutters">
                <div *ngFor="let img of backImageList; let i = index" class="col-3">
                  <div class="img-g-sm" style="padding: 5px;">
                    <div *ngIf="!backImageList[i].value" class="prg-i">
                      <div class="prg-bar">
                        <div class="pg-value" [style.width]="backImageList[i].progress"></div>
                      </div>
                      <p>Uploading...</p>
                    </div>
                    <img *ngIf="backImageList[i].value" [src]="backImageList[i].value | decodeUrl " class="p-0">
                    <button (click)="BackSideRemoveImg(i)" class="remove-i" style="width: 18px"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <!--      Right Side-->
      <mat-accordion>
        <div class="img-up-thme-btn-matt">
          <input type="file" (change)="RightSideAddImg ($event)">
          <button class="btn-light-round ng-star-inserted"> Add New</button>
        </div>
        <mat-expansion-panel class="mat-acc-head mt-0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Right Side
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-end">

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="acc-contain bt-light px-4">
            <div class="p-im-grid my-3">
              <div class="row no-gutters">
                <div *ngFor="let img of RightSideImageList; let i = index" class="col-3">

                  <div class="img-g-sm" style="padding: 5px;">
                    <div *ngIf="!RightSideImageList[i].value" class="prg-i">
                      <div class="prg-bar">
                        <div class="pg-value" [style.width]="RightSideImageList[i].progress"></div>
                      </div>
                      <p>Uploading...</p>
                    </div>
                    <img *ngIf="RightSideImageList[i].value" [src]="RightSideImageList[i].value | decodeUrl " class="p-0">
                    <button (click)="RightSideRemoveImg(i)" class="remove-i" style="width: 18px"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <!--      Left side-->
      <mat-accordion>
        <div class="img-up-thme-btn-matt">
          <input type="file" (change)="LeftSideAddImg ($event)">
          <button class="btn-light-round ng-star-inserted"> Add New</button>
        </div>
        <mat-expansion-panel class="mat-acc-head mt-0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Left Side
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-end">

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="acc-contain bt-light px-4">
            <div class="p-im-grid my-3">
              <div class="row no-gutters">
                <div *ngFor="let img of LeftSideImageList; let i = index" class="col-3">
                  <div class="img-g-sm" style="padding: 5px;">
                    <div *ngIf="!LeftSideImageList[i].value" class="prg-i">
                      <div class="prg-bar">
                        <div class="pg-value" [style.width]="LeftSideImageList[i].progress"></div>
                      </div>
                      <p>Uploading...</p>
                    </div>
                    <img *ngIf="LeftSideImageList[i].value" [src]="LeftSideImageList[i].value | decodeUrl " class="p-0">
                    <button (click)="LeftSideRemoveImg(i)" class="remove-i" style="width: 18px"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <!--      Other-->
      <mat-accordion>
        <div class="img-up-thme-btn-matt">
          <input type="file" (change)="OtherAddImg ($event)">
          <button class="btn-light-round ng-star-inserted"> Add New</button>
        </div>
        <mat-expansion-panel class="mat-acc-head mt-0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Other
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-end">

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="acc-contain bt-light px-4">
            <div class="p-im-grid my-3">
              <div class="row no-gutters">
                <div *ngFor="let img of OtherImageList; let i = index" class="col-3">

                  <div class="img-g-sm" style="padding: 5px;">
                    <div *ngIf="!OtherImageList[i].value" class="prg-i">
                      <div class="prg-bar">
                        <div class="pg-value" [style.width]="OtherImageList[i].progress"></div>
                      </div>
                      <p>Uploading...</p>
                    </div>
                    <img *ngIf="OtherImageList[i].value" [src]="OtherImageList[i].value | decodeUrl " class="p-0">
                    <button (click)="OtherRemoveImg(i)" class="remove-i" style="width: 18px"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
<!--      Eyes-->
      <mat-accordion>
        <div class="img-up-thme-btn-matt">
          <input type="file" (change)="EarAddImg ($event)">
          <button class="btn-light-round ng-star-inserted"> Add New</button>
        </div>
        <mat-expansion-panel class="mat-acc-head mt-0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ears
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-end">

            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="acc-contain bt-light px-4">
            <div class="p-im-grid my-3">
              <div class="row no-gutters">
                <div *ngFor="let img of earImages; let i = index" class="col-3">

                  <div class="img-g-sm" style="padding: 5px;">
                    <div *ngIf="!earImages[i].value" class="prg-i">
                      <div class="prg-bar">
                        <div class="pg-value" [style.width]="earImages[i].progress"></div>
                      </div>
                      <p>Uploading...</p>
                    </div>
                    <img *ngIf="earImages[i].value" [src]="earImages[i].value | decodeUrl " class="p-0">
                    <button (click)="EarRemoveImg(i)" class="remove-i" style="width: 18px"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    <button class="btn-theme" (click)="setAllImage()"> Notify Claim</button>
    </div>
  </div>
</div>
