<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
   <img src="../../../../assets/vendor/images/loading.svg" alt="">
</div>
<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-home-tab">

   <div class="card-b ">


      <div class="card-b-head bb-light">
         <label>Manage Personal Details </label>
         <a [routerLink]="[ '/user-profile' ]" class="font-light-nm">Cancel</a>
      </div>

      <div class="card-b-body">
         <div class="user-pu">
            <img *ngIf="imageUrl !== ''" [src]="imageUrl | decodeUrl" alt="">
            <img *ngIf="imageUrl === ''" src="../assets/images/profile.PNG">
            <div class="user-img-up-btn">
               <input type="file" (change)="addDataItem($event)">
               <button class="btn-line-th"> Edit Profile Picture </button>
            </div>

         </div>
         <div class="user-p-info">
            <div class="row ">
               <div class="col-md-6 mb-3">
                  <mat-form-field class="tp-full-width">
                     <input required matInput placeholder="Name" [(ngModel)]="profile.userProfile.name" [formControl]="nameFormControl">
                     <mat-error *ngIf="nameFormControl.hasError('required')">
                        Name is <strong>required</strong>
                     </mat-error>
                  </mat-form-field>
               </div>

               <div class="col-md-6 mb-3">
                  <mat-form-field class="tp-full-width">
                     <input required matInput placeholder="NIC Number" [(ngModel)]="profile.userProfile.nicNumberDeafult"
                        [formControl]="nicFormControl">
                     <mat-error *ngIf="nicFormControl.hasError('required')">
                        NIC Number is <strong>required</strong>
                     </mat-error>
                     <mat-error *ngIf="nicFormControl.hasError('pattern')">
                        NIC Number is <strong>invalid</strong>
                     </mat-error>
                  </mat-form-field>
               </div>

               <div class="col-md-12 mb-3">

                  <mat-form-field>
                     <textarea required matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" *ngIf="profile.address === null" matInput placeholder="Address"
                        [(ngModel)]="address" [formControl]="addressFormControl" ></textarea>
                     <textarea required matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" *ngIf="profile.address !== null" matInput placeholder="Address"
                        [(ngModel)]="profile.address.address" [formControl]="addressFormControl" ></textarea>
                    <mat-error *ngIf="nicFormControl.hasError('required')">
                      Address is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
               </div>

               <div class="col-md-6 mb-3">
                  <mat-form-field class="tp-full-width">
                     <input required matInput placeholder="Mobile Number" [(ngModel)]="profile.userProfile.mobleNumber"
                        [formControl]="mobileNumberFormControl">
                     <mat-error *ngIf="mobileNumberFormControl.hasError('required')">
                        Mobile Number is <strong>required</strong>
                     </mat-error>
                     <mat-error *ngIf="mobileNumberFormControl.hasError('pattern')">
                        Mobile Number is <strong>invalid</strong>
                     </mat-error>
                  </mat-form-field>
               </div>

               <div class="col-md-6 mb-3">
                  <mat-form-field class="tp-full-width">
                     <input matInput placeholder="Email" [(ngModel)]="profile.userProfile.email" [formControl]="emailFormControl">
                     <mat-error *ngIf="emailFormControl.hasError('email') && profile.userProfile.email">
                        Please enter a valid email address
                     </mat-error>
                  </mat-form-field>
               </div>


               <div class="col-md-6 mb-3">
                  <mat-form-field>
                     <mat-select placeholder="Select Gender" [(ngModel)]="genderType">
                        <mat-option *ngFor="let genderType of genderTypes" [value]="genderType.code">
                           {{genderType.description | titlecase}}
                        </mat-option>
                     </mat-select>
                     <!-- <mat-error *ngIf="genderFormControl.hasError('required')">
                        Gender is <strong>required</strong>
                     </mat-error> -->
                  </mat-form-field>
               </div>

               <div class="col-md-6 mb-3">
                  <mat-form-field>
                     <mat-select placeholder="Select Language" [(ngModel)]="language">
                        <mat-option *ngFor="let language of languages" [value]="language.code">
                           {{language.description | titlecase}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>

               <div class="col-md-6 mb-3">
                  <mat-form-field>
                     <mat-select placeholder="Select Marital Status" [(ngModel)]="maritalStatus">
                        <mat-option *ngFor="let maritalStatus of maritalStatuses" [value]="maritalStatus.code">
                           {{maritalStatus.description | titlecase}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>

               <div class="col-md-6 mb-3">
                  <mat-form-field>
                     <input matInput [matDatepicker]="picker3" [(ngModel)]="dateOfBirth" placeholder="Date of Birth">
                     <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                     <mat-datepicker #picker3></mat-datepicker>
                     <!-- <mat-error *ngIf="dateOfBirthFormControl.hasError('required')">
                        Date of Birth is <strong>required</strong>
                     </mat-error> -->
                  </mat-form-field>
               </div>
            </div>

            <button (click)="updateUserProfile();" [disabled]="addressFormControl.hasError('required') || nicFormControl.hasError('pattern') ||  nameFormControl.hasError('required') || nicFormControl.hasError('required') || mobileNumberFormControl.hasError('required') || mobileNumberFormControl.hasError('pattern') || emailFormControl.hasError('pattern') "
               class="btn-theme-lg mb-2">Save Updates</button>

         </div>


      </div>





   </div>



   <div class="card-b my-4" *ngIf="!viewChangedPassword">
      <div class="card-b-head">
         <label>Change Password </label>
         <button class="btn-light-round" (click)="viewChangedPassword = true"> Change </button>
      </div>
   </div>
   <div class="card-b my-4" *ngIf="viewChangedPassword">
      <div class="card-b-head bb-light">
         <label>Update Password </label>
         <a style="cursor: pointer;" (click)="viewChangedPassword = false" class="font-light-nm">Cancel</a>

      </div>
      <div class="card-b-body">
         <div class="row">
            <div class="col-md-6">
               <mat-form-field>
                  <input [(ngModel)]="oldPassword" matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                     [attr.aria-pressed]="hide">
                     <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

               </mat-form-field>
            </div>
            <div class="col-md-6">
               <mat-form-field  [ngClass]="{'mat-form-field-invalid ng-invalid' : (!isValidatedPassword) && newPassword.length > 7}">

                  <input (keyup)="validatePassword();" [(ngModel)]="newPassword" matInput placeholder="New Password"
                     [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                     [attr.aria-pressed]="hide">
                     <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <label style="color:red; top: 0px; font-size: 12px; right: -25px; top: -11px;" class="form-help-text" *ngIf="(!isValidatedPassword) && newPassword.length > 7">
                     Week Password
                  </label>
               </mat-form-field>
               <label class="form-check-label " id="pw-help-pop" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  How to select a password?
               </label>
               <div class="dropdown-menu password-tip" aria-labelledby="pw-help-pop">
                  <h4>Include in password</h4>
                  <label>Minimum of 8 characters<i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedMinimum8Characters}"></i>
                  </label>
                  <label>Uppercase letter <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedUppsercaseLetter}"></i>
                  </label>
                  <label>Lowercase letter <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedLowerCaseLetter}"></i>
                  </label>
                  <label>Number <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedNumber}"></i> </label>
                  <label>symbol <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedSymbol}"></i> </label>
               </div>


            </div>

         </div>
         <button (click)="updatePassword()" class="btn-theme-lg mb-2" [disabled]="!(isValidatedPassword && oldPassword !== '')">Update
            Password</button>
      </div>
   </div>
</div>
