.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%; }

.tp-full-width {
  width: 100%; }

.form-check-label {
  cursor: pointer; }

.password-tip {
  padding: 25px;
  width: 236px;
  -webkit-box-shadow: 0 8px 14px 0 rgba(67, 103, 243, 0.07);
  box-shadow: 0 8px 14px 0 rgba(67, 103, 243, 0.07);
  border: 1px solid #e6ebf7; }
  .password-tip label {
    display: block;
    font-size: 13px;
    font-weight: 200;
    margin-top: 15px;
    color: #566596; }
  .password-tip h4 {
    font-size: 13px;
    font-weight: 600; }
  .password-tip i {
    float: right;
    color: #e3e8f7;
    font-size: 15px !important; }
  .password-tip .chk-included {
    color: #5365e8; }
  .password-tip .text-error {
    color: green; }
