<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
            <img src="../../../../assets/vendor/images/loading.svg" alt="">
          </div>
<div class="tab-pane fade active show" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">




      <div class="form-new-opt mb-4">
            <h6>Contacts</h6>
            <button [routerLink]="[ '/user-profile/add-contact' ]" class="btn-theme-lg">Add New Contact</button>
      </div>



      <div class="card-b">
            <div class="card-b-head bb-light">
                  <label> Manage Contact </label>
                  <a [routerLink]="[ '/user-profile/contact' ]" class="font-light-nm">Cancel</a>
            </div>
            <div class="card-b-body">

                  <div class="row">
                        <div class="col-md-6">
                              <mat-form-field>
                                    <mat-select #contactTypeSelect placeholder="Select Contact types"
                                          [(ngModel)]="contactType" [formControl]="contactTypeFormControl">
                                          <mat-option *ngFor="let contactType of contactTypes" [value]="contactType.code">
                                                {{contactType.description}}
                                          </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="contactTypeFormControl.hasError('required')">
                                          Contact Type is <strong>required</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="contactType === '' || contactType === 'CSKYP'">
                              <mat-form-field class="tp-full-width">
                                    <input (input)="validateFeilds()" [formControl]="contactNoFormControl" matInput
                                          placeholder="Contact Details" [(ngModel)]="contactNumber">
                                    <mat-error *ngIf="contactNoFormControl.hasError('required')">
                                          Contact Number is <strong>required</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="contactType === 'CPHON' || contactType === 'CMOBL'">
                              <mat-form-field class="tp-full-width" [ngClass]="{'mat-form-field-invalid ng-invalid': appyClass}">
                                    <input (input)="validateFeilds()" [formControl]="phoneNumberFormControl" matInput
                                          placeholder="Contact Details" [(ngModel)]="contactNumber">
                                    <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
                                          Contact Number is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="phoneNumberFormControl.hasError('pattern')">
                                          Contact number is <strong>invalid</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="contactType === 'CEMIL'">
                              <mat-form-field class="tp-full-width" [ngClass]="{'mat-form-field-invalid ng-invalid': appyClass}">
                                    <input (input)="validateFeilds()" [formControl]="emailFormControl" matInput
                                          placeholder="Contact Details" [(ngModel)]="contactNumber">
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                          Contact Number is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('email')">
                                          Email is <strong>invalid</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>


                  </div>
            </div>
      </div>

      <div class="mt-4">
            <button *ngIf="!router.url.includes('user-profile/manage-contact')" class="btn-theme-lg " (click)="savePhoneNumber()"
                  [disabled]="!isValidated">Save
                  New Contact</button>
            <button *ngIf="router.url.includes('user-profile/manage-contact')" class="btn-theme-lg " (click)="updatePhoneNumber()"
                  [disabled]="!isValidated">Update
                  Contact</button>

            <a *ngIf="router.url.includes('user-profile/manage-contact')" (click)="deletePhoneNumber(contactSequnce)"
                  class="link-btn-sm ml-4">Delete Number</a>
      </div>

</div>
