<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
      <img src="../../../../assets/vendor/images/loading.svg" alt="">
    </div>

<div *ngIf="displayingView === 'list-form'" class="tab-content" id="v-pills-tabContent">
   <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-home-tab">

      <div class="card-b ">


         <div class="card-b-head bb-light">
            <label> Personal Details </label>
            <!-- <a (click)="displayingView='manage-form'"  class="font-light-nm">Manage</a> -->
            <a [routerLink]="[ '/user-profile/manage-profile' ]" class="font-light-nm">Manage</a>

         </div>

         <div class="card-b-body">
            <div class="user-pu">
               <img *ngIf="imageUrl !== ''" [src]="imageUrl | decodeUrl"  alt="">
                <img *ngIf="imageUrl === ''" src="../assets/images/profile.PNG">
               <label> Last updated on {{ lastUpdatedDate }}</label>
            </div>
            <div class="user-p-info">
               <div class="row">

                  <div class="col-md-6 mb-3">
                     <div class="row no-gutters">
                        <div class="col-md-6">
                           <label class="font-th-size font-th-l">Name</label>
                        </div>
                        <div class="col-md-6">
                           <label class="font-th-size font-th-db">{{name | titlecase}}</label>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">NIC Number</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{nicNumberDeafult | titlecase}}</label>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">Address</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{address | titlecase}}</label>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">Mobile Number</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{mobleNumber | titlecase}}</label>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">Email</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{email}}</label>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">Gender</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{genderDescription | titlecase}}</label>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">Language</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{languageDescription | titlecase}}</label>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">Marital Status</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{maritalStatusDescription | titlecase}}</label>
                           </div>
                        </div>
                  </div>
                  <div class="col-md-6 mb-3">
                        <div class="row no-gutters">
                           <div class="col-md-6">
                              <label class="font-th-size font-th-l">Date of Birth</label>
                           </div>
                           <div class="col-md-6">
                              <label class="font-th-size font-th-db">{{dateOfBirth}}</label>
                           </div>
                        </div>
                  </div>


               </div>
            </div>

         </div>





      </div>

      <div class="card-b my-4" *ngIf="!viewChangedPassword">
            <div class="card-b-head">
               <label>Change Password </label>
               <button class="btn-light-round" (click)="viewChangedPassword = true"> Change </button>
            </div>
         </div>
         <div class="card-b my-4" *ngIf="viewChangedPassword">
            <div class="card-b-head bb-light">
               <label>Update Password </label>
               <a style="cursor: pointer;" (click)="viewChangedPassword = false" class="font-light-nm">Cancel</a>

            </div>
            <div class="card-b-body">
               <div class="row">
                  <div class="col-md-6">
                     <mat-form-field>
                        <input [(ngModel)]="oldPassword" matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                           [attr.aria-pressed]="hide">
                           <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>

                     </mat-form-field>
                  </div>
                  <div class="col-md-6">
                     <mat-form-field  [ngClass]="{'mat-form-field-invalid ng-invalid' : (!isValidatedPassword) && newPassword.length > 7}">

                        <input (keyup)="validatePassword();" [(ngModel)]="newPassword" matInput placeholder="New Password"
                           [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                           [attr.aria-pressed]="hide">
                           <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <label style="color:red; top: 0px; font-size: 12px; right: -25px; top: -11px;" class="form-help-text" *ngIf="(!isValidatedPassword) && newPassword.length > 7">
                           Week Password
                        </label>
                     </mat-form-field>
                     <label class="form-check-label " id="pw-help-pop" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        How to select a password?
                     </label>
                     <div class="dropdown-menu password-tip" aria-labelledby="pw-help-pop">
                        <h4>Include in password</h4>
                        <label>Minimum of 8 characters<i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedMinimum8Characters}"></i>
                        </label>
                        <label>Uppercase letter <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedUppsercaseLetter}"></i>
                        </label>
                        <label>Lowercase letter <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedLowerCaseLetter}"></i>
                        </label>
                        <label>Number <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedNumber}"></i> </label>
                        <label>symbol <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedSymbol}"></i> </label>
                     </div>


                  </div>

               </div>
               <button (click)="updatePassword()" class="btn-theme-lg mb-2" [disabled]="!(isValidatedPassword && oldPassword !== '')">Update
                  Password</button>
            </div>


   </div>



</div>

</div>
