<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Claims</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Claims</h3>
        <p>Put your requirements to see if you will profit by planting the crops</p>
      </div>
      <button class="btn-theme-lg" [routerLink]="['/claim']">Add New Claim</button>
    </div>
    <div class="line-fluid-row bb-light "></div>
    <div class="row">
      <div class="col-md-4 br-light">
        <div>
          <div class="li-search-op ">
            <div class="drop-trans search-dt" style="width: 145px">
              <mat-form-field>
                <div class="dpt-arrow">
                  <i class="fas fa-chevron-down"></i>
                </div>
                <mat-select (selectionChange)="searchByFeild ()" [(ngModel)]="selectedValue">
                  <mat-option value="CustomerName">Customer Name</mat-option>
                  <mat-option value="PolicyNumber">Policy Number</mat-option>
                  <mat-option value="ClaimNumber">Claim Number</mat-option>
                  <mat-option value="RiskName">Risk Name</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="search-trans">
              <i class="fas fa-search"></i>
              <input type="input" (keyup)="searchByFeild()" [(ngModel)]="searchValue"
                     placeholder="Search for keywords">
            </div>
          </div>
          <div class="bb-light line-fluid-row mb-3"></div>
          <div class="policy-list "
               style="overflow-y: scroll; height:400px; overflow-x:hidden; display: block;">
            <div class="nav flex-column " aria-orientation="vertical"
                 infinite-scroll
                 [infiniteScrollDistance]="scrollDistance"
                 [infiniteScrollUpDistance]="scrollUpDistance"
                 [infiniteScrollThrottle]="throttle"
                 [infiniteScrollContainer]="'.policy-list '"
                 [fromRoot]="fromRoot"
                 (scrolled)="onScrollDown($event)">

              <a class="nav-link  active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                 aria-controls="v-pills-home" aria-selected="true" (click)="onSelectList(claim)"
                 *ngFor="let claim of ClaimList; let i = index" [ngClass]="{'active': claim.active}" >

                <div class="policy-li-item">
                  <label *ngIf="claim.claimNumber" class="pli-l3">{{claim.claimNumber}}</label>
                  <label *ngIf="!claim.claimNumber" class="pli-l3">{{'NOTIFICATION'}}</label>
                  <label *ngIf="!claim.claimNumber" class="psn-11">{{claim.riskName}}</label>
                  <label *ngIf="!claim.claimNumber">{{claim.lossDate | date: ' d MMMM y'}} </label>
                  <label class="pli-l1">{{claim.customerName}}</label>
                  <label class="pli-l2">{{claim.policyNumber}}</label>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card-b px-4 py-3 mt-3">
              <div class="p-inofo-head">
                <div class="pih-status-no">
                  <label *ngIf="!selectedClaim.claimNumber" class="pli-l3  d-block ">{{'NOTIFICATION'}}</label>
                  <label *ngIf="!selectedClaim.claimNumber" class="psn-1 d-block" >{{selectedClaim.riskName}}</label>
                  <label *ngIf="!selectedClaim.claimNumber">{{selectedClaim.lossDate | date: ' d MMMM y'}}</label>
                    <label>{{currntClaimSummary.claimNumber}}</label>
                  <label *ngIf="currntClaimSummary.customerName" class="psn-1">{{currntClaimSummary.customerName}}</label>
                  <label>{{currntClaimSummary.policyNumber}}</label>
                </div>
              </div>
              <div class="bb-light my-3"></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l">Notified Date</label>
                    </div>
                    <div class="col-md-6">
                      <label
                        class="font-sm-b font-th-d">{{currntClaimSummary.notifiedDate | date: ' d MMMM y' }}</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l">Loss Date</label>
                    </div>
                    <div class="col-md-6">
                      <label class="font-sm-b font-th-d">{{currntClaimSummary.lossDate | date: ' d MMMM y' }}</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l">Type of Loss</label>
                    </div>
                    <div class="col-md-6">
                      <label class="font-sm-b font-th-d">{{currntClaimSummary.lossTypeDescription | titlecase}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l">Cause of Death</label>
                    </div>
                    <div class="col-md-6">
                      <label
                        class="font-sm-b font-th-d">{{currntClaimSummary.causeOfLossDescription | titlecase}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-12" >
                <div class="card-b mb-3">
                  <mat-expansion-panel [expanded]="true" >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Policy Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="mat-acc-body bt-light py-3">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="row no-gutters">
                            <div class="col-md-6">
                              <label class="font-sm font-th-l">Policy Number</label>
                            </div>
                            <div class="col-md-6">
                              <label class="font-sm-b font-th-d" *ngIf="policyClaimSummary">{{policyClaimSummary.policyNumber}}</label>

                            </div>
                          </div>
                          <div class="row no-gutters">
                            <div class="col-md-6">
                              <label class="font-sm font-th-l">Class</label>
                            </div>
                            <div class="col-md-6">
                              <label
                                class="font-sm-b font-th-d" *ngIf="policyClaimSummary" >{{policyClaimSummary.classDescription | titlecase}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="row no-gutters">
                            <div class="col-md-6">
                              <label class="font-sm font-th-l">Product</label>
                            </div>
                            <div class="col-md-6">
                              <label
                                class="font-sm-b font-th-d" *ngIf="policyClaimSummary" >{{policyClaimSummary.productDescription | titlecase }}</label>
                            </div>
                          </div>
                          <div class="row no-gutters">
                            <div class="col-md-6">
                              <label class="font-sm font-th-l">Policy Period</label>
                            </div>
                            <div class="col-md-6">
                              <label
                                class="font-sm-b font-th-d" *ngIf="policyClaimSummary" >{{policyClaimSummary.policyFromDate | date: ' d MMMM y'}}
                                to {{policyClaimSummary.policyEndDate | date: ' d MMMM y'}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>

              <div class="col-md-12">
                <div class="card-b mb-3">
                  <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Risk Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="collapse show" id="collapse-p4">
                      <div class="acc-contain bt-light px-4">
                        <div class="row my-3">
                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-6">
                                <label class="font-sm font-th-l">Tag Number</label>
                              </div>
                              <div *ngIf="policyClaimSummary != null && policyClaimSummary.risk != null"
                                   class="col-md-6">
                                <label
                                  class="font-sm-b font-th-d" *ngIf="policyClaimSummary" >{{policyClaimSummary.risk.riskName | titlecase}}</label>
                                </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-6">
                                <label class="font-sm font-th-l">Livestock Type</label>
                              </div>
                              <div class="col-md-6">
                                <label class="font-sm-b font-th-d" *ngIf="policyClaimSummary">{{livestock | titlecase}}</label>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-6">
                                <label class="font-sm font-th-l">Breed</label>
                              </div>
                              <div class="col-md-6">
                                <label class="font-sm-b font-th-d" *ngIf="policyClaimSummary">{{breed | titlecase}} </label>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-6">
                                <label class="font-sm font-th-l">Gender</label>
                              </div>
                              <div class="col-md-6">
                                <label class="font-sm-b font-th-d" *ngIf="policyClaimSummary">{{gender | titlecase}}</label>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-6">
                                <label class="font-sm font-th-l">Age</label>
                              </div>
                              <div class="col-md-6">
                                <label class="font-sm-b font-th-d" *ngIf="policyClaimSummary">{{age | number}}</label>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-6">
                                <label class="font-sm font-th-l">Used for</label>
                              </div>
                              <div class="col-md-6">
                                <label class="font-sm-b font-th-d" *ngIf="policyClaimSummary">{{usage | titlecase}}</label>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="row no-gutters">
                              <div class="col-md-6">
                                <label class="font-sm font-th-l">Owner Name</label>
                              </div>
                              <div class="col-md-6">
                                <label class="font-sm-b font-th-d" *ngIf="policyClaimSummary">{{owner | titlecase}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>

              <div class="col-md-6 pr-0">
                <div class="card-b mb-3">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Assesments
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="collapse show" id="collapse-p1">
                      <div class="acc-contain bt-light px-4">
                        <div class="acc-list-t1 bb-light" *ngFor="let assesment of assessmentReportsSummary ">
                          <div class="alt-t1">
                            <label class="font-b font-dk">{{currntClaimSummary.claimNumber}}</label>
                            <label>{{assesment.date | date: ' MMM d ' }}</label>
                          </div>
                          <label class="label-badge-finished">{{assessmentType}}</label>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>

                <div class="card-b mb-3">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Payments
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="collapse show" id="collapse-p5">
                      <div class="acc-contain bt-light px-4">
                        <div class="acc-list-t1 bb-light">
                          <div class="alt-t1">
                            <label class="font-b font-dk">Claim Paid November</label>
                            <label>Jan 3</label>
                          </div>
                          <a href="" class="font-b font-dk font-nm"><span class="font-xsm">LKR</span> 88,932</a>
                        </div>
                        <div class="acc-list-t1 bb-light">
                          <div class="alt-t1">
                            <label class="font-b font-dk">Claim Paid November</label>
                            <label>Jan 3</label>
                          </div>
                          <a href="" class="font-b font-dk font-nm"><span class="font-xsm">LKR</span> 88,932</a>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>

                <div class="card-b mb-3">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Actions
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="collapse show" id="collapse-p6" *ngFor="let action of ActionClaimSummary ">
                      <div class="acc-contain bt-light px-4">
                        <div class="acc-list-t1 bb-light">
                          <div class="alt-t1">
                            <label class="font-light-13"> {{action.date | date: ' MMM d ' }}</label>
                          </div>
                          <a href="" class="font-b font-dk font-nm">{{action.description | titlecase}}</a>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card-b mb-3">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{currntClaimSummary.images.length}}  Photos Added
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="collapse show" id="collapse-p2">
                      <div class="acc-contain bt-light px-4 pt-3">
<!--                        Front-->
                        <label class="mb-0 font-dk-14">Front</label>
                        <div class="p-im-grid mb-3">
                          <div class="row no-gutters">
                            <div class="col-4" *ngFor="let frontImg of frontImages">
                              <img alt="Image" [src]="frontImg.imageUrl | decodeUrl">
                            </div>
                          </div>
                        </div>
<!--                        back-->
                        <label class="mb-0 font-dk-14">Back</label>
                        <div class="p-im-grid mb-3">
                          <div class="row no-gutters">
                            <div class="col-4" *ngFor="let BackImg of backImages">
                              <img alt="Image" [src]="BackImg.imageUrl | decodeUrl">
                            </div>
                          </div>
                        </div>
<!--                        Left-->
                        <label class="mb-0 font-dk-14">Left</label>
                        <div class="p-im-grid mb-3">
                          <div class="row no-gutters">
                            <div class="col-4" *ngFor="let leftImg of leftImages">
                              <img alt="Image" [src]="leftImg.imageUrl | decodeUrl">
                            </div>
                          </div>
                        </div>
<!--                        Right-->
                        <label class="mb-0 font-dk-14">Right</label>
                        <div class="p-im-grid mb-3">
                          <div class="row no-gutters">
                            <div class="col-4" *ngFor="let rightImg of rightImages">
                              <img alt="Image" [src]="rightImg.imageUrl | decodeUrl">
                            </div>
                            <div class="col-4">
                            </div>
                          </div>
                        </div>

                        <label class="mb-0 font-dk-14">Ears</label>
                        <div class="p-im-grid mb-3">
                          <div class="row no-gutters">
                            <div class="col-4" *ngFor="let earsImg of earImages">
                              <img alt="Image" [src]="earsImg.imageUrl | decodeUrl">
                            </div>
                            <div class="col-4">
                            </div>
                          </div>
                        </div>
<!--                        Other-->
                        <label class="mb-0 font-dk-14">Other</label>
                        <div class="p-im-grid mb-3">
                          <div class="row no-gutters">
                            <div class="col-4" *ngFor="let otherImg of otherImage">
                              <img alt="Image" [src]="otherImg.imageUrl | decodeUrl">
                            </div>
                            <div class="col-4">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade " id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          </div>
          <div class="tab-pane fade " id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          </div>
        </div>
      </div>
    </div>
  </div>
</app-header>
