<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li aria-current="page" class="breadcrumb-item active">Market Price</li>
      </ol>
    </nav>
    <div class="page-title-header mb-5 pt-3 px-3">
      <h3>See the Markets Prices</h3>
      <p>Check the daily rates of vegetables</p>
      <!-- Button trigger modal -->
    </div>
    <div class="search-box card-b  ">

      <div class="search-box-bg-shade px-4 py-3">
        <div class="row no-gutters">
          <div class="col-5">
            <label class="font-b font-nm mb-0">Select Markets</label>
          </div>
          <div class="col-7">
            <div class="row no-gutters">
              <div class="col-4 bl-light pl-3">
                <div class="search-drop d-flex">
                  <!-- Check box1 -->
                  <label class="form-check">
                    <input (click)='checkMarket1()' [checked]='isMarket1Active' type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <!-- dropdown market 2 -->
                  <div class="d-block drop-theme">
                    <button [disabled]='!isMarket1Active' aria-expanded="false" aria-haspopup="true"
                            class="btn-no-bg dropdown-toggle" data-toggle="dropdown" type="button">
                      <div [ngStyle]="{'color': isMarket1Active ? 'black' : 'gray' }" class="drop-c">
                        {{selectedMarket1.description | titlecase}}<i class="fas fa-chevron-down"></i>
                      </div>
                    </button>
                    <div class="dropdown-menu">
                      <li (click)="setMarket1(market.code, market.description)" *ngFor="let market of markets; index as i;"
                          class="dropdown-item">
                        {{market.description | titlecase}}</li>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 bl-light pl-3">
                <div class="search-drop d-flex">
                  <!-- Check box2 -->
                  <label class="form-check">
                    <input (click)='checkMarket2()' [checked]='isMarket2Active' [disabled]='!isMarket1Active'
                           type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <div class="d-block drop-theme">
                    <button [disabled]='!isMarket2Active' aria-expanded="false" aria-haspopup="true"
                            class="btn-no-bg dropdown-toggle" data-toggle="dropdown" type="button">
                      <div [ngStyle]="{'color': isMarket2Active ? 'black' : 'gray' }" class="drop-c">
                        {{selectedMarket2.description | titlecase}}<i class="fas fa-chevron-down"></i>
                      </div>
                    </button>
                    <!-- dropdown market 2 -->
                    <div class="dropdown-menu">
                      <li (click)="setMarket2(market.code, market.description)" *ngFor="let market of markets; index as i;"
                          class="dropdown-item">
                        {{market.description | titlecase}}</li>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 bl-light pl-3">
                <div class="search-drop d-flex">

                  <!-- Check box3 -->
                  <label class="form-check">
                    <input (click)='checkMarket3()' [checked]='isMarket3Active' [disabled]='!isMarket2Active'
                           type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <div class="d-block drop-theme">
                    <button [disabled]='!isMarket3Active' aria-expanded="false" aria-haspopup="true"
                            class="btn-no-bg dropdown-toggle" data-toggle="dropdown" type="button">
                      <div [ngStyle]="{'color': isMarket3Active ? 'black' : 'gray' }" class="drop-c">
                        {{selectedMarket3.description | titlecase}}<i class="fas fa-chevron-down"></i>
                      </div>
                    </button>
                    <!-- dropdown market 3 -->
                    <div class="dropdown-menu">
                      <li (click)="setMarket3(market.code, market.description)" *ngFor="let market of markets; index as i;"
                          class="dropdown-item">
                        {{market.description | titlecase}}</li>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bt-light"></div>
      <div class="row no-gutters px-4 py-3">
        <div class="col-md-4">
          <div class="search-field ">
            <label> Search </label>
            <input (keyup)="searchByName()" [(ngModel)]="searchInput" placeholder="Let us know what you want to read…"
                   type="text">
          </div>
        </div>
        <div class="col text-right">
          <button (click)="search()" *ngIf="true" class="btn-theme">Search</button>
        </div>
      </div>


    </div>
    <div class="px-4 my-4">
      <div class="row no-gutters">
        <div class="col-5">
          <div class="row no-gutters">
            <div class="col-4">
              <div class=" drop-theme">
                <button aria-expanded="false" aria-haspopup="true" class="btn-no-bg dropdown-toggle" data-toggle="dropdown"
                        type="button">
                  <div class="drop-c">
                    {{selectedCategory.description | titlecase}} <i class="fas fa-chevron-down"></i>
                  </div>
                </button>
                <!-- dropdown category -->
                <div class="dropdown-menu">
                  <li (click)="setCategory(null,'All Categories')" class="dropdown-item">All Categories</li>
                  <li (click)="setCategory(category.code,category.description)" *ngFor="let category of categories; index as i;"
                      class="dropdown-item">
                    {{category.description | titlecase}}</li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="row no-gutters">
            <div class="col-4 pl-3">
              <div class="d-flex">
                <div class="th-pill">
                  WHOLESALE
                </div>
                <div class="th-pill">
                  RETAIL
                </div>
              </div>

            </div>
            <div class="col-4 pl-3">
              <div class="d-flex ">
                <div class="th-pill">
                  WHOLESALE
                </div>
                <div class="th-pill">
                  RETAIL
                </div>
              </div>

            </div>
            <div class="col-4 pl-3">
              <div class="d-flex">
                <div class="th-pill">
                  WHOLESALE
                </div>
                <div class="th-pill">
                  RETAIL
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-list">
      <!-- no data msg -->
      <div *ngIf=" isMarket1Set && displayMarketData[0]==null">
        <h2>NO ANY DATA FOUND </h2>
      </div>
      <!-- loading svg -->
      <div *ngIf="!isDataLoaded" class="agri-loading" style="text-align: center; ">
        <img alt="" src="../../../../assets/vendor/images/loading.svg">
      </div>
      <div *ngFor='let data of displayMarketData' @fade class="tl-row px-4 py-2">
        <div class="row no-gutters ">
          <div class="col-5">
            <div class="item-in">
              <img *ngIf="data.imagePath" [src]="data.imagePath | decodeUrl" alt="">
              <label>{{data.subCategoryDescription | titlecase}}</label>
            </div>
          </div>
          <div class="col-7">
            <div class="row no-gutters h-100">
              <div class="col-4 d-flex align-items-center bl-light pl-3">
                <div *ngIf="isMarket1Set" class="item-p">
                  <label *ngIf="!data.wholesalePrice1 && !data.retailPrice1"> <small>This product is not available in
                    this
                    market at the moment </small> </label>
                  <label *ngIf="data.wholesalePrice1"> <small>{{data.wholesaleUnit1}}</small>
                    {{data.wholesalePrice1}} </label>
                  <label *ngIf="data.retailPrice1"> <small>{{data.retailUnit1}}</small>
                    {{data.retailPrice1}} </label>
                </div>
              </div>
              <div class="col-4 d-flex align-items-center bl-light pl-3">
                <div *ngIf="isMarket2Set" class="item-p">
                  <label *ngIf="!data.wholesalePrice2 && !data.retailPrice2"> <small>This product is not available in
                    this
                    market at the moment </small> </label>
                  <label *ngIf="data.wholesalePrice2 || data.retailPrice2"> <small>{{data.wholesaleUnit2}}</small>
                    {{data.wholesalePrice2}} </label>
                  <label *ngIf="data.wholesalePrice2 || data.retailPrice2"> <small>{{data.retailUnit2}}</small>
                    {{data.retailPrice2}} </label>
                </div>
              </div>
              <div class="col-4 d-flex align-items-center bl-light pl-3">
                <div *ngIf="isMarket3Set" class="item-p">
                  <label *ngIf="!data.wholesalePrice3 && !data.retailPrice3"> <small>This product is not available in
                    this
                    market at the moment </small> </label>
                  <label *ngIf="data.wholesalePrice3 || data.retailPrice3"> <small>{{data.wholesaleUnit3}}</small>
                    {{data.wholesalePrice3}} </label>
                  <label *ngIf="data.wholesalePrice3 || data.retailPrice3"> <small>{{data.retailUnit3}}</small>
                    {{data.retailPrice3}} </label>
                </div>
              </div>
            </div>
            <div class="col-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-header>
