<div class="form-list-v-head mb-3 mt-5 px-4">
  <div class="d-flex justify-content-between">
    <h6>Edit Customer</h6>
    <a (click)="onCancel()" class="font-light-nm">Cancel</a>
  </div>
</div>


  <form [formGroup]="customerForm" (ngSubmit)="postCustomer()">


    <div class="card-b ">

      <div class="card-b-body py-0 pt-2">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="C">Customer</mat-option>
                <mat-option value="P">Prospect</mat-option>
              </mat-select>
              <mat-error *ngIf="customerForm.controls['type'].hasError('required')">Type is  <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>

    <div class="card-b my-4">
      <div class="card-b-body">
        <div class="row">

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="name" placeholder="Name" required>
              <mat-error *ngIf="customerForm.controls['name'].hasError('required')">Name is  <strong>required</strong></mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="nic" placeholder="NIC Number" required>
              <mat-error *ngIf="customerForm.controls['nic'].hasError('required')">NIC is  <strong>required</strong></mat-error>
              <mat-error *ngIf="customerForm.controls['nic'].hasError('pattern')">NIC is  <strong>not valid</strong></mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="address" placeholder="Address" required>
              <mat-error *ngIf="customerForm.controls['address'].hasError('required')">Address is  <strong>required</strong></mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="mobile" placeholder="Mobile Number" required>
              <mat-error *ngIf="customerForm.controls['mobile'].hasError('required')">Mobile number is  <strong>required</strong></mat-error>
              <mat-error *ngIf="customerForm.controls['mobile'].hasError('pattern')">Mobile number is  <strong>not valid</strong></mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="email" placeholder="Email" >
              <mat-error *ngIf="customerForm.controls['email'].hasError('pattern')">Email is  <strong>not valid</strong></mat-error>
            </mat-form-field>
          </div>


          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="MALE">Male</mat-option>
                <mat-option value="FEMAL">Female</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


        </div>

      </div>
    </div>

    <button mat-button class="btn-theme-lg mb-2">Continue</button>

  </form>








