<div class="msg-pop d-none">
  <label for=""><i class="fas fa-check-circle mr-2"></i> Article has been deleted now please have a look.</label>
</div>


<!-- Page Content -->


<div class="sign-contain d-md-flex flex-sm-row-reverse">
  <div class="s-img-sec">

  </div>
  <div class="s-form-sec">
    <br>
    <div class="sel-language">


      <button class="btn-no-bg " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="drop-c">
          <img src="../assets/vendor/images/lang-kb.png" alt="">
        </div>
      </button>


      <div class="dropdown-menu dropdown-menu-right">
          <p>Select Language</p>
        <div (click)="changeLang('en')" class="li-item-space">
          <a  class="dropdown-item">English</a>
          <i class="fas " [ngClass]="{'fa-check-circle': checkedEng, 'fa-circle': !checkedEng}"></i>
        </div>
        <div (click)="changeLang('sin')" class="li-item-space">
          <a  class="dropdown-item">Sinhala</a>
          <i class="fas " [ngClass]="{'fa-check-circle': checkedSin, 'fa-circle': !checkedSin}"></i>
        </div>
        <div (click)="changeLang('ta')" class="li-item-space">
          <a  class="dropdown-item">Tamil</a>
          <i class="fas " [ngClass]="{'fa-check-circle': checkedTam, 'fa-circle': !checkedTam}"></i>
        </div>
      </div>
    </div>

    <div class="c-box">

      <img src="../assets/vendor/images/logo.PNG" alt="" class="px-2 mb-3">
      <div class="cb-txt-main  px-3">
        <h2>{{"startup_header1" | translate}}<br> {{"startup_header2" | translate}}</h2>
        <p>{{"startup_description" | translate}}</p>
        <div>


        </div>
      </div>

      <div class="form-box">

        <div class="fb-header">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="flex-grow-1 d-flex align-items-center">
              <label class="font-dk-b mb-0" *ngIf="signupTitle === 'Farmer'">{{"signUpAsFarmer" | translate}} </label>
              <label class="font-dk-b mb-0" *ngIf="signupTitle === 'Agent'">{{"signUpAsAgent" | translate}}</label>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="s-farmer-tab" (click)="changeSignupTitle('F');" data-toggle="tab" href="#s-farmer"
                role="tab" aria-controls="s-farmer" aria-selected="true">{{"farmer"| translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="s-agent-tab" (click)="changeSignupTitle('A');" data-toggle="tab" href="#s-agent"
                role="tab" aria-controls="profile" aria-selected="false">{{"agent"| translate}}</a>
            </li>
          </ul>
          <div class="form-b-line"></div>
        </div>
        <div class="fb-content">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="s-farmer" role="tabpanel" aria-labelledby="home-tab">

              <div class="form-trans">
                <label for="farmer-name">{{"name" | translate}}</label>
                <input (focus)="validateFeilds();" (blur)="validateFeilds()" (keyup)="isFilledInputs()" [(ngModel)]="farmerName"
                  id="farmer-name" type="text" placeholder="{{'enter_your_name'| translate}}">
              </div>
              <div class="form-b-line"></div>
              <div class="form-trans" [ngClass]="{'field-invalid': isValidateNIC, 'field-valid': validNIC}">
                <label for="farmer-nic-number">{{"nic" | translate}}</label>
                <input (focus)="validateFeilds();" (blur)="validateFeilds();" (keyup)="isFilledInputs()" [(ngModel)]="farmerNicNumber"
                  id="farmer-nic-number" type="text" placeholder="{{'enter_your_nic_number'| translate}}">
                <label class="form-help-text" *ngIf="isValidateNIC">{{"invalid_nic_number" | translate}}</label>
              </div>
              <div class="form-b-line"></div>
              <div class="form-trans" [ngClass]="{'field-invalid': isValidateMobileNumber, 'field-valid': validMobileNumber}">
                <label for="farmer-mobile-number">{{"mobile_no" | translate}}</label>
                <input (focus)="validateFeilds();" (blur)="validateFeilds()" (keyup)="isFilledInputs()" [(ngModel)]="farmerMobileNumber"
                  id="farmer-mobile-number" type="text" placeholder="{{'enter_your_phone_number'| translate}}">
                <label class="form-help-text" *ngIf="isValidateMobileNumber">{{"invalid_mobile_number" | translate}}</label>
              </div>
            </div>
            <div class="tab-pane fade" id="s-agent" role="tabpanel" aria-labelledby="s-agent">
              <div class="form-trans">
                <label for="agent-code">{{"agentCode" | translate}}</label>
                <input (focus)="validateFeilds();" (blur)="validateFeilds()" (keyup)="isFilledInputs()" [(ngModel)]="agentCode"
                  id="agent-code" type="text" placeholder="{{'enter_your_agent_code'| translate}}">
              </div>
              <div class="form-b-line"></div>
              <div class="form-trans" [ngClass]="{'field-invalid': isValidAgenNIC, 'field-valid': validAgentNIC}">
                <label for="agent-nic-number">{{"nic" | translate}}</label>
                <input (focus)="validateFeilds();" (blur)="validateFeilds()" (keyup)="isFilledInputs()" [(ngModel)]="agentNicNumber"
                  id="agent-nic-number" type="text" placeholder="{{'enter_your_nic_number'| translate}}">
                <label class="form-help-text" *ngIf="isValidAgenNIC">{{"invalid_nic_number" | translate}}</label>
              </div>
              <div class="form-b-line"></div>
              <!-- <div class="form-trans">
                <label for="agent-name">Name</label>
                <input [(ngModel)]="agentName" id="agent-name"  type="text" placeholder="enter your phone number">
              </div> -->
            </div>
          </div>
        </div>
      </div>


      <div class="form-acc-text mt-4 px-3">
        <p>{{"allreadyHaveAccunt" | translate}}  <a [routerLink]="['/auth/sign_in']">{{"login_now" | translate}}</a> </p>
        <button class="btn-theme" (keyup.enter)="signup()" [disabled]="isDisabledContinueButton" (click)="signup();"> {{"continue" | translate}} </button>
      </div>


    </div>


    <div class="rights-text px-3 ">
      {{"all_rights_reserved" | translate}}
    </div>

  </div>

</div>
