<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
      <img src="../../../../assets/vendor/images/loading.svg" alt="">
    </div>
<div class="tab-pane fade active show"  id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                     
      <div class="form-new-opt mb-4">
         <h6>Contacts</h6>
         <button  [routerLink]="[ '/user-profile/add-contact' ]"  class="btn-theme-lg">Add New Contact</button>
      </div>

      <div class="row">
         <div class="col-md-6 mb-4" *ngFor="let contact of contacts">
            <div class="card-b px-4 py-3">
               <div class="user-more-info bb-light">
                  <h6>{{contact.contactTypeDescription | titlecase}}</h6>
                  <label>{{contact.contactNumber  }}</label>
               </div>
               <div class="mt-2">
                     <a [routerLink]="[ '/user-profile/manage-contact', contact.sequence ]"  class="link-btn-sm"> Edit </a>
                     <a (click)="deletePhoneNumber(contact.sequence)" class="link-btn-sm"> Remove </a>
               </div>
            </div>
         </div>
      </div>
   </div>

   