<div class="card-b px-4 py-3 mt-3">

  <div class="p-inofo-head">
    <div class="pih-status-no">
      <label class="psn-1">Q24944</label>

      <span class="stat-label-success">ACTIVE</span>
      <label class="psn-2">Weather Farm</label>
    </div>
    <a class="font-light-nm">Manage</a>
  </div>
  <div class="bb-light my-3"></div>

  <div class="row">

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Crop</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">Grain</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Weather Type</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">Rain</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Plan</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">Annual</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Weather Station</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">Galle</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Start Date</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">February 2019</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">End Date</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">February 2019</label>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Land Name</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">Tea Estate</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Address</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">78 Galle Estate, Kandy</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">Land size</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">8 Arces / 12 Perches</label>
        </div>
      </div>
    </div>



    <div class="col-md-6">
      <div class="row no-gutters">
        <div class="col-md-6">
          <label class="font-sm font-th-l">No. Units & Price</label>
        </div>
        <div class="col-md-6">
          <label class="font-sm-b font-th-d">8 Units / LKR 22 </label>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row my-3">

  <div class="col-md-12">
    <div class="card-b p-3">
      <div class="d-flex justify-content-between">
        <label class="font-dk-b mb-0">Total Premium</label>
        <label class="font-dk-b mb-0"> <small class="font-xsm">LKR</small> 98,835 </label>
      </div>

    </div>
  </div>
</div>
