.outstnd-li-item{
    label{
        cursor: pointer;
    }
}

 .pli-l3 {
  font-weight: 700;
  color: #07b669;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 0px;
}


 .pli-l1 {
  font-weight: 700;
  font-size: 14px;
  color: #141222;
  margin-bottom: 0px;
}


.pli-l2 {
  color: #707da8;
  font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
