<div class="msg-pop d-none">
  <label for=""><i class="fas fa-check-circle mr-2"></i> Article has been deleted now please have a look.</label>
</div>


<!-- Page Content -->


<div class="sign-contain d-md-flex flex-sm-row-reverse">
<div class="s-img-sec">

</div>
<div class="s-form-sec">

   <div></div>
  <div class="c-box">
      <div class="sel-language">


            <button class="btn-no-bg " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="drop-c">
                <img src="../assets/vendor/images/lang-kb.png" alt="">
              </div>
            </button>


            <div class="dropdown-menu dropdown-menu-right">
                <p>Select Language</p>
              <div  (click)="changeLang('en')" class="li-item-space">
                <a  class="dropdown-item">English</a>
                <i class="fas " [ngClass]="{'fa-check-circle': checkedEng, 'fa-circle': !checkedEng}"></i>
              </div>
              <div (click)="changeLang('sin')" class="li-item-space">
                <a  class="dropdown-item">Sinhala</a>
                <i class="fas " [ngClass]="{'fa-check-circle': checkedSin, 'fa-circle': !checkedSin}"></i>
              </div>
              <div (click)="changeLang('ta')" class="li-item-space">
                <a  class="dropdown-item">Tamil</a>
                <i class="fas " [ngClass]="{'fa-check-circle': checkedTam, 'fa-circle': !checkedTam}"></i>
              </div>
            </div>
          </div>
          <br>
          <img src="../assets/vendor/images/logo.PNG" alt="" class="px-2 mb-3">
     <div class="cb-txt-main  px-3">
        <h2>{{"signup_sms_pin_h1" | translate}} <br> {{"signup_sms_pin_h2" | translate}}</h2>
        <p> {{"not_recive_code" | translate}} {{mobileNumberFirstPart}}****{{ mobileNumberLastPart }} <span class="font-dk-b"> <a style="cursor: pointer;" class="resend-code" (click)="resendCode()"> {{"resendCode" | translate}}</a></span></p>
     </div>

     <div class="form-box ">



        <div class="form-pin" [ngClass]="{'form-invalid':isInvalidCode}">
           <label for="exampleInputEmail1">{{"pin_number" | translate}} </label>
           <label for="" class="hint-text" *ngIf="isInvalidCode"> {{"invalid_code_please_retry" | translate}} </label>
           <div class="pin-line"></div>
           <div class="input-set">
              <div class=" row">
                  <input autofocus #digitOne  (keyup)="digitTwo.focus()" class="inputs col-2" type="text" maxlength="1" placeholder="0" name="digit1" [(ngModel)]="digit1" required/>
                  <input #digitTwo (keyup)="digitThree.focus()" class="inputs col-2" type="text" maxlength="1" placeholder="0" name="digit2" [(ngModel)]="digit2" required/>
                  <input #digitThree (keyup)="digitFour.focus()"  class="inputs col-2" type="text" maxlength="1" placeholder="0" name="digit3" [(ngModel)]="digit3" required/>
                  <input #digitFour (keyup)="digitFive.focus()"  class="inputs col-2" type="text" maxlength="1" placeholder="0" name="digit4" [(ngModel)]="digit4" required/>
                  <input #digitFive (keyup)="digitSix.focus()"  class="inputs col-2" type="text" maxlength="1" placeholder="0" name="digit5" [(ngModel)]="digit5" required/>
                  <input #digitSix (keyup)="digitOne.focus()" class="inputs col-2" type="text" maxlength="1" placeholder="0" name="digit6" [(ngModel)]="digit6" required/>
              </div>
           </div>
           <!-- <label id="emailHelp" class="form-help-text">Invalid username or password</label> -->
        </div>




     </div>


     <div class="form-acc-text mt-4 px-3">

        <a style="cursor: pointer;" (click)="returnToSignUp()"><span>{{"back_to_sign_up" | translate}} </span></a>
        <button class="btn-theme" (keyup.enter)="submitPIN()"  (click)="submitPIN();"> {{"submitCode" | translate}} </button>
     </div>


  </div>


  <div class="rights-text px-3 ">
      {{"all_rights_reserved" | translate}}
  </div>

</div>

</div>

