<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">CONFIRMATION</h5>
    <button  type="button" class="close">
      <span  >×</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Are you sure you want to delete ?</h6>
    <p>Process cannot be undone.
    </p>
  </div>
  <div class="row no-gutters mod-footer bt-light">
    <mat-dialog-actions>
      <div class="col">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="br-light color-th">Yes, Delete
          Now</button>
      </div>
      <div class="col">
        <button mat-button mat-dialog-close>No, Cancel</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
