
.button{
    outline: none !important;
}
.ui-button.ui-state-default:enabled:focus{
    box-shadow: 0 0 0 0.2em #ccc !important;
}

.ui-button-secondary{
    background-size: 24px;
    background-repeat: no-repeat;
    &:hover{
        background-color: transparent !important;
        border-color: transparent !important;
    }
}
.tp-menu-inbox{
    background-image: url(img/messages.png);
    position: relative;
    top: 4px;
}

.tp-menu-notific{
    background-image: url(img/notific.png);   
}

.user-drop{
    .fa-chevron-down{
        font-size: 11px;
    }
}


.tp-menu-usr{
    display: inline-block;
    img{width: 40px; height:40px;margin-right: 10px}
    .dropdown-toggle::after{
        display: none;
    }

    .ico-down::before{
        font-family: FontAwesome;
    content: "\f107" !important;
    }
    
    .user-drop .dropdown-menu {
        box-shadow: 0 8px 14px 0 rgba(67, 103, 243, 0.07);
        // left: -40px !important;
        // width: 220px;
        border: 1px solid #e6ebf7;
        border-radius: 3px;
        padding: 10px;
        font-size: 13px;
        .acc-user-info h6 {
            margin-bottom: 2px;
            margin-top: 0px;
            font-weight: 700;
            font-size: 14px;
        }
        .acc-user-info {
            border-bottom: 1px solid #e6ebf7;
            padding: 10px;
        }
        .acc-user-op {
            margin-top: 10px;
        }
        .acc-user-op a {
            display: block;
            padding: 5px 10px;
            color: #566596;
            text-decoration: none;
            border-radius: 4px;
            &:hover{
                background: #effbf5;
            color: #07c871;
            }
        }
     
    }
    .user-acc-img{
        border: none;
        background: transparent;
        outline: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        span{
            position: relative;
            top:2px;
            right: 3px;
        }
    }

}

.user-t-opt{
    .ut-op{
        margin-left: 20px;
    }
}

.ham-button{
   background: transparent;
   border: none;
   outline: none !important;
}

.dash-switch{
    // float: right;
    display: inline-flex;
    border-radius: 4px;
    box-shadow: 0 2px 7px 0 rgba(67, 103, 243, 0.04);
    background-color: #ffffff;
    padding: 3px 10px;
    border: 1px solid #e6ebf7;
    font-size: 15px;
    color: #142661;
    margin-left: 20px;
    .tp-dropdown{
        border:none !important;
    }
    .ui-button-secondary{
        background: transparent;
        border: none;
    }
    label{
        border: 0px !important;
    }

    
    
   
}


.user-header-i{
    button{
        background: transparent;
        border: none;
    }
    .nav-user-i-1{
        background-image:url('../../../../assets/vendor/images/msg.PNG'); 

        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 5px;
    }   
    .nav-user-i-2{
        background-image:url('../../../../assets/vendor/images/bell.PNG'); 
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 5px;
    }

}


.ui-button{
    padding: 0px !important;
}


.mat-toolbar{
    background: none !important;
    h1{
       font-family: 'Nunito', sans-serif;
    }
   }

.user-pu-tb{
    
    img{
        border-radius: 50px;
    }
    
}

.user-role-tag{
    display: flex;
    div{
        border-radius: 40px;
        color: #fff;
        padding: 2px 12px;
        box-shadow: 2px 1px 7px 0 rgba(9, 107, 31, 0.29);
        font-size: 12px;
        margin-left: 10px;
    }
    .user-farmer{
        background-image: linear-gradient(111deg, #1ab91a, #008b00);
    }
    .user-agent{
        background-image: linear-gradient(291deg, #0a79aa, #09b9f1);
    }
}

.user-internal{
    background-image: linear-gradient(-43deg, #040C18 0%, #334E57 100%);
    box-shadow: 2px 1px 7px 0 rgba(9,107,31,0.29);
    border-radius: 12px;
}