<div class="navbar bb-light">
  <mat-toolbar class="row no-gutters" style="height: inherit !important;">
    <div class="col-8">

      <div class="nav-opt">
        <button (click)="CheckIsHBClicked()" class="ham-button"><i class="fas fa-bars"></i></button>
        <img src="../assets/vendor/images/logo.PNG">
        <h1>Sure Farm</h1>
        <div class="user-role-tag">
          <div class="user-farmer" [ngClass]="{'d-none': !userIsCustomer}">Farmer</div>
          <div class="user-agent" [ngClass]="{'d-none': !userIsAgent}">Agent</div>
          <div class="user-internal" [ngClass]="{'d-none': !userIsStaff}">Internal Staff</div>
        </div>
        <div class="dash-switch" style="display: none">
          <label>Switch Dashboard</label>
          <div class="br-light mx-3"></div>
        </div>
      </div>






    </div>

    <div class="col-4">

      <div class="user-nav">



        <div class=" user-header-i ml-4">
          <button class="nav-user-i-1"></button>
        </div>

        <div class=" user-header-i ml-4">
          <button class="nav-user-i-2"></button>
        </div>





        <div class="user-image tp-menu-usr">
          <div class="dropdown user-drop">
            <button class="drop-light dropdown-toggle user-acc-img" type="button" id="userOpt" data-toggle="dropdown"
              aria-haspopup="false" aria-expanded="false">
              <div class="user-pu-tb">
                <img *ngIf="this.imgService.getImg() !== ''" [src]="this.imgService.getImg() | decodeUrl" alt="">
                <img *ngIf="this.imgService.getImg() === ''" src="../assets/images/profile.PNG">
              </div> <i class="fas fa-chevron-down"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right user-drop-menu" aria-labelledby="userOpt">
              <div class="acc-user-info">
                <h6>{{ name }}</h6>
                <span>{{ designation }}</span>
              </div>
              <div class="acc-user-op">
                <a [routerLink]="[ '/user-profile' ]">My Profile</a>
                <a href="#">Change Password</a>
                <a href="#">Settings</a>
                <a (click)=" logout();">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </mat-toolbar>
</div>
