.button {
  outline: none !important; }

.ui-button.ui-state-default:enabled:focus {
  -webkit-box-shadow: 0 0 0 0.2em #ccc !important;
  box-shadow: 0 0 0 0.2em #ccc !important; }

.ui-button-secondary {
  background-size: 24px;
  background-repeat: no-repeat; }
  .ui-button-secondary:hover {
    background-color: transparent !important;
    border-color: transparent !important; }

.tp-menu-inbox {
  background-image: url(img/messages.png);
  position: relative;
  top: 4px; }

.tp-menu-notific {
  background-image: url(img/notific.png); }

.user-drop .fa-chevron-down {
  font-size: 11px; }

.tp-menu-usr {
  display: inline-block; }
  .tp-menu-usr img {
    width: 40px;
    height: 40px;
    margin-right: 10px; }
  .tp-menu-usr .dropdown-toggle::after {
    display: none; }
  .tp-menu-usr .ico-down::before {
    font-family: FontAwesome;
    content: "\f107" !important; }
  .tp-menu-usr .user-drop .dropdown-menu {
    -webkit-box-shadow: 0 8px 14px 0 rgba(67, 103, 243, 0.07);
    box-shadow: 0 8px 14px 0 rgba(67, 103, 243, 0.07);
    border: 1px solid #e6ebf7;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px; }
    .tp-menu-usr .user-drop .dropdown-menu .acc-user-info h6 {
      margin-bottom: 2px;
      margin-top: 0px;
      font-weight: 700;
      font-size: 14px; }
    .tp-menu-usr .user-drop .dropdown-menu .acc-user-info {
      border-bottom: 1px solid #e6ebf7;
      padding: 10px; }
    .tp-menu-usr .user-drop .dropdown-menu .acc-user-op {
      margin-top: 10px; }
    .tp-menu-usr .user-drop .dropdown-menu .acc-user-op a {
      display: block;
      padding: 5px 10px;
      color: #566596;
      text-decoration: none;
      border-radius: 4px; }
      .tp-menu-usr .user-drop .dropdown-menu .acc-user-op a:hover {
        background: #effbf5;
        color: #07c871; }
  .tp-menu-usr .user-acc-img {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tp-menu-usr .user-acc-img span {
      position: relative;
      top: 2px;
      right: 3px; }

.user-t-opt .ut-op {
  margin-left: 20px; }

.ham-button {
  background: transparent;
  border: none;
  outline: none !important; }

.dash-switch {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 7px 0 rgba(67, 103, 243, 0.04);
  box-shadow: 0 2px 7px 0 rgba(67, 103, 243, 0.04);
  background-color: #ffffff;
  padding: 3px 10px;
  border: 1px solid #e6ebf7;
  font-size: 15px;
  color: #142661;
  margin-left: 20px; }
  .dash-switch .tp-dropdown {
    border: none !important; }
  .dash-switch .ui-button-secondary {
    background: transparent;
    border: none; }
  .dash-switch label {
    border: 0px !important; }

.user-header-i button {
  background: transparent;
  border: none; }

.user-header-i .nav-user-i-1 {
  background-image: url("../../../../assets/vendor/images/msg.PNG");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 5px; }

.user-header-i .nav-user-i-2 {
  background-image: url("../../../../assets/vendor/images/bell.PNG");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 5px; }

.ui-button {
  padding: 0px !important; }

.mat-toolbar {
  background: none !important; }
  .mat-toolbar h1 {
    font-family: 'Nunito', sans-serif; }

.user-pu-tb img {
  border-radius: 50px; }

.user-role-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .user-role-tag div {
    border-radius: 40px;
    color: #fff;
    padding: 2px 12px;
    -webkit-box-shadow: 2px 1px 7px 0 rgba(9, 107, 31, 0.29);
    box-shadow: 2px 1px 7px 0 rgba(9, 107, 31, 0.29);
    font-size: 12px;
    margin-left: 10px; }
  .user-role-tag .user-farmer {
    background-image: -webkit-linear-gradient(339deg, #1ab91a, #008b00);
    background-image: -o-linear-gradient(339deg, #1ab91a, #008b00);
    background-image: linear-gradient(111deg, #1ab91a, #008b00); }
  .user-role-tag .user-agent {
    background-image: -webkit-linear-gradient(159deg, #0a79aa, #09b9f1);
    background-image: -o-linear-gradient(159deg, #0a79aa, #09b9f1);
    background-image: linear-gradient(291deg, #0a79aa, #09b9f1); }
