<div id="wrapper" class="login-contain">
  <div class="row h-c">
    <div class="col-md-6 order-md-1 f-c im">
    </div>
    <div class="col-md-6 order-md-0 f-c flex-column">
        <div class="sel-language">


            <button class="btn-no-bg " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="drop-c">
                <img src="../assets/vendor/images/lang-kb.png" alt="">
              </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <p>Select Language</p>
                <div (click)="changeLang('en')" class="li-item-space">
                  <a  class="dropdown-item">English</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedEng, 'fa-circle': !checkedEng}"></i>
                </div>
                <div (click)="changeLang('sin')" class="li-item-space">
                  <a  class="dropdown-item">Sinhala</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedSin, 'fa-circle': !checkedSin}"></i>
                </div>
                <div (click)="changeLang('ta')" class="li-item-space">
                  <a  class="dropdown-item">Tamil</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedTam, 'fa-circle': !checkedTam}"></i>
                </div>
              </div>
        </div>
      <div class="login-form-contain">
        <img  src="../assets/vendor/images/logo.PNG" alt="logo">
        <div class="user-heading">
          <!-- <h1>Receive instructions to get <br> access now</h1> -->
          <h1>{{"receive_instructions_to_get_access_now" | translate}}</h1>
          <p>{{"select_which_option_you_prefer" | translate }}</p>
        </div>
        <form class="form-area-mid">
          <div class="form-box user-form" *ngFor="let option of optionsList">
            <div class="form-group form-selection" [hidden]="disableAfterEmailSent" *ngIf="option.type == 'CMOBL'">
              <div class="radio-place" *ngIf="option.type == 'CMOBL'">
                <label class="radio-contain">
                  <!--<input type="radio" checked="checked" name="radio" valzue="${detail.key}">-->
                  <input type="radio" name="contactOption" [(ngModel)]="selectedOption" [value]="option.type">
                  <span class="checkmark"></span>
                </label>
              </div>
              <label *ngIf="option.type == 'CMOBL'">{{"recovery_phone" | translate}} </label>

              <br>
              <label class="info-view">{{option.number}}</label>
              <!-- <label id="emailHelp" class="form-help-text">Invalid username or password</label> -->
            </div>
            <div class="form-group form-selection" *ngIf="option.type == 'CEMIL'">

              <div class="radio-place" *ngIf="option.type == 'CEMIL'">
                <label class="radio-contain">
                  <input type="radio" [disabled]="disableAfterEmailSent" name="contactOption" [(ngModel)]="selectedOption"
                    [value]="option.type">
                  <span class="checkmark"></span>
                </label>
              </div>

              <label *ngIf="option.type == 'CEMIL'" class="w-100">{{"recovery_email" | translate}}
                <a class="pull-right c-pointer" (click)="submitOption()" [hidden]="isResendEmailHidden">Resend email</a></label>
              <br>
              <label class="info-view">{{option.number}}</label>
              <!-- <label id="emailHelp" class="form-help-text">Invalid username or password</label> -->
            </div>
            <!--<div class="form-group form-selection">-->
            <!--<div class="radio-place">-->
            <!--<label class="radio-contain">-->
            <!--<input type="radio" checked="checked" name="radio">-->
            <!--<span class="checkmark"></span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<label>Recovery phone</label><br>-->
            <!--<label class="info-view">(+94).......595</label>-->
            <!--&lt;!&ndash; <label id="emailHelp" class="form-help-text">Invalid username or password</label> &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="form-group form-selection">-->
            <!--<div class="radio-place">-->
            <!--<label class="radio-contain">-->
            <!--<input type="radio" checked="checked" name="radio">-->
            <!--<span class="checkmark"></span>-->
            <!--</label>-->
            <!--</div>-->
            <!--<label>Recovery email</label><br>-->
            <!--<label class="info-view">nam........@unionbank.lk</label>-->
            <!--</div>-->
          </div>
          <div class="form-acc-text mt-4 px-3">

              <a href="" id="login_return" class="back-to-login" (click)="returnToLogin()">
                <i class="fas fa-arrow-left"></i> {{"return_to_sign_in" | translate}}</a>


              <button type="submit" class="btn-theme" (keyup.enter)="submitOption()" (click)="submitOption()" [disabled]="disableSendInstructionsButton()">{{"send_instructions" | translate}}</button>

          </div>
        </form>
        <div class="footer-note">
            {{"all_rights_reserved" | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
