/* 
Sidebar
*/

// side nav
.example-container {
  width: 100%;
  height: 100%;
  // border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  // width: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  padding: 20px;
  box-shadow: 13px 10px 26px 0 rgba(22, 45, 135, 0.09);
  background: #f4f8fe;
  border-right: 1px solid #e1e5f2;
  width: 220px;
}
