/* 
Sidebar
*/
.example-container {
  width: 100%;
  height: 100%; }

.example-sidenav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.example-sidenav {
  padding: 20px;
  padding: 20px;
  -webkit-box-shadow: 13px 10px 26px 0 rgba(22, 45, 135, 0.09);
  box-shadow: 13px 10px 26px 0 rgba(22, 45, 135, 0.09);
  background: #f4f8fe;
  border-right: 1px solid #e1e5f2;
  width: 220px; }
