
<mat-drawer-container class="example-container">
  <mat-drawer [(opened)]="isHBClicked" class="example-sidenav" mode="side">
    <app-menu [data]="isHBClicked" (click)="isHBClicked=!isHBClicked"> </app-menu>
  </mat-drawer>
  <app-toolbar  (isHBClicked)="output($event)"></app-toolbar>
  <div (click)="closeSidebar()">
    <ng-content></ng-content>
    <footer><label >© 2019, All Rights Reserved. v{{version}}</label> </footer>
  </div>

</mat-drawer-container>

