<app-header>
    <div class="container">

      <div class="prof-incomp-focus" *ngIf="profileCompleteness != 100" [routerLink]="[ '/user-profile' ]">

      </div>
        <div class="dash-user my-5">


            <div class="user-pu-info">

              <div class="d-flex justify-content-between">
                  <div>
                    <div class="user-pu mb-3">
                      <img *ngIf=" this.imgServie.getImg() !== ''" [src]=" this.imgServie.getImg() | decodeUrl" alt="">
                      <img *ngIf=" this.imgServie.getImg() === ''" src="../assets/images/profile.PNG">
                    </div>
                    <h3>{{name }}</h3>
                    <label> {{address | titlecase }} </label>
                  </div>

                <div class="prof-progress">
                  <div class="pp-focus">
                    <mat-progress-bar mode="determinate" [value]="profileCompleteness"></mat-progress-bar>
                    <label class="mb-2"> Profile Completeness <strong> {{profileCompleteness}}%</strong>  </label>
                    <div class="p-show" *ngIf="profileCompleteness != 100" [routerLink]="[ '/user-profile' ]">
                      <a class="link-bt"> Complete Profile</a>
                    </div>
                  </div>

                </div>
              </div>





            </div>


        </div>

        <div class="bb-light line-fluid mb-4"></div>

        <div class="row mb-4">
            <div class="col"  [routerLink]="[ '/policies' ]">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/policies.png" alt="">
                    <label> Policies </label>
                </div>
            </div>
            <div class="col">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/receipts.png" alt="">
                    <label>Receipts </label>
                </div>
            </div>
            <div class="col"  [routerLink]="[ '/claim-list' ]">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/claims.png" alt="">
                    <label> Claims </label>
                </div>
            </div>
            <div class="col" [routerLink]="['/receipting']">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/cash-in-hand.png" alt="">
                    <label> Cash in Hand </label>
                </div>
            </div>
            <div class="col" [routerLink]="[ '/news' ]">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/news.png" alt="">
                    <label> News</label>
                </div>
            </div>

        </div>
        <div class="row mb-4">
            <div class="col" [routerLink]="[ '/marketplace' ]">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/marcketplace.png" alt="">
                    <label> Marketplace </label>
                </div>
            </div>
            <div class="col" [routerLink]="[ '/market-price' ]">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/marcket-prices.png" alt="">
                    <label>Market Prices </label>
                </div>
            </div>
            <div class="col">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/discussions.png" alt="">
                    <label> Discussions </label>
                </div>
            </div>
            <div class="col"  [routerLink]="[ '/quotations' ]">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/quotations.png" alt="">
                    <label> Quotations </label>
                </div>
            </div>
            <div class="col" [routerLink]="[ '/consultation' ]">
                <div class="m-box">
                    <img src="../../../../assets/vendor/images/dash-menu/consultation.png" alt="">
                    <label>Consultation</label>
                </div>
            </div>

        </div>
    </div>
</app-header>
