<form   [formGroup]="policyWeatherForm" (ngSubmit)="savePolicy()">
<div class="card-b ">

<div class="card-b-head bb-light">
    <label>Policy Details </label>
  </div>

    <div class="card-b-body">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Crop" (selectionChange)="fetchPlans()"  formControlName="cropType">
              <mat-option *ngFor="let cropType of cropTypes" [value]="cropType.code">
                {{cropType.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="cropType.invalid">
              Crop Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Weather Type" (selectionChange)="fetchPlans()" formControlName="weatherType">
              <mat-option *ngFor="let weatherType of weatherTypes" [value]="weatherType.code">
                {{weatherType.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error  *ngIf="weatherType.invalid">
              Weather Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Plan"  formControlName="plan">
              <mat-option *ngFor="let plan of plans" [value]="plan.code">
                {{plan.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error  *ngIf="plan.invalid">
              Plan is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Business Channel" formControlName="businessChannel">
              <mat-option *ngFor="let businessChannel of businessChannels" [value]="businessChannel.code">
                {{businessChannel.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error  *ngIf="businessChannel.invalid">
              Business Chanel is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input readonly required matInput  formControlName="startDate"
                   [matDatepicker]="picker1"  placeholder="Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error  *ngIf="startDate.invalid">
              Start Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input readonly required matInput
                   formControlName="endDate" [min]="startDate"  [matDatepicker]="picker2" placeholder="End Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error  *ngIf="endDate.invalid">
              End Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Payment Type" formControlName="paymentType">
              <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.code">
                {{paymentType.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error  *ngIf="paymentType.invalid">
              Payment is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="tp-full-width">
            <input  matInput placeholder="Days"  formControlName="dayCount">
          </mat-form-field>
        </div>
      </div>
    </div>
</div>
  <button type="submit" [disabled]="policyWeatherForm.invalid" class="btn-theme-lg mb-2">Continue</button>
</form>

