<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Customers</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Customers</h3>
        <p>See the customers listed in the application</p>
      </div>
      <button routerLink="/customers/add-customer" class="btn-theme-lg">Add New Customer</button>
    </div>
    <div class="line-fluid-row bb-light "></div>
    <div class="row">

      <div class="col-md-4 br-light">
        <div>
          <div class="li-search-op ">
            <div class="search-trans">
              <i class="fas fa-search"></i>
              <input type="search" [(ngModel)]="searchValue" (input)="getCustomer()" placeholder="Search for key words">
              <div class="drop-trans">
                <mat-form-field class="line-drop-select">
                  <div class="dpt-arrow">
                    <i class="fas fa-chevron-down"></i>
                  </div>
                  <mat-select [(value)]="searchType" style="width: 150px;">
                    <mat-option value="name" (click)="getCustomer()">Customer Name</mat-option>
                    <mat-option value="nic" (click)="getCustomer()">Customer NIC</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </div>
          <div class="bb-light line-fluid-row mb-3"></div>
          <div class="policy-list ">
            <!-- style="overflow-y: scroll; height:400px; overflow-x:hidden; display: block;" -->
            <div

              style="overflow-y: scroll; height:400px; overflow-x:hidden; display: block;"
              class="nav flex-column "
              infinite-scroll
              [infiniteScrollDistance]="scrollDistance"
              [infiniteScrollUpDistance]="scrollUpDistance"
              [infiniteScrollThrottle]="throttle"
              [infiniteScrollContainer]="'.nav'"
              [fromRoot]="fromRoot"
              (scrolled)="onScrollDown()">

              <div *ngFor="let item of customerList; let i = index">
                <a (click)="onSelectCustomer(i)" class="nav-link" [ngClass]="{'active': item.active}">
                  <div class="policy-li-item">
                    <label class="pli-l1 mt-1">{{item.profile.name}}</label>
                    <label *ngIf="item.address " class="pli-l2">{{item.address.address}}</label>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content" id="v-pills-tabContent">

          <div class="mng-lnd-inner">
            <app-manage-land *ngIf="isManageLandClicked" (isCancelClicked)="this.isManageLandClicked = false"
                             [selectedLand]="selectedLand"></app-manage-land>

          </div>

          <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-home-tab">

            <app-manage-customer
              *ngIf="isManageCustomerClicked" [model]="selectedCustomer"
              (isManageCustomerClicked)="onCancel()">
            </app-manage-customer>

            <div *ngIf="!isManageCustomerClicked" class="card-b px-4 py-3 my-3">
              <div class="p-inofo-head">
                <div class="pih-status-no">
                  <label class="psn-1">{{selectedCustomer.profile.name}}</label>
                  <label *ngIf="selectedCustomer.address !== null "
                         class="font-light-nm mb-0">{{selectedCustomer.address.address}}</label>
                </div>
                <a (click)="isManageCustomerClicked=!isManageCustomerClicked" class="font-light-nm">Manage</a>
              </div>
              <div class="bb-light my-3"></div>

              <div class="row">
                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l"> Email Address </label>
                    </div>
                    <div class="col-md-6">
                      <label *ngIf="selectedCustomer.email"
                             class="font-sm-b font-th-d">{{selectedCustomer.email.contactNumber}}</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l">Gender</label>
                    </div>
                    <div class="col-md-6">
                      <label class="font-sm-b font-th-d">{{selectedCustomer.profile.genderDescription}}</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l">NIC Number</label>
                    </div>
                    <div class="col-md-6">
                      <label *ngIf="selectedCustomer.nic"
                             class="font-sm-b font-th-d">{{selectedCustomer.nic.registrationNumber}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-md-6">
                      <label class="font-sm font-th-l">Mobile Number</label>
                    </div>
                    <div class="col-md-6">
                      <label *ngIf="selectedCustomer.phone"
                             class="font-sm-b font-th-d">{{selectedCustomer.phone.contactNumber}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <mat-accordion *ngIf="!isManageLandClicked">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{landList.length}} Lands Added
                    </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end">
                      <button routerLink="/land/add-land/{{selectedCustomer.profile.code}}"
                              class="btn-light-round blr-edge-w"> Add New
                      </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div style="overflow-y: scroll; height:200px; overflow-x:hidden; display: block;">
                    <div *ngFor="let item of landList; let i = index" class="acc-contain bt-light px-4">
                      <div class="acc-list-t1 bb-light">
                        <div class="alt-t1">
                          <label class="font-b font-dk">{{item.sequence}}</label>
                          <label>{{item.address}}</label>
                        </div>
                        <a (click)="onManageLand(i)" class="font-light-nm">Manage</a>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>


            <div class="mb-3">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{policyList.length}} Policies Added
                    </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end">
                      <button class="btn-light-round blr-edge-w"
                              routerLink="/policy/{{selectedCustomer.profile.code}}/c"> Add New
                      </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div style="overflow-y: scroll; height:200px; overflow-x:hidden; display: block;">
                    <div *ngFor="let item of policyList" class="acc-contain bt-light px-4">
                      <div class="acc-list-t1 bb-light">
                        <div class="alt-t1">
                          <label class="font-b font-dk">{{item.policyNumber ? item.policyNumber : item.proposalNumber}}</label>
                          <label>{{item.productName}}</label>
                          <label class="pli-l3" style="color: #07b669;">{{item.policyStatus}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>


            <div class="mb-3">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{quotationList.length}} Quotations Added
                    </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end">
                      <button class="btn-light-round blr-edge-w"
                              routerLink="/quotation/{{selectedCustomer.profile.code}}/c"> Add New
                      </button>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div style="overflow-y: scroll; height:200px; overflow-x:hidden; display: block;">
                    <div *ngFor="let item of quotationList" class="acc-contain bt-light px-4">
                      <div class="acc-list-t1 bb-light">
                        <div class="alt-t1">
                          <label class="font-b font-dk">{{item.quotationNumber}}</label>
                          <label>{{item.productDescription}}</label>
                          <label class="pli-l3" style="color: #07b669;">{{item.quotationStatus}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>

</app-header>
