.mat-dialog-container{
    overflow: hidden !important;
    padding: 25px;
}

.list-item-bt{

  font-size: 13px;
  padding: 6px 8px;
}


.fixed-list{
  border: 1px solid #ececec;
  border-radius: 4px;
  padding: 10px;
}
