<div class="add-claim-pop-c">
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <form [formGroup]="verifyClaimForm" (ngSubmit)="verifyClaim()">
        <div class="form-new-opt mb-4 pr-3">
          <h6>Claim Notification</h6>
          <a routerLink="/claim-list" class="font-light-nm">Cancel</a>
        </div>
        <div class="card-b my-4">
          <div class="card-b-head bb-light">
            <label>Policy Details </label>
          </div>

          <div class="card-b-body">
            <div class="row">
              <div class="col-md-8">
                <div>
                  <mat-form-field>
                    <mat-label>Tag Number</mat-label>
                    <input (keyup)="searchTags()"
                           matInput formControlName="tag_number" type="text" class="validate" placeholder="" [matAutocomplete]="auto">
                    <mat-error
                      *ngIf="(!verifyClaimForm.controls['tag_number'].valid&&verifyClaimForm.controls['tag_number'].dirty)&&verifyClaimForm.controls['tag_number'].errors.required">
                      Tag number is required
                    </mat-error>
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option  *ngFor="let tags of tagNumbers"   [value]="tags.riskName"  (click)="selectTags(tags)" >
                        {{tags.riskName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                </div>
<!--                <div class="nav flex-column fixed-list"-->
<!--                     style="overflow-y: scroll; height:400px; overflow-x:hidden; display: block;">-->
<!--                  &lt;!&ndash;todo &ndash;&gt;-->
<!--                // TODO -->

<!--                  &lt;!&ndash;                  infinite-scroll&ndash;&gt;-->
<!--                  &lt;!&ndash;                  [infiniteScrollDistance]="1"&ndash;&gt;-->
<!--                  &lt;!&ndash;                  [infiniteScrollUpDistance]="2"&ndash;&gt;-->
<!--                  &lt;!&ndash;                  [infiniteScrollThrottle]="300"&ndash;&gt;-->
<!--                  &lt;!&ndash;                  [infiniteScrollContainer]="'.nav'"&ndash;&gt;-->
<!--                  &lt;!&ndash;                  [fromRoot]="true"&ndash;&gt;-->
<!--                  &lt;!&ndash;                  (scrolled)="onScrollDown()"         &ndash;&gt;-->
<!--                  <button class="w-100 text-left list-item-bt" mat-button *ngFor="let tags of tagNumbers"-->
<!--                          (click)="selectTags(tags)">{{tags.riskName}}</button>-->
<!--                </div>-->

              </div>
              <div class="col-md-4">
                <div>
                  <mat-form-field>
                    <input [max]="today" matInput formControlName="claim_date" [matDatepicker]="picker"
                           placeholder="Incident Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error
                      *ngIf="(!verifyClaimForm.controls['claim_date'].valid&&verifyClaimForm.controls['claim_date'].dirty)&&verifyClaimForm.controls['claim_date'].errors.required">
                      Claim Date is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
        </div>
        <button type="submit" class="btn-theme" mat-raised-button
                [disabled]="!((verifyClaimForm.controls['tag_number'].valid || !riskNameCheck) && verifyClaimForm.controls['claim_date'].valid)">
          Verify Claim
        </button>
      </form>
    </div>
  </div>

</div>

