<style>
  .mat-drawer-content{
    verflow: inherit !important;
  }
</style>


<app-header>

    <iframe style="width: 100%; height: 89vh" [src]="sanitizer.bypassSecurityTrustResourceUrl(url + JWT_ACCESS_TOKEN)" frameborder="0"></iframe>

</app-header>
