<div class="tab-pane fade show active" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">

  <div class="form-new-opt mb-4 pr-3">
    <h6>Harvests</h6>
    <button [disabled]="isAddNew" class="btn-theme-lg mb-2" (click)="isAddNew = true">Add New Harvest</button>
  </div>

  <div *ngIf="isAddNew" class="card-b">
    <div class="card-b-head bb-light">
      <label>Add New Harvest</label>
    </div>

    <div class="card-b-body">

      <div class="row add-harvest-row">
        <div class="col-md-4">
          <div class="row no-gutters form-inline-th">
            <div class="col-4 d-flex align-items-center bb-light">
              <div class="inline-label-h1">
                <label>Crop</label>
              </div>
            </div>
            <div class="col-8 bb-light">
              <div class="input-field drop-trans select-inline-h ">
                <mat-form-field style="width: 125px">
                  <div class="dpt-arrow">
                    <i class="fas fa-chevron-down"></i>
                  </div>
                  <mat-select [(value)]="selectedCropType">
                    <mat-option *ngFor="let item of cropTypes" [value]="item" (click)="getVariances()">
                      {{item.description | titlecase}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row no-gutters form-inline-th">
            <div class="col-6">
              <div class="inline-label-h">
                <label>Curr. Price</label>
              </div>
            </div>
            <div class="col-6">
              <div class="input-field input-th input-inline">
                <label>{{calculatedData.income.currentMarket.currentUnitPrice | currency:'Rs. '}}</label>
                <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
              </div>
            </div>
          </div>
          <div class="bb-light bb-hc"></div>
        </div>
        <div class="col-md-4 d-flex align-items-end">
          <div class="info-succ-view w-100">
            <label class="font-reg">Est. Income</label>
            <label
              class="font-b">{{calculatedData.income.currentMarket.estimatedIncome | currency:'Rs. '}}</label>
          </div>
        </div>
      </div>

      <div class="row add-harvest-row">
        <div class="col-md-4">
          <div class="row no-gutters form-inline-th">
            <div class="col-4 d-flex align-items-center bb-light">
              <div class="inline-label-h1">
                <label>Variance</label>
              </div>
            </div>
            <div class="col-8 bb-light">
              <div class="input-field drop-trans select-inline-h ">
                <mat-form-field style="width: 125px">
                  <div class="dpt-arrow">
                    <i class="fas fa-chevron-down"></i>
                  </div>
                  <mat-select [(value)]="selectedVariences"  (selectionChange)="calculateStats()">
                    <mat-option *ngFor="let item of variences" [value]=item>
                      {{item.description | titlecase}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row no-gutters form-inline-th">
            <div class="col-6">
              <div class="inline-label-h">
                <label>Last Year</label>
              </div>
            </div>
            <div class="col-6">
              <div class="input-field input-th input-inline">
                <label> {{calculatedData.income.lastYearMarket.currentUnitPrice | currency:'Rs. '}}</label>
                <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
              </div>
            </div>
          </div>
          <div class="bb-light bb-hc"></div>
        </div>
        <div class="col-md-4 d-flex align-items-end">
          <div class="info-succ-view w-100 ">
            <label class="font-reg">Est. Income</label>
            <label
              class="font-b">{{calculatedData.income.lastYearMarket.estimatedIncome | currency:'Rs. '}}</label>
          </div>
        </div>
      </div>

      <div class="row add-harvest-row">
        <div class="col-md-4">
          <div class="row no-gutters form-inline-th">
            <!-- <div class="col-4">
              <div class="inline-label">
                <label>Expected</label>
              </div>
            </div>
            <div class="col-8">
              <div class="input-field input-th input-inline">
                <mat-form-field style="width: 75px">
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="row no-gutters form-inline-th">
            <div class="col-6">
              <div class="inline-label-h">
                <label>History Avg.</label>
              </div>
            </div>
            <div class="col-6">
              <div class="input-field input-th input-inline">
                <label>{{calculatedData.income.marketAverage.currentUnitPrice | currency:'Rs. '}}</label>
                <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
              </div>
            </div>
          </div>
          <div class="bb-light bb-hc"></div>
        </div>
        <div class="col-md-4 d-flex align-items-end">
          <div class="info-succ-view w-100 ">
            <label class="font-reg">Est. Income</label>
            <label
              class="font-b">{{calculatedData.income.marketAverage.estimatedIncome | currency:'Rs. '}}</label>
          </div>
        </div>
      </div>
      <div class="mt-3">

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="font-dk-14">Show Fertilizers</mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>

            <div class="exp-box-body">
              <div class="gray-bar-header  px-3 py-2 mb-2">
                <div class="row no-gutters">
                  <div class="col-5">
                    <div class="d-flex justify-content-between">
                      <label class="font-th-l font-b mb-0">STAGE</label>
                      <label class="font-th-l font-b mb-0 pr-3 mr-3 br-light"> PREFERRED</label>
                    </div>

                  </div>
                  <div class="col-1 d-flex">
                    <label class="font-th-l font-b mb-0">N</label>
                  </div>
                  <div class="col-1 d-flex">
                    <label class="font-th-l font-b mb-0">P</label>
                  </div>
                  <div class="col-1 d-flex">
                    <label class="font-th-l font-b mb-0">K</label>
                  </div>
                  <div class="col-1 d-flex">
                    <label class="font-th-l font-b mb-0">PH</label>
                  </div>
                  <div class="col-3 d-flex">
                    <label class="font-th-l font-b mb-0">FERTILIZER</label>
                  </div>
                </div>
              </div>


              <div class="exb-table-row px-3 py-2 bb-light">
                <div class="row no-gutters">
                  <div class="col-5">
                    <label class="font-dk-14 mb-0"> Seeding </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.seeding.nitrogen}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.seeding.phosphorus}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.seeding.potassium}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.seeding.ph}} </label>
                  </div>
                  <div class="col-3">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.seeding.recommendation}} </label>
                  </div>
                </div>
              </div>

              <div class="exb-table-row px-3 py-2 bb-light">
                <div class="row no-gutters">
                  <div class="col-5">
                    <label class="font-dk-14 mb-0"> Vegetative </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.nitrogen}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.phosphorus}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.potassium}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.ph}} </label>
                  </div>
                  <div class="col-3">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.recommendation}} </label>
                  </div>
                </div>
              </div>

              <div class="exb-table-row px-3 py-2 bb-light">
                <div class="row no-gutters">
                  <div class="col-5">
                    <label class="font-dk-14 mb-0"> Buding </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.budding.nitrogen}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.budding.phosphorus}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.budding.potassium}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.budding.ph}} </label>
                  </div>
                  <div class="col-3">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.budding.recommendation}} </label>
                  </div>
                </div>
              </div>

              <div class="exb-table-row px-3 py-2 bb-light">
                <div class="row no-gutters">
                  <div class="col-5">
                    <label class="font-dk-14 mb-0"> Flowering </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.nitrogen}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.phosphorus}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.potassium}} </label>
                  </div>
                  <div class="col-1">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.ph}} </label>
                  </div>
                  <div class="col-3">
                    <label class="font-dk-14 mb-0"> {{calculatedData.recommendation.vegetative.recommendation}} </label>
                  </div>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>

  </div>

  <div *ngIf="isAddNew" class="my-4">
    <button (click)="addItemToCompareList(calculatedData)" class="btn-theme-lg"
            [disabled]="!calculatedData.isHasData">Keep to Compare
    </button>
    <label (click)="isAddNew = false" class="link-btn-sm ml-4">Cancel</label>
  </div>


  <div class="harvests-list mb-3">
    <mat-accordion *ngFor="let item of compareList; let i = index">
      <mat-expansion-panel class="mb-3">
        <mat-expansion-panel-header class="hli-header">

          <mat-panel-title class="pl-3 fo font-dk-15">{{item.crop | titlecase}} - {{item.varience | titlecase}} </mat-panel-title>
          <label (click)="deleteCompareListItem(i)" class="pr-3">Delete Record</label>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>

        <div class="card-b-body bt-light">

          <div class="row add-harvest-row">

            <div class="col ahr-col-f">
              <div class="row no-gutters form-inline-th">
                <div class="col-4 d-flex align-items-center ">
                  <div class="inline-label-h1">
                    <label>Crop</label>
                  </div>
                </div>
                <div class="col-8 ">
                  <div class="inline-h ">
                    <label>{{item.crop | titlecase}}</label>
                  </div>
                </div>
              </div>

              <div class="bb-light"></div>
            </div>

            <div class="col ahr-col-f">
              <div class="row no-gutters form-inline-th">
                <div class="col-6">
                  <div>
                    <label>Curr. Price</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-field input-th input-inline">
                    <label>{{item.income.currentMarket.currentUnitPrice | currency:'Rs. '}}</label>
                    <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
                  </div>
                </div>
              </div>

              <div class="bb-light"></div>
            </div>

            <div class="col d-flex align-items-center">
              <div class="info-succ-view  w-100">
                <label class="font-reg">Est. Income</label>
                <label
                  class="font-b">{{item.income.currentMarket.estimatedIncome | currency:'Rs. '}}</label>
              </div>
            </div>

          </div>

          <div class="row add-harvest-row">
            <div class="col ahr-col-f">
              <div class="row no-gutters form-inline-th">
                <div class="col-4">
                  <div>
                    <label>Varience</label>
                  </div>
                </div>
                <div class="col-8">
                  <div class="inline-h ">
                    <label>{{item.varience | titlecase}}</label>
                  </div>
                </div>
              </div>
              <div class="bb-light"></div>
            </div>
            <div class="col ahr-col-f">
              <div class="row no-gutters form-inline-th">
                <div class="col-6">
                  <div>
                    <label>Last Year</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-field input-th input-inline">
                    <label> {{item.income.lastYearMarket.currentUnitPrice | currency:'Rs. '}}</label>
                    <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
                  </div>
                </div>
              </div>
              <div class="bb-light"></div>
            </div>
            <div class="col d-flex align-items-center">
              <div class="info-succ-view w-100">
                <label class="font-reg">Est. Income</label>
                <label
                  class="font-b">{{item.income.lastYearMarket.estimatedIncome | currency:'Rs. '}}</label>
              </div>
            </div>
          </div>

          <div class="row add-harvest-row">
            <div class="col ahr-col-f">
              <div class="row no-gutters form-inline-th">
              </div>
            </div>
            <div class="col ahr-col-f">
              <div class="row no-gutters form-inline-th">
                <div class="col-6">
                  <div>
                    <label>History Avg.</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class=" input-th input-inline">
                    <label>{{item.income.marketAverage.currentUnitPrice | currency:'Rs. '}}</label>
                    <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
                  </div>
                </div>
              </div>
              <div class="bb-light"></div>
            </div>
            <div class="col d-flex align-items-center">
              <div class="info-succ-view ">
                <label class="font-reg">Est. Income</label>
                <label
                  class="font-b">{{item.income.marketAverage.estimatedIncome | currency:'Rs. '}}</label>
              </div>
            </div>
          </div>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title class="font-dk-15">Show Fertilizers</mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>

              <div class="exp-box-body">
                <div class="gray-bar-header  px-3 py-2 mb-2">
                  <div class="row no-gutters">
                    <div class="col-5">
                      <div class="d-flex justify-content-between">
                        <label class="font-th-l font-b mb-0">STAGE</label>
                        <label class="font-th-l font-b mb-0 pr-3 mr-3 br-light"> PREFERRED</label>
                      </div>

                    </div>
                    <div class="col-1 d-flex">
                      <label class="font-th-l font-b mb-0">N</label>
                    </div>
                    <div class="col-1 d-flex">
                      <label class="font-th-l font-b mb-0">P</label>
                    </div>
                    <div class="col-1 d-flex">
                      <label class="font-th-l font-b mb-0">K</label>
                    </div>
                    <div class="col-1 d-flex">
                      <label class="font-th-l font-b mb-0">PH</label>
                    </div>
                    <div class="col-3 d-flex">
                      <label class="font-th-l font-b mb-0">FERTILIZER</label>
                    </div>
                  </div>
                </div>


                <div class="exb-table-row px-3 py-2 bb-light">
                  <div class="row no-gutters">
                    <div class="col-5">
                      <label class="font-dk-14 mb-0"> Seeding </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.seeding.nitrogen}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.seeding.phosphorus}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.seeding.potassium}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.seeding.ph}} </label>
                    </div>
                    <div class="col-3">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.seeding.recommendation}} </label>
                    </div>
                  </div>
                </div>

                <div class="exb-table-row px-3 py-2 bb-light">
                  <div class="row no-gutters">
                    <div class="col-5">
                      <label class="font-dk-14 mb-0"> Vegetative </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.nitrogen}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.phosphorus}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.potassium}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.ph}} </label>
                    </div>
                    <div class="col-3">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.recommendation}} </label>
                    </div>
                  </div>
                </div>

                <div class="exb-table-row px-3 py-2 bb-light">
                  <div class="row no-gutters">
                    <div class="col-5">
                      <label class="font-dk-14 mb-0"> Buding </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.budding.nitrogen}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.budding.phosphorus}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.budding.potassium}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.budding.ph}} </label>
                    </div>
                    <div class="col-3">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.budding.recommendation}} </label>
                    </div>
                  </div>
                </div>

                <div class="exb-table-row px-3 py-2 bb-light">
                  <div class="row no-gutters">
                    <div class="col-5">
                      <label class="font-dk-14 mb-0"> Flowering </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.nitrogen}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.phosphorus}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.potassium}} </label>
                    </div>
                    <div class="col-1">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.ph}} </label>
                    </div>
                    <div class="col-3">
                      <label class="font-dk-14 mb-0"> {{item.recommendation.vegetative.recommendation}} </label>
                    </div>
                  </div>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>

        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>
