.mat-expansion-panel{
    border-radius: 4px;
    border: solid 1px #e6ebf7;
    box-shadow: none !important;
}

.add-harvest-row{
    // background: #ccc;
    min-height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    .select-inline-h{
        position: relative;
        bottom: 6px;
        right: 5px;
    }

    .inline-label-h1{
        position: relative;
        top: 1px;
    }

    .inline-label-h{
        position: relative;
        top: 12px;
    }
    .bb-hc{
        position: absolute;
    bottom: 3px;
    
    left: 15px;
    right: 15px;
    }
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.gray-bar-header {
    background-color: #f8faff;
}

.mat-expansion-panel-header{
    height: inherit !important;
    padding: 10px 15px;
}


.mat-expansion-panel-header-title{
    font-family: "Nunito", sans-serif;
}