<div id="wrapper" class="login-contain">
  <div class="row h-c">
    <div class="col-md-6 order-md-1 f-c im">
    </div>
    <div class="col-md-6 order-md-0 f-c flex-column">
        <div class="sel-language">


            <button class="btn-no-bg " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="drop-c">
                <img src="../../../../assets/vendor/images/logo.png" alt="">
              </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <p>Select Language</p>
                <div (click)="changeLang('en')" class="li-item-space">
                  <a  class="dropdown-item">English</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedEng, 'fa-circle': !checkedEng}"></i>
                </div>
                <div (click)="changeLang('sin')" class="li-item-space">
                  <a  class="dropdown-item">Sinhala</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedSin, 'fa-circle': !checkedSin}"></i>
                </div>
                <div (click)="changeLang('ta')" class="li-item-space">
                  <a  class="dropdown-item">Tamil</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedTam, 'fa-circle': !checkedTam}"></i>
                </div>
              </div>
        </div>
      <div class="login-form-contain">
        <img  src="../assets/vendor/images/logo.PNG" alt="logo">
        <div class="user-heading">
          <!-- <h1>Don't loose access to your <br> account</h1> -->
          <h1>{{"don't_loose_access_to_your_account" | translate}}</h1>
          <p>{{"enter_your_username_to_help_us_identity" | translate}}</p>
        </div>
        <form class="form-area-mid">
          <div class="form-box user-form" [ngClass]="{'field-invalid': isInvalidUsername || isExistrecoveryOptions}">
            <div class="form-group " [ngClass]="{'field-valid': isUsernameInFocus}">
              <label for="exampleInputEmail1">{{"username" | translate}}</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                     placeholder="Enter your Username " name="username" [(ngModel)]="username" required
                     (focus)="applyUsernameFieldValidClass()" (blur)="isUsernameInFocus = false"
                     (input)="convertToUppercase(username);">
              <label id="emailHelp" class="form-help-text" *ngIf="isInvalidUsername">{{"invalid_username" | translate}}</label>
              <label id="emailHelp" class="form-help-text" *ngIf="isExistrecoveryOptions">{{"unable_to_proceed"| translate}} {{"recovery_options_not_configured" | translate}} </label>
            </div>
          </div>
          <div class="form-acc-text mt-4 px-3">

              <a id="return_login" class="back-to-login" (click)="returnToLogin()">
                <i class="fas fa-arrow-left"></i>{{"return_to_sign_in" | translate}}</a>


              <button (keyup.enter)="submitUsername()" type="submit" class="btn-theme" (click)="submitUsername()"
                      [disabled]="disableNextButton()">{{"next_step" | translate}}</button>

          </div>
        </form>
        <div class="footer-note">
            {{"all_rights_reserved" | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
