<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Collection-in-Hand</li>
      </ol>
    </nav>
    <div class="page-title-header  pt-3 d-flex justify-content-between align-items-center ">

      <div>
        <h3>Collection in Hand</h3>
        <p>Deposit the money and cheques you have collected</p>
      </div>

    </div>
    <div class="line-fluid-row bb-light "></div>

    <div class="d-flex justify-content-between align-items-center  my-3 ">

      <div>
        <label class="font-dk-b mb-0">{{collections.length}} Listed Collections</label>
      </div>
      <div>
        <div class="d-flex justify-content-end align-items-center">
          <label class="font-light-13 mb-0 mr-3">Collection Type</label>
          <div class="drop-trans" style="width: 120px">
            <mat-form-field class="line-drop-select">
              <div class="dpt-arrow">
                <i class="fas fa-chevron-down"></i>
              </div>
              <mat-select [(ngModel)]="collectionType" (selectionChange)="loadCollectionData()">
                <mat-option value="PAYCS">Cash</mat-option>
                <mat-option value="PAYCQ">Cheque</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>

    <div class="line-fluid-row bb-light mb-3"></div>

    <div class="table-trans">
      <div class="tbt-header">
        <div class="row no-gutters mb-3">

          <div class="col-2"><label  for="">DATE</label></div>
          <div class="col-2 "><label  for="" >RECEIPT NO.</label> </div>
          <div class="col-4"><label  for="">CUSTOMER NAME</label></div>
          <div class="col-4 text-right"><label  for="">BALANCE</label></div>
        </div>
      </div>
      <div class="tbt-body" *ngFor="let collection of collections">
        <div class="row no-gutters mb-3">
          <div class="col-2"><label>{{collection.settledDate | date:'dd MMM y'}}</label></div>
          <div class="col-2"><label>{{collection.receiptNumber}}</label></div>
          <div class="col-4 "><label>{{collection.customerName}}</label> </div>
          <div class="col-4 text-right"><label> <span>{{collection.currencyCode}}</span> {{collection.amount | number}}</label></div>
        </div>
      </div>

    </div>

    <div class="line-fluid-row bb-light mb-3"></div>

    <div class="d-flex justify-content-between">
      <label class="font-dk-b mb-0" >Total Premium</label>
      <label class="font-dk-b mb-0"> <span class="font-xsm font-l-weight">LKR</span> {{totalCollections | number}}</label>
    </div>

    <div class="line-fluid-row bb-light my-3"></div>

    <button (click)="onDepositSlipGeneration()" class="btn-theme-lg mb-2">Generate Deposit Slip</button>

  </div>

</app-header>
