<div #weatherAdditionalDetails>

  <div class="form-new-opt mb-4 pr-3">

    <label class="font-dk-16">Proposal Number : {{policyCommonData.proposalNumber}}</label>

<!--    <a *ngIf="parentPage === 'c'" [routerLink]="[ '/customers' ]" class="font-light-nm">Cancel</a>-->
<!--    <a *ngIf="parentPage === 'p'" [routerLink]="[ '/policies' ]" class="font-light-nm">Cancel</a>-->

  </div>


</div>
