<div>
  <div class="tab-content" id="v-pills-tabContent">
    <div aria-labelledby="v-pills-profile-tab" class="tab-pane fade show active" id="v-pills-2" role="tabpanel">
      <div class="form-new-opt mb-4 pr-3">
        <h6>Policy & Incident</h6>
        <a (click)="cancel.emit()" class="font-light-nm">Cancel</a>
      </div>
      <div *ngIf="this.policyAvailable" class="card-b ">
        <div class="card-b-head bb-light">
          <label>Policy Details </label>
        </div>
        <div class="card-b-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <label class="font-sm font-th-l">Policy Number</label>
                </div>
                <div class="col-md-6">
                  <label class="font-sm-b font-th-d">{{policy.policyNumber}}</label>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <label class="font-sm font-th-l">Tag Number</label>
                </div>
                <div class="col-md-6">
                  <label class="font-sm-b font-th-d">{{policy.selectTagNumber}}</label>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <label class="font-sm font-th-l">Customer Name</label>
                </div>
                <div class="col-md-6">
                  <label class="font-sm-b font-th-d">{{policy.customerName}}</label>
                </div>
              </div>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-6">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <label class="font-sm font-th-l">Owner Name</label>
                </div>
                <div class="col-md-6">
                  <label class="font-sm-b font-th-d">{{ownerName}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!this.policyAvailable" class="card-b ">
        <div class="card-b-head bb-light">
          <label>Policy Details </label>
        </div>
        <div class="card-b-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row no-gutters">
                <div class="col-md-6">
                  <label class="font-sm font-th-l">Tag Number</label>
                </div>
                <div class="col-md-6">
                  <label class="font-sm-b font-th-d">{{policy.riskName}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form (ngSubmit)="saveClaim()" [formGroup]="verifyClaimForm">
        <div class="card-b my-4">
          <div class="card-b-head bb-light">
            <label>Incident Details </label>
          </div>
          <div class="card-b-body">
            <div class="row">
              <div class="col-md-4">
                <div>
                  <mat-form-field>
                    <input [max]="today" formControlName="lossDate" id="lossDate" matInput
                           value="{{policy.date | date: 'M/d/yyyy'}}"
                           placeholder="Date of Loss"
                           [readonly]="!editable" >
                    <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
                    <mat-error *ngIf="verifyClaimForm.controls['lossDate'].hasError('required')">Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-8">
                <div>
                  <mat-form-field>
                    <mat-select formControlName="lossTypeCode" id="lossTypeCode" placeholder="Type of Losses">
                      <mat-option *ngFor="let type of typeOfLosses" [value]="type.code">
                        {{type.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <mat-form-field>
                    <mat-select formControlName="lossCauseCode" id="lossCauseCode" placeholder="Cause of Losses">
                      <mat-option *ngFor="let cause of causeOfLosses"
                                  [value]="cause.code">
                        {{cause.description}}
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="(!verifyClaimForm.controls['lossCauseCode'].valid&&verifyClaimForm.controls['lossCauseCode'].dirty)&&verifyClaimForm.controls['lossCauseCode'].errors.required">
                      Cause of Loss is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <mat-form-field class="example-full-width">
                    <input class="validate" formControlName="expectedLossAmount"
                           id="expectedLossAmount" matInput
                           placeholder="Expected Loss Amount - LKR"
                           step="0.01" type="number">
                    <mat-error
                      *ngIf="(!verifyClaimForm.controls['expectedLossAmount'].valid&&verifyClaimForm.controls['expectedLossAmount'].dirty)&&verifyClaimForm.controls['expectedLossAmount'].errors.required">
                      Expected Loss is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <mat-form-field>
                    <input class="validate" formControlName="contactName" id="contactName" matInput
                           placeholder="Contact Person Name"
                           type="text">
                    <mat-error *ngIf="verifyClaimForm.controls['contactName'].hasError('required')">Contact name is
                      <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <mat-form-field>
                    <input class="validate" formControlName="contactAddress" id="contactPhone" matInput
                           placeholder="Contact Person Address"
                           type="text">
                    <mat-error *ngIf="verifyClaimForm.controls['contactPhone'].hasError('required')">Contact number
                      is
                      <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <mat-form-field>
                    <input class="validate" formControlName="contactPhone" id="contactAddress" matInput
                           placeholder="Contact Person Number"
                           type="text">
                    <mat-error *ngIf="verifyClaimForm.controls['contactAddress'].hasError('required')">Contact
                      address is
                      <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-theme-lg mb-2">Continue</button>
      </form>
    </div>
    <div aria-labelledby="v-pills-verify-tab" class="tab-pane fade" id="v-pills-3" role="tabpanel">...</div>
  </div>
</div>
