<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>
    <div class="page-title-header  pt-3 d-flex justify-content-between align-items-center ">

      <div>
        <h3>Generate Deposit Slip</h3>
        <p>Deposit the money and cheques you have collected</p>
      </div>

    </div>
    <div class="line-fluid-row bb-light"></div>

    <div class="d-flex justify-content-between align-items-center  my-3">

      <div>
        <label class="font-dk-b mb-0">{{selectedCollectionNumber}} Selected</label>
      </div>
      <div>
        <div class="d-flex justify-content-end align-items-center">
          <label class="font-light-13 mb-0 mr-3">Collection Type</label>
          <div class="drop-trans" style="width: 120px">
            <mat-form-field class="line-drop-select">
              <div class="dpt-arrow">
                <i class="fas fa-chevron-down"></i>
              </div>
              <mat-select [(ngModel)]="collectionType" (selectionChange)="loadCollectionData()">
                <mat-option value="PAYCS">Cash</mat-option>
                <mat-option value="PAYCQ">Cheque</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>

    </div>

    <div class="line-fluid-row bb-light mb-3"></div>


    <div class="row">
      <div class="col pr-5">

        <div class="table-trans">
          <div class="tbt-header">
            <div class="row no-gutters mb-3">
              <div class="col-1">
                <label class="form-check">
                  <input type="checkbox" [(ngModel)]="isSelectedAll" [value]="true" (change)="selectAll()">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-3"><label>DATE</label></div>
              <div class="col-4 pl-4"><label>RECEIPT NO.</label> </div>
              <div class="col-4 text-right"><label>BALANCE</label></div>
            </div>
          </div>
          <div class="tbt-body" *ngFor="let collection of collections">
            <div class="row no-gutters mb-3">
              <div class="col-1">
                <label class="form-check">
                  <input type="checkbox" [(ngModel)]="collection.isSelected" [value]="true" (change)="selectCount(collection)">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-3"><label>{{collection.settledDate | date:'dd MMM y'}}</label></div>
              <div class="col-4 pl-4"><label>{{collection.receiptNumber}}</label> </div>
              <div class="col-4 text-right"><label> <span>{{collection.currencyCode}}</span> {{collection.amount | number}}</label></div>
            </div>
          </div>

        </div>

        <div class="line-fluid-row bb-light mb-3"></div>

        <div class="d-flex justify-content-between">
          <label class="font-dk-b">Total Premium</label>
          <label class="font-dk-b"> <span class="font-xsm font-l-weight">LKR</span> {{totalCollections | number}}</label>
        </div>

      </div>
      <div class="col">

        <form [formGroup]="depositDetailsForm" (ngSubmit)="submitDepositDetails()">
          <div class="card-b mb-4">
            <div class="card-b-head bb-light">
              <label>Deposit Details</label>

            </div>
            <div class="card-b-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="input-field select-th">
                    <mat-form-field class="line-drop-select">
                      <mat-select formControlName="bankSelection" placeholder="Bank" (selectionChange)="onBankSelect()">
                        <mat-option *ngFor="let bank of banks" [value]="bank">{{bank.description}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-md-12">
                  <mat-form-field class="line-drop-select">
                    <mat-select formControlName="accountSelection" placeholder="Account">
                      <mat-option *ngFor="let account of accounts" [value]="account">{{account.description}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field>
                    <input formControlName="slipNumber" matInput type="text" placeholder="Slip Number">
                    <mat-error *ngIf="(!depositDetailsForm.controls['slipNumber'].valid&&depositDetailsForm.controls['slipNumber'].dirty)&&depositDetailsForm.controls['slipNumber'].errors.pattern">Invalid slip number format</mat-error>
                    <mat-error *ngIf="(!depositDetailsForm.controls['slipNumber'].valid&&depositDetailsForm.controls['slipNumber'].dirty)&&depositDetailsForm.controls['slipNumber'].errors.required">Slip number is required</mat-error>
                  </mat-form-field>
                </div>

              </div>

            </div>
          </div>

          <button type="submit" [disabled]="!depositDetailsForm.valid || selectedCollectionNumber == 0" class="btn-theme-lg mb-2"  >Confirm Deposit Slip</button>

        </form>

      </div>
    </div>

  </div>
</app-header>
