.form-input-trans input {
  border: none;
  padding: 0px;
  background: transparent;
  width: 100%;
  outline: none;
  font-family: "Playfair Display", serif; }

.form-input-trans .mat-form-field-infix {
  border-top: none;
  padding: 0px; }

.form-input-trans ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Playfair Display", serif;
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Playfair Display", serif;
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Playfair Display", serif;
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Playfair Display", serif;
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Playfair Display", serif;
  color: #141222; }

.form-input-trans ::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Playfair Display", serif;
  color: #141222; }
