<div class="modal-content">
  <button (click)="closeDialog()" type="button" class="close" data-dismiss="modal" aria-label="Close">
    close
  </button>
  <div class="modal-body">
    <div class="art-header-new mb-4">
      <h5>Publish New Article</h5>
      <button (click)="postArtical()" class="btn-lg btn-theme">Publish Article</button>
    </div>
    <div class="bb-light mod-fluid mb-5"></div>
    <div class="add-cat-sec">
      <ul class="d-inline-flex cat-list mb-0">
        <li *ngFor="let item of addCategoryMap | keyvalue"> {{item.value | titlecase}} <button
            (click)="reomveItemFromaddCategoryMap(item.key)" class="btn-no-bg-tag color-th ml-2"><i
              class="fas fa-times"></i></button></li>
      </ul>
      <div class="add-cat-drop" [ngClass]="{'invalid-drop': !addCategoryList[0]}">
          <div class="add-cat-drop" [ngClass]="{'invalid-drop': !addCategoryList[0]}">
              <div class=" drop-theme drop-cat-theme">
                <button class="drop-cat-theme-phil" mat-button [matMenuTriggerFor]="menu">Add Category <i
                    class="fas fa-chevron-down"></i> </button>
                <mat-error *ngIf="isHasCategory">You must select category</mat-error>
                <mat-menu #menu="matMenu" class="drop-cat-theme-phil">
                  <button mat-menu-item *ngFor="let category of categories"
                    (click)="addCategory(category)">{{category.description | titlecase}}</button>
                </mat-menu>
              </div>
            </div>
      </div>
    </div>
    <!-- AUTHOR -->
    <div class="row">
      <div class="col-6 py-3 mb-2">
        <label class="font-light-nm d-flex">Author <mat-error *ngIf="isValidAuthor" class="ml-3">{{getErrorMessage(author)}}</mat-error></label>
        <div class="d-block form-input-trans">
          <input placeholder="Name of the Writer" [formControl]="author" (keyup)="onSetAuthor()" required>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-6 py-3 mb-2">
        <!-- HEADING -->
        <label class="font-light-nm d-flex">Heading <mat-error *ngIf="isValidTitle" class="ml-3">{{getErrorMessage(heading)}}</mat-error></label>
        <div class="d-block form-input-trans">
          <input class="font-dk-25" placeholder="A title of your choice" [formControl]="heading" (keyup)="onSetTitle()"  required>
        </div>
      </div>
    </div>
    <!-- Body -->
    <mat-error *ngIf="isHasItem">You must add data to artical body</mat-error>
    <div *ngFor="let desc of dataList; let i = index">
      <!-- SUB HEADING -->
      <div *ngIf="desc.type == 'NFSBH'" class="form-theme-modal mod-body my-4">
        <label>
          <div class="fixed-action-btn btn-floating bf-delete mr-4" (click)="removeItem(i)"></div>
          <div class="lable-new-elem"> Sub heading {{i}} </div>
        </label>
        <textarea [(ngModel)]="dataList[i].value" rows="2" placeholder="Sub heading"></textarea>
      </div>
      <!-- IMAGE -->
      <div *ngIf="desc.type == 'NFIMG'" class="form-theme-modal mod-body my-4">
        <label>
          <div class=" fixed-action-btn btn-floating bf-delete mr-4" (click)="removeItem(i)"></div> Image {{i}}
        </label>
        <div class="form-mg-thumb">
          <div class="im-up">
            <div *ngIf="!dataList[i].value" class="prg-i">
              <div class="prg-bar">
                <div class="pg-value" [style.width]="dataList[i].sequence"></div>
              </div>
              <p>Uploading...</p>
            </div>
            <img *ngIf="dataList[i].value" [src]="dataList[i].value | decodeUrl" alt="">
          </div>
        </div>
      </div>
      <!-- LINK -->
      <div *ngIf="desc.type == 'NFLNK'" class="form-theme-modal mod-body my-4">
        <label>
          <div class="fixed-action-btn btn-floating bf-delete mr-4" (click)="removeItem(i)"></div> link {{i}}
        </label>
        <textarea [(ngModel)]="dataList[i].value" rows="2" placeholder="Add your link"></textarea>
      </div>
      <!-- PATAGTAPH -->
      <div *ngIf="desc.type == 'NFTXT'" class="form-theme-modal mod-body my-4">
        <label>
          <div class=" fixed-action-btn btn-floating bf-delete mr-4" (click)="removeItem(i)"></div> Paragraph {{i}}
        </label>
        <textarea [(ngModel)]="dataList[i].value" rows="2" placeholder="Add your sub heading"></textarea>
      </div>
    </div>
    <div class="form-theme-modal mod-body my-4">
      <textarea [(ngModel)]="paragraphText" (keyup.enter)="addNewTextField()" rows="2"
        placeholder="Add new paragraph"></textarea>
    </div>
    <div>
      <div class="row article-add-op-btn">
        <div (click)="clickActionBar()" class="btn-floating bf-add">
        </div>
        <div *ngIf="IsActionBarClicked" class="d-flex">
          <div class="btn-floating bf-img">
            <input type="file" (change)="addDataItem('NFIMG',$event)">
          </div>
          <div (click)="addDataItem('NFLNK',null)" class="btn-floating bf-clip"> </div>
          <div (click)="addDataItem('NFSBH',null)" class="btn-floating bf-text"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
