.form-input-trans{
    input{
      border: none;
      padding:  0px;
      background: transparent;
      width: 100%;
      outline: none;
      font-family: "Playfair Display", serif;
    }
    .mat-form-field-infix{
      border-top:none;
      padding: 0px;
    }
  
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-family: "Playfair Display", serif;
      color: #141222;
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-family: "Playfair Display", serif;
      color: #141222;
    }
  
    ::-ms-input-placeholder {
      /* Microsoft Edge */
      font-family: "Playfair Display", serif;
      color: #141222;
    }
  }
  