.form-check-label {
    cursor: pointer;
}

.password-tip{
    padding: 25px;
    width: 236px;
    box-shadow: 0 8px 14px 0 rgba(67, 103, 243, 0.07);
    border: 1px solid #e6ebf7;
    label{
        display: block;
        font-size: 13px;
        font-weight: 200;
        margin-top: 15px;
        color: #566596;
        
    }
    h4{
        font-size: 13px;
        font-weight: 600;
    }
    i{
        float: right;
        color: #e3e8f7;
        font-size: 15px !important;
    }
    .chk-included{
        color: #5365e8;
    }
}