<app-header class="asd">
  <!-- Page Content -->

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>


    <!--    Loyalty Exchange Title-->

    <div class="page-title-header  pt-3 d-flex justify-content-between align-items-center ">

      <div>
        <h3>Loyalty Exchange</h3>
        <p>Check how your loyalty points have been added and shared</p>
      </div>
      <div class="py-2">
        <div class="bl-light l-points-show pl-2">
          <label>Current Point Balance</label>
          <h6> {{ point }} </h6>
        </div>
      </div>
    </div>

    <div class="line-fluid-row bb-light "></div>

    <!--    Filter Range-->

    <div class="d-flex justify-content-between align-items-center  my-3 ">


      <div>
        <div class="d-flex justify-content-end align-items-center">
          <label class="font-light-13 mb-0 mr-3">Filter Range</label>
          <mat-form-field STYLE="width: 148px">

            <mat-select [(value)]="date" (valueChange)="onSetDate()">
              <mat-option value="all">
                All
              </mat-option>

              <mat-option value="3months">
                Last 3 months
              </mat-option>
              <mat-option value="6months">
                Last 6 months
              </mat-option>
              <mat-option value="1year">
                Last year
              </mat-option>

            </mat-select>
          </mat-form-field>

        </div>

      </div>
      <div class="d-flex">

        <div class="check-label">

          <label class="form-check">

            <mat-checkbox [(ngModel)]="earned" (change)="getEarned()"> Earned</mat-checkbox>

          </label>

        </div>
        <div class="check-label ml-4">

          <label class="form-check">
            <mat-checkbox [(ngModel)]="redeemed" (change)="getRedeemed()"> Redeemed</mat-checkbox>
          </label>

        </div>
      </div>

    </div>

    <div class="line-fluid-row bb-light mb-3"></div>

    <!--    Table -->

    <div class="table-trans">
      <div class="tbt-header">
        <div class="row no-gutters mb-3">
          <div class="col-6 ">
            <div class="row no-gutters">
              <div class="col-4"><label>DATE</label></div>
              <div class="col-8 "><label>TRANSACTION</label></div>
            </div>
          </div>
          <div class="col-6">
            <div class="row no-gutters">
              <div class="col-3"><label>REF NO.</label></div>
              <div class="col-3 text-right"><label>VALUE</label></div>
              <div class="col-3 text-right"><label>POINTS</label></div>
              <div class="col-3 text-right"><label>BALANCE</label></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="nav flex-column "
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollUpDistance]="scrollUpDistance"
        [infiniteScrollThrottle]="throttle"
        [infiniteScrollContainer]="'.mat-drawer-content'"
        [fromRoot]="fromRoot"
        (scrolled)="onScrollDown($event)"  >


        <div class="tbt-body" *ngFor="let item of dataList">
          <div class="row no-gutters mb-3">
            <div class="col-6 ">
              <div class="row no-gutters">
                <div class="col-4"><label>{{item.datetime| date}}</label></div>
                <div class="col-8 "><label>{{item.transactionDescription}}</label></div>
              </div>
            </div>
            <div class="col-6">
              <div class="row no-gutters">
                <div class="col-3"><label>{{item.referenceNumber}}</label></div>
                <div class="col-3 text-right"><label>{{item.value}}</label></div>
                <div class="col-3 text-right"><label>{{item.point}} <i
                  [ngClass]="{'fa-plus-circle':!item.isMinus, 'fa-minus-circle': item.isMinus  }" class="fas "></i>
                </label>
                </div>
                <div class="col-3 text-right"><label>{{item.balance}}</label></div>
              </div>
            </div>
          </div>
          <!--        fas fa-minus-circle-->
        </div>
      </div>
    </div>

    <!--    <div *ngFor="let item of dataList">-->
    <!--      <h4>{{item.balance}}</h4>-->
    <!--      <h4>{{item.partyCode}}</h4>-->
    <!--    </div>-->

  </div>
</app-header>
