<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
            <img src="../../../../assets/vendor/images/loading.svg" alt="">
          </div>
<div class="tab-pane fade show active" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-settings-tab">

      <div class="form-new-opt mb-4">
            <h6>Contact Person</h6>
            <button [routerLink]="[ '/user-profile/add-contact-person' ]" class="btn-theme-lg">Add New Contact</button>
      </div>

      <div class="card-b">
            <div class="card-b-head bb-light">
                  <label> Manage Contact Person </label>
                  <a [routerLink]="[ '/user-profile/contact-person' ]" class="font-light-nm">Cancel</a>
            </div>
            <div class="card-b-body">
                  <div class="row">

                        <div class="col-md-6">
                              <mat-form-field class="tp-full-width">
                                    <input matInput placeholder="Name" [(ngModel)]="name" [formControl]="nameFormControl">
                                    <mat-error *ngIf="nameFormControl.hasError('required')">
                                          Name is <strong>required</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="col-md-6">
                              <mat-form-field class="tp-full-width">
                                    <input matInput placeholder="Relationship" [(ngModel)]="relationship" [formControl]="relationshipFormControl">
                                    <mat-error *ngIf="relationshipFormControl.hasError('required')">
                                          Relationship is <strong>required</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="col-md-12">
                              <mat-form-field class="tp-full-width">
                                    <input matInput placeholder="Address" [(ngModel)]="address" [formControl]="addressFormControl">
                                    <mat-error *ngIf="addressFormControl.hasError('required')">
                                          Address is <strong>required</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="col-md-6">
                              <mat-form-field class="tp-full-width">
                                    <input matInput placeholder="Phone Number" [(ngModel)]="phoneNumber" [formControl]="phoneNumberFormControl">
                                    <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
                                          Phone Number is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="phoneNumberFormControl.hasError('pattern')">
                                                Phone Number is <strong>invalid</strong>
                                          </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="col-md-6">
                              <mat-form-field class="tp-full-width">
                                    <input matInput placeholder="Mobile Number" [(ngModel)]="mobileNumber"
                                          [formControl]="mobileNumberFormControl">
                                    <mat-error *ngIf="mobileNumberFormControl.hasError('required')">
                                          Mobile Number is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="mobileNumberFormControl.hasError('pattern')">
                                                Mobile Number is <strong>invalid</strong>
                                          </mat-error>
                              </mat-form-field>
                        </div>

                        <div class="col-md-6">
                              <mat-form-field class="tp-full-width">
                                    <input matInput placeholder="Email" [(ngModel)]="email" [formControl]="emailFormControl">
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                          Email is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('email')">
                                          Email is <strong>Invalid</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>



                  </div>
            </div>
      </div>

      <div class="mt-4">
            <button *ngIf="!router.url.includes('user-profile/manage-contact-person')" class="btn-theme-lg "
             (click)="saveContactPerson()"
              [disabled]="mobileNumberFormControl.hasError('pattern') || phoneNumberFormControl.hasError('pattern') || nameFormControl.hasError('required') || relationshipFormControl.hasError('required') || addressFormControl.hasError('required') || phoneNumberFormControl.hasError('required') || mobileNumberFormControl.hasError('required') || emailFormControl.hasError('required') || emailFormControl.hasError('email')">Save New Contact</button>
            <button  *ngIf="router.url.includes('user-profile/manage-contact-person')" class="btn-theme-lg " 
            (click)="updateContactPerson()" 
            [disabled]="mobileNumberFormControl.hasError('pattern') || phoneNumberFormControl.hasError('pattern') || nameFormControl.hasError('required') || relationshipFormControl.hasError('required') || addressFormControl.hasError('required') || phoneNumberFormControl.hasError('required') || mobileNumberFormControl.hasError('required') || emailFormControl.hasError('required')">Update Contact</button>
           
            <a *ngIf="router.url.includes('user-profile/manage-contact-person')" (click)="deleteContactPerson(contactPersonSequence)" class="link-btn-sm ml-4">Delete Contact Person</a>
      
      </div>

</div>