
<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
      <img src="../../../../assets/vendor/images/loading.svg" alt="">
    </div>
<div class="tab-pane fade show active" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-settings-tab">


   <div class="form-new-opt mb-4">
      <h6>Identifications</h6>
      <button [routerLink]="[ '/user-profile/add-identification' ]" class="btn-theme-lg">Add New Identification</button>
   </div>

   <div class="card-b">
      <div class="card-b-head bb-light">
         <label> Add New Identification </label>
         <a [routerLink]="[ '/user-profile/identification' ]" class="font-light-nm">Cancel</a>
      </div>
      <div class="card-b-body">
         <div class="row">
            <div class="col-md-6">
               <mat-form-field>
                  <mat-select  (selectionChange)="validateFeilds()" #identificationTypeSelect placeholder="Select Type" [(ngModel)]="identificationType" [formControl]="identificationTypeFormControl">
                     <mat-option *ngFor="let identificationType of identificationTypes" [value]="identificationType.code">
                        {{identificationType.description}}
                     </mat-option>
                  </mat-select>
                  <mat-error *ngIf="identificationTypeFormControl.hasError('required')">
                     Indentification Type is <strong>required</strong>
                  </mat-error>
               </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="identificationType === 'NIDN'">
               <mat-form-field class="tp-full-width" [ngClass]="{'ng-dirty mat-focused mat-form-field-invalid ng-invalid': appyClass}">
                  <input  (input)="validateFeilds()" matInput placeholder="Registration No" [formControl]="nicFormControl" [(ngModel)]="registrationNo">
                  <mat-error *ngIf="nicFormControl.hasError('required')">
                     NIC is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="nicFormControl.hasError('pattern')">
                        NIC is <strong>invalid</strong>
                     </mat-error>
               </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="identificationType !== 'NIDN'" [ngClass]="{'ng-dirty mat-focused mat-form-field-invalid ng-invalid': appyClass}">
                  <mat-form-field class="tp-full-width">
                     <input  (input)="validateFeilds()" matInput placeholder="Registration No" [formControl]="registrationNoFormControl" [(ngModel)]="registrationNo">
                     <mat-error *ngIf="registrationNoFormControl.hasError('required')">
                        Registration No is <strong>required</strong>
                     </mat-error>
                  </mat-form-field>
               </div>
            <div class="col-md-6">
               <mat-form-field class="tp-full-width">
                  <input  (input)="validateFeilds()" matInput placeholder="Issuing Authority" [(ngModel)]="issuingAuthority" [formControl]="issuingAuthorityFormControl">
                  <mat-error *ngIf="issuingAuthorityFormControl.hasError('required')">
                     Issuing Authority is <strong>required</strong>
                  </mat-error>
               </mat-form-field>
            </div>
            <div class="col-md-6">

               <mat-form-field>
                  <input   (dateInput)="validateFeilds()" (dateChange)="validateFeilds()"  matInput [matDatepicker]="picker1" [(ngModel)]="validFrom" placeholder="Valid From"
                     [formControl]="validFromDateFormControl">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="validFromDateFormControl.hasError('required')">
                     valid Date is <strong>required</strong>
                  </mat-error>
               </mat-form-field>
            </div>

            <div class="col-md-6" *ngIf="identificationType !== 'NIDN'">
               <mat-form-field>
                  <input   (dateInput)="validateFeilds()" (dateChange)="validateFeilds()" matInput [matDatepicker]="picker2" [(ngModel)]="validTo" placeholder="Valid To">
                  <mat-datepicker-toggle (dateChange)="validateFeilds()" matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
               </mat-form-field>
            </div>

         </div>
      </div>
   </div>

   <div class="mt-4">
      <button *ngIf="!router.url.includes('user-profile/manage-identification')" class="btn-theme-lg " (click)="saveIdentification()"
      [disabled]="!isValidated">Save
         New Identification</button>
      <button *ngIf="router.url.includes('user-profile/manage-identification')" class="btn-theme-lg " (click)="updateIdentification()"
      [disabled]="!isValidated">Update
         Identification</button>

      <a *ngIf="router.url.includes('user-profile/manage-identification')" (click)="deleteIdentification(identificationSequnce)"
         class="link-btn-sm ml-4">Delete Address</a>

   </div>
</div>
