<app-header>

  <app-mark-land [data]="sendLandData" (output)="getMarkers($event)" *ngIf="isDrawMap"></app-mark-land>

  <div *ngIf="!isDrawMap" class="container">
    <nav *ngIf="isCustomer" aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a routerLink="/land">Lands</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Lands</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Add New Land</h3>
        <p>Make a new customer</p>
      </div>


    </div>

    <div class="line-fluid-row bb-light mb-3"></div>

    <div class="row">
      <div class="col-md-3 ">

        <p class="font-light-13 pt-2">Please follow the process to create a <br> policy to the specific livestock or
          <br> weather component.</p>

        <div class="policy-add-steps ">
          <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-link  active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
               aria-controls="v-pills-home" aria-selected="true">

              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>1</span>
                  </div>
                </div>
                <label class="psl-1">Location</label>

              </div>

            </a>


            <a class="nav-link " id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">
              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>2</span>
                  </div>
                </div>
                <label class="psl-1">Verifications</label>

              </div>
            </a>
            <a class="nav-link " id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
               aria-controls="v-pills-messages" aria-selected="false">

            </a>

          </div>
        </div>

      </div>
      <h1>Hello</h1>
      <app-add-land-form></app-add-land-form>

    </div>
  </div>
</app-header>
