<div class="rate-pop">
  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
    close
  </button>
  <h6 class="font-dk-25">Rate Seller</h6>
  <p class="font-light-13">Let us know how good the seller was?</p>
<!--  <ul class="rate-stars my-3">
    <li [ngClass]="starsList[0] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(1)" (mouseenter)="!ratingLocked ? showStars(1) : false" (mouseleave)="!ratingLocked ? hideStars() : false"></li>
    <li [ngClass]="starsList[1] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(2)" (mouseenter)="!ratingLocked ? showStars(2) : false" (mouseleave)="!ratingLocked ? hideStars() : false"></li>
    <li [ngClass]="starsList[2] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(3)" (mouseenter)="!ratingLocked ? showStars(3) : false" (mouseleave)="!ratingLocked ? hideStars() : false"></li>
    <li [ngClass]="starsList[3] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(4)" (mouseenter)="!ratingLocked ? showStars(4) : false" (mouseleave)="!ratingLocked ? hideStars() : false"></li>
    <li [ngClass]="starsList[4] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(5)" (mouseenter)="!ratingLocked ? showStars(5) : false" (mouseleave)="!ratingLocked ? hideStars() : false"></li>
  </ul>-->

  <ul class="rate-stars my-3">
    <li [ngClass]="starsList[0] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(1)" (mouseenter)="showStars(1)" (mouseleave)="hideStars()"></li>
    <li [ngClass]="starsList[1] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(2)" (mouseenter)="showStars(2)" (mouseleave)="hideStars()"></li>
    <li [ngClass]="starsList[2] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(3)" (mouseenter)="showStars(3)" (mouseleave)="hideStars()"></li>
    <li [ngClass]="starsList[3] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(4)" (mouseenter)="showStars(4)" (mouseleave)="hideStars()"></li>
    <li [ngClass]="starsList[4] ? 's-active' : ''"><img src="assets/vendor/images/rate-1.png" alt="" (click)="setRatingValue(5)" (mouseenter)="showStars(5)" (mouseleave)="hideStars()"></li>
  </ul>

  <button class="btn-theme mt-4" [disabled]="rating == null || rating === 0" (click)="submitRating()"> Submit Rating</button>

</div>

