<div class="card news-box">
   <div (click)="openDialog()">
      <div class="nb-img">
         <img class="card-img-top " [src]="card.imagePath? (card.imagePath | decodeUrl) : '../assets/vendor/images/news-default.png'" alt="Card image cap">
      </div>
      <div class="card-body nb-desc">
         <div class="nt-nd">
            <h6>{{card.title | titlecase}}</h6>
            <p>{{card.shortDescription}}</p>
         </div>
         <div class="desc-auth">
            <span>{{card.authorName}}</span>
            <label>{{card.datetime | date}}</label>
         </div>
      </div>
   </div>
</div>
