ul,
li,
span {
  cursor: pointer;
}

.c {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.b {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.lo {
  left: 5px;
  position: relative;
  border: 1px solid #000;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  text-align: center;
  transition: all 3s ease;
}

.li-c {
  display: inline-block;
  margin: 0 10px;
}

.show .li-c-1 {
  animation: mymove-1 0.1s;
}

@keyframes mymove-1 {
  from {
    opacity: 0;
    left: -10px;
    width: 5px;
    height: 5px
  }

  to {
    opacity: 1;
    left: 5px;
    width: 30px;
    height: 30px
  }
}

.show .li-c-2 {
  animation: mymove-2 0.3s;
}

@keyframes mymove-2 {
  from {
    opacity: 0;
    left: -5px;
    width: 5px;
    height: 5px
  }

  to {
    opacity: 1;
    left: 5px;
    width: 30px;
    height: 30px
  }
}
.show .li-c-3 {

  animation: mymove-3 0.6s;
}

@keyframes mymove-3 {
  from {
    opacity: 0;
    left: -15px;
    width: 5px;
    height: 5px
  }

  to {
    opacity: 1;
    left: 5px;
    width: 30px;
    height: 30px
  }
}

.modal-dialog{
  max-width: inherit !important;
}

.form-input-trans{
  input{
    border: none;
    padding:  0px;
    background: transparent;
    width: 100%;
    outline: none;
    font-family: "Playfair Display", serif;
  }
  .mat-form-field-infix{
    border-top:none;
    padding: 0px;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "Playfair Display", serif;
    color: #141222;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: "Playfair Display", serif;
    color: #141222;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: "Playfair Display", serif;
    color: #141222;
  }
}
