<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
  <img src="../../../../assets/vendor/images/loading.svg" alt="">
</div>
<div class="msg-pop d-none">
  <label for=""><i class="fas fa-check-circle mr-2"></i> Article has been deleted now please have a look.</label>
</div>
<!-- Navigation -->
<!-- <app-toolbar></app-toolbar> -->
<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>

    <div class="page-title-header  pt-3 px-3">
      <h3>Profile</h3>
      <p>Put your requirements to see if you will profit by planting the crops</p>
      <!-- Button trigger modal -->

    </div>

    <div class="line-fluid bb-light mb-5"></div>

    <div class="row">
      <div class="col-md-3">

        <div class="pl-5">
          <div class="user-im-name ">
            <img *ngIf="imgUpdateService.getImg() !== ''" [src]="imgUpdateService.getImg() | decodeUrl" alt="">
            <img *ngIf="imgUpdateService.getImg() === ''" src="../assets/images/profile.PNG">
            <h6>{{name | titlecase}}</h6>
            <span>{{address | titlecase}}</span>
          </div>

          <div class="line-fluid bb-light my-4"></div>

          <div class="prof-filter-tabs mb-5 pb-5">
            <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link" [ngClass]="{'active': item1ActiveClass}" (click)="listClick($event, 'item1')"
                [routerLink]="[ '/user-profile' ]" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Profile</a>
              <a class="nav-link" [ngClass]="{'active': item2ActiveClass}" (click)="listClick($event, 'item2')"
                [routerLink]="[ '/user-profile/contact' ]" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
                role="tab" aria-controls="v-pills-profile" aria-selected="false">Contacts</a>
              <a class="nav-link" [ngClass]="{'active': item3ActiveClass}" (click)="listClick($event, 'item3')"
                [routerLink]="[ '/user-profile/address' ]" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"
                role="tab" aria-controls="v-pills-messages" aria-selected="false">Addresses</a>
              <a class="nav-link" [ngClass]="{'active': item4ActiveClass}" (click)="listClick($event, 'item4')"
                [routerLink]="[ '/user-profile/identification' ]" id="v-pills-4-tab" data-toggle="pill"
                href="#v-pills-4" role="tab" aria-controls="v-pills-settings" aria-selected="false">Identifications</a>
              <a class="nav-link" [ngClass]="{'active': item5ActiveClass}" (click)="listClick($event, 'item5')"
                [routerLink]="[ '/user-profile/contact-person' ]" id="v-pills-5-tab" data-toggle="pill"
                href="#v-pills-5" role="tab" aria-controls="v-pills-settings" aria-selected="false">Contact Person</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</app-header>
