<app-header *ngIf="!displayPayment">
  <app-mark-land [data]="sendLandData" (output)="getMarkers($event)" (output1)="getMarkers($event)"
                 (output2)="isDrawMap=false" *ngIf="isDrawMap"></app-mark-land>
  <div class="container" *ngIf="!isDrawMap">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Add New Policy</h3>
        <p>Put your requirements to see if you will profit by planting the crops</p>
      </div>


    </div>
    <div class="line-fluid-row bb-light mb-3"></div>
    <div class="row">
      <div class="col-md-3 ">
        <!-- Left menu steps -->
        <p class="font-light-13 pt-2">Please folow the process to create a <br> policy to the specific livestock or <br>
          weather component.</p>

        <div class="prg-bar-thin my-4">
          <div class="pg-value" style="width:55%"></div>
        </div>


        <div class="policy-add-steps ">
          <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-link" [ngClass]="{'active':policyFormActivated}" id="v-pills-1-tab" data-toggle="pill"
               href="#v-pills-1"
               role="tab" aria-controls="v-pills-home" aria-selected="true">

              <div class="policy-step-li" [ngStyle]="{'cursor': finishedPolicyStep1 ? 'default' : 'pointer' }"
                   [ngClass]="{'st-completed': finishedPolicyStep1}">
                <div class="psl-acc-node">
                  <div class="ps-completed">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>1</span>
                  </div>
                </div>
                <label [ngStyle]="{'cursor': finishedPolicyStep1 ? 'default' : 'pointer' }" class="psl-1">Policy</label>

              </div>

            </a>
            <a class="nav-link" [ngClass]="{'active':policyAdditionalDetailsActivated}" id="v-pills-2-tab"
               data-toggle="pill"
               href="#v-pills-2" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              <div class="policy-step-li " [ngStyle]="{'cursor': finishedPolicyStep2 ? 'default' : 'pointer' }"
                   [ngClass]="{'st-completed': finishedPolicyStep2}">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle" [ngClass]="{'class': true}"></i>
                  </div>

                  <div class="ps-step-no">
                    <span>2</span>
                  </div>
                </div>
                <label class="psl-1">Additional Details</label>

              </div>
            </a>
            <a class="nav-link " id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
               aria-controls="v-pills-messages"
               aria-selected="false">

            </a>

          </div>
        </div>


      </div>
      <div class="col-md-9 pl-5">
        <div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
          <img src="../../../../assets/vendor/images/loading.svg" alt="">
        </div>
        <!-- add policy weather and livestock forms -->
        <div #weatherLivestockForm *ngIf="displayWeatherLivestockForm">
          <div class="form-new-opt mb-4 pr-3">
            <h6>Add Policy</h6>
            <a *ngIf="parentPage === 'c'" [routerLink]="[ '/customers' ]" class="font-light-nm">Cancel</a>
            <a *ngIf="parentPage === 'p'" [routerLink]="[ '/policies' ]" class="font-light-nm">Cancel</a>
          </div>

          <div class="card-b ">

            <div class="card-b-body py-0 pt-2">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-select placeholder="Type" (selectionChange)="setDate(policyType)" [(ngModel)]="policyType">
                      <mat-option value="weather">
                        Weather
                      </mat-option>
                      <mat-option value="livestock">
                        Livestock
                      </mat-option>
                      <mat-option value="indemnity">
                        Indemnity
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

          <div class="card-b my-4">
            <!-- Weather form -->
            <div #policyWeatherForm *ngIf="policyType === 'weather'">

              <div class="card-b-head bb-light">
                <label>Policy Details </label>
              </div>
              <div class="card-b-body">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Crop" (selectionChange)="getPlans()" [(ngModel)]="cropType"
                                  [formControl]="cropTypeFormControl">
                        <mat-option *ngFor="let cropType of cropTypes" [value]="cropType.code">
                          {{cropType.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="cropTypeFormControl.hasError('required')">
                        Crop Type is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Weather Type" (selectionChange)="getPlans()"
                                  [(ngModel)]="weatherType"
                                  [formControl]="weatherTypeFormControl">
                        <mat-option *ngFor="let weatherType of weatherTypes" [value]="weatherType.code">
                          {{weatherType.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="weatherTypeFormControl.hasError('required')">
                        Weather Type is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Plan" [(ngModel)]="plan" [formControl]="planFormControl">
                        <mat-option *ngFor="let plan of plans" [value]="plan.code">
                          {{plan.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="planFormControl.hasError('required')">
                        Plan is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Business Channel" [(ngModel)]="businessChanel"
                                  [formControl]="businessChanelFormControl">
                        <mat-option *ngFor="let businessChanel of businessChanels" [value]="businessChanel.code">
                          {{businessChanel.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="businessChanelFormControl.hasError('required')">
                        Business Chanel is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">

                    <div class="row">
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="fromYear" (selectionChange)="changeFromYearDropdown()" required
                                      placeholder="From Year">
                            <mat-option *ngFor="let year of fromYears;let i = index" [value]="year">
                              {{year | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="fromMonth" (selectionChange)="changeFromMonthDropdown()" required
                                      placeholder="From Month">
                            <mat-option *ngFor="let month of fromMonths;let i = index" [value]="month">
                              {{month | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6">

                    <div class="row">
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="toYear" (selectionChange)="changeToYearDropdown()" required
                                      placeholder="To Year"
                          >
                            <mat-option *ngFor="let year of toYears;let i = index" [value]="year">
                              {{year | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="toMonth" (selectionChange)="setDayCountWeather()" required
                                      placeholder="To Month"
                          >
                            <mat-option *ngFor="let month of toMonths;let i = index" [value]="month">
                              {{month | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Payment Type" [(ngModel)]="paymentType"
                                  [formControl]="paymentFormControl">
                        <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.code">
                          {{paymentType.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="paymentFormControl.hasError('required')">
                        Payment is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="tp-full-width">
                      <input readonly matInput placeholder="Days" [(ngModel)]="weatherDayCount">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4" *ngIf="this.asInternalStaff === 'Y'">
                    <mat-form-field>
                      <mat-select  placeholder="Intermediary Types">
                        <mat-option *ngFor="let types of intermediaryTypes" [value]="types.code"
                                    (click)=getIntermediaryData(types.code)>
                          {{ types.description | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-8" *ngIf="this.asInternalStaff === 'Y'">
                    <mat-form-field>

                      <input (keyup)="searchIntermediaryName($event)" type="text" placeholder="Intermediary Name"
                             aria-label="Number" matInput [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let intermediaryName of intermediaryFilteredList"
                                    [value]="intermediaryName.description"
                                    (click)="selectIntermediaryName(intermediaryName.code)">
                          {{intermediaryName.description}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>

            <!-- Livestock form -->
            <div #livestockForm *ngIf="policyType === 'livestock'">

              <div class="card-b-head bb-light">
                <label>Policy Details </label>
              </div>
              <div class="card-b-body">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select required placeholder="Plan" [(ngModel)]="product"
                                  [formControl]="liveStockPlanFormControl">
                        <mat-option *ngFor="let product of products" [value]="product.code">
                          {{product.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="liveStockPlanFormControl.hasError('required')">
                        Plan is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput required readonly matInput [min]="minDate"
                             [formControl]="liveStockStartDateFormControl"
                             [matDatepicker]="picker3" [(ngModel)]="liveStockStartDate" placeholder="Start Date"
                             (dateChange)="setLivestockPolicyEndDate()">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                      <mat-error *ngIf="liveStockStartDateFormControl.hasError('required')">
                        start Date is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput required readonly [min]="livestockPolicyEnddateMindate"
                             [formControl]="liveStockEndDateFormControl"
                             matInput [matDatepicker]="picker4" [(ngModel)]="liveStockEndDate" placeholder="End Date"
                             (dateChange)="setDayCountLivestock()">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                      <mat-error *ngIf="liveStockEndDateFormControl.hasError('required')">
                        End Date is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="liveStockEndDateFormControl.hasError('matDatepickerMin')">
                        End date <strong>cannot be less than </strong> start date
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select required placeholder="Business Channel" [(ngModel)]="liveStickBusinessChannel"
                                  [formControl]="liveStickBusinessChannelFormControl">
                        <mat-option *ngFor="let liveStickBusinessChannel of liveStickBusinessChannels"
                                    [value]="liveStickBusinessChannel.code">
                          {{liveStickBusinessChannel.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="liveStickBusinessChannelFormControl.hasError('required')">
                        Business channel is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select required placeholder="Payment Method" [(ngModel)]="premiumSettlementMethod"
                                  [formControl]="premiumSettlementMethodFormControl">
                        <mat-option *ngFor="let premiumSettlementMethod of premiumSettlementMethods"
                                    [value]="premiumSettlementMethod.code">
                          {{premiumSettlementMethod.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="premiumSettlementMethodFormControl.hasError('required')">
                        Payment Method is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="tp-full-width">
                      <input readonly matInput placeholder="Days" [(ngModel)]="livestockDayCount">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4" *ngIf="this.asInternalStaff === 'Y'">
                    <mat-form-field>
                      <mat-select  placeholder="Intermediary Types">
                        <mat-option *ngFor="let types of intermediaryTypes" [value]="types.code"
                          (click)=getIntermediaryData(types.code)>
                          {{ types.description | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-8" *ngIf="this.asInternalStaff === 'Y'">
                      <mat-form-field>

                        <input (keyup)="searchIntermediaryName($event)" type="text" placeholder="Intermediary Name"
                          aria-label="Number" matInput [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-option *ngFor="let intermediaryName of intermediaryFilteredList"
                            [value]="intermediaryName.description"
                            (click)="selectIntermediaryName(intermediaryName.code)">
                            {{intermediaryName.description}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                  </div>
                </div>

              </div>

            </div>

            <!-- Indemnity Form -->
            <app-add-policy-indemnity
              *ngIf="policyType === 'indemnity'"
              (formValid)="activateSaveIndemnity($event)" (savePolicy)="setIndemnityData($event)">
            </app-add-policy-indemnity>

          </div>

          <button (click)="saveWeather()"
                  [disabled]="cropTypeFormControl.hasError('required') || weatherTypeFormControl.hasError('required') || planFormControl.hasError('required') || businessChanelFormControl.hasError('required') || paymentFormControl.hasError('required')"
                  *ngIf="policyType === 'weather'" class="btn-theme-lg mb-2">Continue
          </button>
          <button (click)="saveLivestock()"
                  [disabled]="liveStockStartDateFormControl.hasError('required') || liveStockEndDateFormControl.hasError('required') || liveStockEndDateFormControl.hasError('matDatepickerMin')  || liveStockPlanFormControl.hasError('required') || liveStickBusinessChannelFormControl.hasError('required') || premiumSettlementMethodFormControl.hasError('required')"
                  *ngIf="policyType === 'livestock'" class="btn-theme-lg mb-2">Continue
          </button>
          <button (click)="saveIndemnity()"
                  [disabled]="!isFormValid"
                  *ngIf="policyType === 'indemnity'" class="btn-theme-lg mb-2">Continue
          </button>
        </div>

        <!-- additional details of  policy weather -->
        <div #weatherAdditionalDetails *ngIf="displayWeatherAdditionalDetails">

          <div class="form-new-opt mb-4 pr-3">

            <label class="font-dk-16">Proposal Number : {{proposalNumber}}</label>

            <a *ngIf="parentPage === 'c'" [routerLink]="[ '/customers' ]" class="font-light-nm">Cancel</a>
            <a *ngIf="parentPage === 'p'" [routerLink]="[ '/policies' ]" class="font-light-nm">Cancel</a>

          </div>

          <div class="row my-3">

            <div class="col-md-7">
              <div class="card-b mb-3" *ngIf="productType === 'WHINX'">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p1" role="button" aria-expanded="false"
                     aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{risks.length}} Lands Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <button *ngIf="!authorizedPolicy" (click)="addLands();" class="btn-light-round"> Add New</button>
                </div>


                <div class="collapse" id="collapse-p1">
                  <div *ngIf="risks.length > 0" class="acc-contain bt-light px-4">
                    <div *ngFor="let risk of risks" class="acc-list-t1 bb-light">
                      <div (click)="viewRisk(risk.seqNo, productCode);" class="alt-t1">
                        <label class="font-b font-dk">{{risk.riskName | titlecase}}</label>
                        <div *ngFor="let info of risk.riskInformation">
                          <div *ngIf="info.description === 'CROP VARIANCE'">
                            <label>{{info.valueDescription | titlecase}}</label>
                          </div>
                        </div>

                      </div>
                      <a *ngIf="!authorizedPolicy" (click)="manageLand(risk.seqNo);" class="font-light-nm">Manage</a>
                      <a *ngIf="!authorizedPolicy" (click)="removeRisk(risk.seqNo);" class="font-light-nm">Remove</a>
                    </div>


                  </div>
                </div>
              </div>

              <!-- Livestocks if weather type === LS -->
              <div class="card-b mb-3" *ngIf="productType === 'LIVST'">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p1" role="button" aria-expanded="false"
                     aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{risks.length}} Livestocks Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <button *ngIf="!authorizedPolicy" (click)="addLivestock();" class="btn-light-round"> Add New</button>
                </div>

                <div class="collapse" id="collapse-p1">
                  <div *ngIf="risks.length > 0" class="acc-contain bt-light px-4">
                    <div *ngFor="let risk of risks" class="acc-list-t1 bb-light">
                      <div (click)="viewRisk(risk.seqNo, productCode);" class="alt-t1">
                        <label class="font-b font-dk">{{risk.riskName}}</label>
                        <label>{{risk.riskSumInsured}}</label>
                      </div>
                      <a *ngIf="!authorizedPolicy" (click)="manageLivestock(risk.seqNo);"
                         class="font-light-nm">Manage</a>
                      <a *ngIf="!authorizedPolicy" (click)="removeRisk(risk.seqNo);" class="font-light-nm">Remove</a>
                    </div>


                  </div>
                </div>
              </div>

              <div class="card-b mb-3" *ngIf="productType === 'CRPTY'" id="newIndemnityPolicyCovers">



                    <div class="acc-head">
                      <a class=" px-4 " data-toggle="collapse" href="#collapse-covers-indemnity" role="button" aria-expanded="false"
                         aria-controls="collapseExample">
                        <div class="d-flex justify-content-between align-items-center">
                          {{covers.length}}  Covers Added
                          <i class="fas fa-chevron-down"></i>
                        </div>
                      </a>
                      <!-- <button *ngIf="!authorizedPolicy && (asCustomer !== 'Y')" class="btn-light-round" (click)="addCovers();"> Add New</button> -->
                    </div>
                    <div class="collapse" id="collapse-covers-indemnity">
                      <div *ngIf="covers.length > 0" class="acc-contain bt-light px-4">
                        <div class="acc-list-t1 bb-light" *ngFor="let cover of covers">
                          <div class="alt-t1">
                            <label class="font-b font-dk">{{cover.perilName}}</label>
                            <label>{{cover.perilPremium}}</label>
                          </div>
                          <div>
                            <!-- <a *ngIf="!authorizedPolicy && (asCustomer !== 'Y')" (click)="manageCovers(cover.seqNo);"
                               class="font-light-nm">Manage</a>
                            <a *ngIf="!authorizedPolicy && (asCustomer !== 'Y')" (click)="removeCovers(cover.seqNo);"
                               class="font-light-nm">Remove</a> -->
                          </div>

                        </div>
                      </div>
                    </div>


              </div>

              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p2" role="button" aria-expanded="false"
                     aria-controls="collapseExample">
                    <div class="d-flex justify-content-between align-items-center">
                      {{imagList.length}} Supporting Docs. Images Added
                      <i class="fas fa-chevron-down"></i>
                    </div>
                  </a>
                  <!-- <button class="btn-light-round"> Add New</button> -->
                  <div *ngIf="!authorizedPolicy" class="img-up-thme-btn">
                    <button *ngIf="!authorizedPolicy" class="btn-light-round"> Add New</button>
                    <input multiple type="file" (change)="addImg($event)">
                  </div>
                </div>
                <div class="collapse" id="collapse-p2" [ngClass]="{'show': imagList.length > 0}">
                  <div class="acc-contain bt-light px-4">
                    <div class="p-im-grid">
                      <div class="row no-gutters">
                        <div *ngFor="let desc of imagList; let i = index" class="col-4">
                          <div class="form-theme-modal mod-body ">
                            <div class="img-g-sm">
                              <div *ngIf="!imagList[i].value" class="prg-i">
                                <div class="prg-bar">
                                  <div class="pg-value" [style.width]="imagList[i].progress"></div>
                                </div>
                                <p>Uploading...</p>
                              </div>
                              <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" alt="">
                              <div *ngIf="!authorizedPolicy" class="remove-i" (click)="removeImg(i)"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="my-3">
                      <button *ngIf="imagList.length > 0" (click)="savePolicyImageKeys()" class="btn-line-gray">Save
                        Images
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-5 pl-0">
              <div class="card-b p-3">
                <div class="d-flex justify-content-between mb-2">
                  <label class="font-dk-b">Total Premium</label>
                  <label class="font-dk-b"> <small class="font-xsm">LKR</small> {{totalPremium | currency: ' '}}
                  </label>
                </div>
                <button [disabled]="authorizedPolicy || risks.length === 0 || this.productType === 'LIVST' || productType === 'CRPTY' || isCustomer"
                  (click)="completePolicy()" class="btn-theme-lg w-100">
                  Complete Policy
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Add Land to Policy Form -->
        <div #addLandForm *ngIf="displayAddLandForm">
          <div class="form-list-v-head my-4 pr-3 d-flex justify-content-between">
            <h6>Add Land to Policy</h6>
            <!-- <a (click)="backToPolicyDetails()" class="font-light-nm"><i class="fas fa-chevron-left"></i> Back</a> -->
            <a (click)="backToPolicyAdditionalDetails()" class="font-light-nm">Cancel</a>
          </div>
          <div class="card-b ">
            <div class="card-b-body py-0 pt-2">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-select [disabled]="disabledLocation" required #locationSelectBox
                                (selectionChange)="getSelectedLocation(location)"
                                placeholder="Select Location" [(ngModel)]="location"
                                [formControl]="locationFormControl">
                      <mat-option value="select-land">Select Location</mat-option>
                      <mat-option value="add-new">Add New Location</mat-option>
                      <mat-option *ngFor="let location of locations" [value]="location">
                        {{location.address | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="locationFormControl.hasError('required')">
                      Location is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <!-- Add Land -->
          <div #weatherAddLandForm *ngIf="!viewAddLand">
            <form [formGroup]="landForm">

              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">


                  <div class="card-b my-4">

                    <div class="acc-head">
                      <a class=" px-4 " data-toggle="collapse" href="#collapse-p52" role="button" aria-expanded="false"
                         aria-controls="collapseExample">
                        <div class="d-flex justify-content-between align-items-center">
                          Land Details
                          <i class="fas fa-chevron-down"></i>
                        </div>
                      </a>
                    </div>

                    <div class="collapse" [ngClass]="{'d-none': viewAddLand, 'show': !viewAddLand}" id="collapse-p52">
                      <div class="acc-contain bt-light px-4 pt-3">
                        <div class="row">

                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Land Name / Plot Number" formControlName="plotName">
                              <mat-error>Plot number is <strong>required</strong></mat-error>
                            </mat-form-field>
                          </div>

                          <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Address" formControlName="address">
                              <mat-error>Address is <strong>required</strong></mat-error>
                            </mat-form-field>

                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>District</mat-label>
                              <mat-select [(value)]="selectedDistrict" (valueChange)="getDivisionns()"
                                          formControlName="district">
                                <mat-option *ngFor="let item of districtsList" [value]="item">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                              <mat-error>District is <strong>required</strong></mat-error>
                            </mat-form-field>

                          </div>
                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Division</mat-label>
                              <mat-select [(value)]="selectedDivision" (valueChange)="getGramasevaDivisions()"
                                          formControlName="division">
                                <mat-option *ngFor="let item of divisionsList" [value]="item">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                              <mat-error>Devision is <strong>required</strong></mat-error>
                            </mat-form-field>

                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Gramasewa Division</mat-label>
                              <mat-select [(value)]="selectedGramasevaDivision" formControlName="gramasevaDivision">
                                <mat-option *ngFor="let item of gramasevaDivisionsList" [value]="item">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                              <mat-error>Gramasewa Devision is <strong>required</strong></mat-error>
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Aggregation Service Centre</mat-label>
                              <mat-select [(value)]="selectedgetagrarianServiceCenter"
                                          formControlName="agrarianServiceCenter">
                                <mat-option *ngFor="let item of getagrarianServiceCentersList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                              <mat-error>Aggregation Service Centre is <strong>required</strong></mat-error>
                            </mat-form-field>

                          </div>


                          <div class="col-md-6">

                            <!-- <mat-label>Land Size</mat-label> -->


                            <div class="row no-gutters">

                              <div class="col">
                                <mat-form-field>
                                  <input matInput type="number" placeholder=" Land Size - Acres" formControlName="sizeInAcres">
                                  <mat-error>Acres is <strong>required</strong></mat-error>
                                </mat-form-field>

                              </div>
                              <div class="col">
                                <mat-form-field>
                                  <input matInput type="number" placeholder="Perches" formControlName="sizeInPerches">
                                  <mat-error *ngIf="landForm.controls['sizeInPerches'].errors?.max">Value must be <strong>less
                                      than 160</strong>
                                  </mat-error>
                                  <mat-error *ngIf="landForm.controls['sizeInPerches'].errors?.required">
                                    Perches is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>

                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Ownership</mat-label>
                              <mat-select [(value)]="selectedOwnershipType" formControlName="ownership">
                                <mat-option *ngFor="let item of ownershipTypesList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                              <mat-error>Ownership is <strong>required</strong></mat-error>
                            </mat-form-field>

                          </div>

                          <div class="col-md-8">
                            <mat-form-field>
                              <span (click)="asd()" class="field-txt-edge"><i class="fas fa-map-marker-alt"></i></span>
                              <input (input)="isDrawMap = true" matInput placeholder="Mark Land Plot"
                                     formControlName="geometry"
                                     readonly>
                              <mat-error *ngIf="landForm.controls['geometry'].errors?.required">Land plot is <strong>required</strong></mat-error>
                            </mat-form-field>
                          </div>

                        </div>
                        <button mat-button class="btn-theme mb-3" (click)="saveLand()"
                                [disabled]="landForm.invalid">Continue
                        </button>
                      </div>
                    </div>
                  </div>


                  <!-- <button class="btn-theme-lg">Create Policy</button> -->
                </div>


              </div>

            </form>
          </div>

          <!-- Cultivation Details : Weather -->
          <div class="card-b my-4" *ngIf="!showIndemnityAddLandsForm">

            <div class="acc-head">


              <a class=" px-4 " data-toggle="collapse" href="#collapse-p53" role="button" aria-expanded="false"
                 aria-controls="collapseExample">
                <div class="d-flex justify-content-between align-items-center">
                  Cultivation Details
                  <i class="fas fa-chevron-down"></i>

                </div>
              </a>
            </div>


            <div class="collapse" [ngClass]="{'d-none': viewAddCultivation, 'show': !viewAddCultivation}"
                 id="collapse-p53">
              <div class="acc-contain bt-light px-4 pt-3">
                <div class="row">
                  <div class="col-md-8">
                    <mat-form-field class="tp-full-width">
                      <input [attr.disabled]="disabledCultivationFeilds" required matInput placeholder="Farmer Name"
                             [(ngModel)]="farmerName" [formControl]="farmerNameFormControl">
                      <mat-error *ngIf="farmerNameFormControl.hasError('required')">
                        Farmer Name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select [disabled]="disabledCultivationFeilds" required placeholder="Crop Variance"
                                  [(ngModel)]="cropVariance" [formControl]="cropVarianceFormControl">
                        <mat-option *ngFor="let cropVariance of cropVariances" [value]="cropVariance.code">
                          {{cropVariance.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="cropVarianceFormControl.hasError('required')">
                        Crop Variance is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select disabled required placeholder="Weather Station" [(ngModel)]="weatherStation"
                                  [formControl]="landWeatherStationFormControl">
                        <mat-option *ngFor="let weatherStation of weatherStations" [value]="weatherStation.sequence">
                          {{weatherStation.name | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="landWeatherStationFormControl.hasError('required')">
                        Weather Station is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field>
                      <input [disabled]="disabledCultivationFeilds" matInput required readonly [min]="startDate"
                             [max]="endDate" [matDatepicker]="picker5"
                             [(ngModel)]="weatherLandStartDate" placeholder="Start Date"
                             [formControl]="weatherLandStartDateFormControl">
                      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                      <mat-error *ngIf="weatherLandStartDateFormControl.hasError('required')">
                        Start Date is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">

                    <mat-form-field>
                      <input [disabled]="disabledCultivationFeilds" matInput required readonly
                             [formControl]="weatherLandEndDateFormControl" [min]="weatherLandStartDate"
                             [max]="endDate" [matDatepicker]="picker6" [(ngModel)]="weatherLandEndDate"
                             placeholder="End Date">
                      <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                      <mat-datepicker #picker6></mat-datepicker>
                      <mat-error *ngIf="weatherLandEndDateFormControl.hasError('required')">
                        End Date is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="weatherLandEndDateFormControl.hasError('matDatepickerMin')">
                        End date <strong>cannot be less than </strong> start date
                      </mat-error>

                    </mat-form-field>
                  </div>

                  <div class="col-md-6">

                    <div class="row ">
                      <div class="col pr-0">
                        <mat-form-field class="tp-full-width">
                          <input [attr.disabled]="disabledCultivationFeilds" matInput required
                                 placeholder="Land Size - Acres"
                                 [(ngModel)]="size2">
                          <!--                          <mat-error *ngIf="size1FormControl.hasError('required')">-->
                          <!--                            Land Size is <strong>required</strong>-->
                          <!--                          </mat-error>-->
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="tp-full-width">
                          <input [attr.disabled]="disabledCultivationFeilds" required matInput required
                                 placeholder="Perches" [formControl]="size1UnitTypeFormControl"
                                 [(ngModel)]="size1">
                          <mat-error *ngIf="size1UnitTypeFormControl.hasError('required')">
                            Perches is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="tp-full-width mat-form-th">
                      <span (click)="isDrawMap = true" class="field-txt-edge"><i
                        *ngIf="!disabledCultivationFeilds" class="fas fa-map-marker-alt"></i></span>
                      <input [attr.disabled]="disabledCultivationFeilds" readonly
                             [formControl]="markLandPlotFormControl" required matInput placeholder="Mark Land Plot"
                             [(ngModel)]="markLandPlotString">
                      <mat-error *ngIf="markLandPlotFormControl.hasError('required')">
                        Mark Land Plot is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">

                    <div class="row ">
                      <div class="col pr-0">
                        <mat-form-field class="tp-full-width">
                          <input [attr.disabled]="disabledCultivationFeilds" required matInput
                                 [formControl]="noOfunitsFormControl" min="0" type="number" (input)="calculatePremium()"
                                 matInput placeholder="No. Units " [(ngModel)]="noOfUnits">
                          <mat-error *ngIf="noOfunitsFormControl.hasError('required')">
                            No. Units is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="tp-full-width">
                          <input [attr.disabled]="disabledCultivationFeilds" readonly required matInput
                                 [formControl]="priceFormControl" min="0" type="number"
                                 (input)="calculatePremium()" matInput placeholder=" Price - LKR" [(ngModel)]="price">
                          <mat-error *ngIf="priceFormControl.hasError('required')">
                            Price is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="tp-full-width">
                      <input [attr.disabled]="disabledCultivationFeilds" readonly matInput placeholder="Premium - LKR"
                             [(ngModel)]="weatherLandPremium">
                    </mat-form-field>
                  </div>

                </div>
                <button
                  [disabled]="disabledCultivationFeilds || weatherLandEndDateFormControl.hasError('matDatepickerMin') || priceFormControl.hasError('required') || noOfunitsFormControl.hasError('required') || markLandPlotFormControl.hasError('required') ||  size1UnitTypeFormControl.hasError('required') || weatherLandEndDateFormControl.hasError('required') || weatherLandStartDateFormControl.hasError('required') || landWeatherStationFormControl.hasError('required') || farmerNameFormControl.hasError('required') || cropVarianceFormControl.hasError('required')"
                  *ngIf="landEdit" class="btn-theme mb-3" (click)="updateLandRisk()">Update Land
                </button>

                <button
                  [disabled]="disabledCultivationFeilds || weatherLandEndDateFormControl.hasError('matDatepickerMin') || priceFormControl.hasError('required') || noOfunitsFormControl.hasError('required') || markLandPlotFormControl.hasError('required')  || size1UnitTypeFormControl.hasError('required') || weatherLandEndDateFormControl.hasError('required') || weatherLandStartDateFormControl.hasError('required') || landWeatherStationFormControl.hasError('required') || farmerNameFormControl.hasError('required') || cropVarianceFormControl.hasError('required')"
                  *ngIf="!landEdit" class="btn-theme mb-3" (click)="saveWeatherLand()">Submit Land
                </button>

              </div>
            </div>
          </div>

          <!-- Cultivation Details : Indemnity -->
          <form [formGroup]="indemnityAddLandForm" *ngIf="showIndemnityAddLandsForm" id="indemnityAddLandForm_PolicyForm">
            <div class="card-b my-4" *ngIf="showIndemnityAddLandsForm">
              <div class="acc-head">
                <a class=" px-4 " data-toggle="collapse" href="#collapse-p53" role="button" aria-expanded="false"
                   aria-controls="collapseExample">
                  <div class="d-flex justify-content-between align-items-center">
                    Cultivation Details
                    <i class="fas fa-chevron-down"></i>
                  </div>
                </a>
              </div>

              <div class="collapse" [ngClass]="{'d-none': viewAddCultivation, 'show': !viewAddCultivation}"
                   id="collapse-p54">
                <div class="acc-contain bt-light px-4">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="tp-full-width">
                        <input [attr.disabled]="disabledCultivationFeilds" required matInput placeholder="Farmer Name"
                               formControlName="indemnityFarmerName"
                        >
                        <mat-error *ngIf="indemnityFarmerName.invalid">
                          Farmer Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                          <mat-select required placeholder="Crop Category" formControlName="indemnityCultivationCropType">
                            <mat-option *ngFor="let cropType of indemnityCropTypes" [value]="cropType.code">
                              {{cropType.description | titlecase}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="indemnityCultivationCropType.invalid">
                            Crop Category is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-select required placeholder="Crop" formControlName="indemnityCultivationCrop">
                          <mat-option *ngFor="let crop of indemnityCrops" [value]="crop.code">
                            {{crop.description | titlecase}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="indemnityCultivationCrop.invalid">
                          Crop is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-select required placeholder="Crop Variance"
                                    formControlName="indemnityCropVariance">
                          <mat-option *ngFor="let cropVariance of cropVariances" [value]="cropVariance.code">
                            {{cropVariance.description | titlecase}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="indemnityCropVariance.invalid">
                          Crop Variance is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="tp-full-width">
                        <input [attr.disabled]="disabledCultivationFeilds" required matInput
                               placeholder="Sum Insured - LKR"
                               formControlName="indemnitySumInsured">
                        <mat-error *ngIf="indemnitySumInsured.invalid">
                          Sum Insured is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>


                    <div class="col-md-4">
                      <mat-form-field>
                        <input matInput [attr.disabled]="disabledCultivationFeilds" readonly required
                               [min]="indemnityLandStarDateMin"
                               [max]="indemnityLandMaxDate"
                               [matDatepicker]="picker5"
                               (dateChange)="indemnityLandStartDateChanged()"
                               placeholder="Start Date"
                               formControlName="indemnityLandStartDate" id="policy-form-indemnity-cultivation">
                        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                        <mat-error *ngIf="indemnityLandStartDate.invalid">
                          Start Date is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">

                      <mat-form-field>
                        <input [attr.disabled]="disabledCultivationFeilds" matInput required readonly
                               formControlName="indemnityLandEndDate"
                               [min]="indemnityLandEndDateMin"
                               [max]="indemnityLandMaxDate"
                               [matDatepicker]="picker6"
                               placeholder="End Date">
                        <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                        <mat-datepicker #picker6></mat-datepicker>
                        <mat-error *ngIf="indemnityLandEndDate.invalid">
                          End Date is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-md-6">
                      <div class="row ">
                        <div class="col pr-0">
                          <mat-form-field class="tp-full-width">
                            <input [attr.disabled]="disabledCultivationFeilds" matInput required
                                   placeholder="Land Size - Acres"
                                   formControlName="indemnityAcres">
                            <mat-error *ngIf="indemnityAcres.invalid">
                              Acres are required.
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <mat-form-field class="tp-full-width">
                            <input [attr.disabled]="disabledCultivationFeilds" matInput required
                                   placeholder="Perches" formControlName="indemnityPerches">
                            <mat-error *ngIf="indemnityPerches.invalid">
                              Perches is <strong>required</strong>
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <mat-form-field class="tp-full-width mat-form-th">
                      <span *ngIf="!disabledCultivationFeilds" (click)="isDrawMap = true" class="field-txt-edge"><i
                        class="fas fa-map-marker-alt"></i></span>
                        <input [attr.disabled]="disabledCultivationFeilds" readonly
                               formControlName="indemnityPlot" required matInput placeholder="Mark Land Plot">
                        <mat-error *ngIf="indemnityPlot.invalid">
                          Mark Land Plot is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <button
                    [disabled]="disabledCultivationFeilds || indemnityAddLandForm.invalid"
                    *ngIf="landEdit" class="btn-theme mb-3" (click)="updateLandRisk()">Update Land
                  </button>

                  <button
                    [disabled]="disabledCultivationFeilds  || indemnityAddLandForm.invalid"
                    *ngIf="!landEdit" class="btn-theme mb-3" (click)="saveIndemnityLand()">Submit Land
                  </button>

                </div>
              </div>
            </div>
          </form>

          <!-- Weather Index Parameters -->
          <div class="card-b mb-4" #weatherIndexParametersDiv
               *ngIf="displayWeatherIndexParametersDiv  && weatherIndexParameters.length > 0">
            <div class="card-b-head bb-light">
              <label> Weather Index Parameters</label>
            </div>
            <div class="card-b-body p-3">
              <div class="table-s-th">
                <div class="tst-header">

                  <div class="ts-cat">

                  </div>
                  <div class="ts-list">
                    <div class="row">
                      <div class="col-2">
                        Month
                      </div>
                      <div class="col-2">
                        Trigger Point
                      </div>
                      <div class="col-2">
                        Exit Point
                      </div>
                      <div class="col-2">
                        Rate Per MM
                      </div>
                      <div class="col-2">
                        Minimum Payout
                      </div>
                      <div class="col-2">
                        Maximum Payout
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tst-body" *ngIf="weatherIndexParameters.length > 0">
                  <div class="tb-e">
                    <div class="tb-cat">
                      <label> Excess</label>
                    </div>
                    <div class="tb-list">
                      <div class="row" *ngFor="let weatherIndexParameter of weatherIndexParameters">
                        <div class="col-2">
                          {{weatherIndexParameter.month}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessStrike}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessExit}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessNotional}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessMinimumPayout}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessMaximumPayout}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tb-e">
                    <div class="tb-cat">
                      <label> Drought</label>
                    </div>
                    <div class="tb-list">
                      <div class="row" *ngFor="let weatherIndexParameter of weatherIndexParameters">
                        <div class="col-2">
                          {{weatherIndexParameter.month}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitStrike}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitExit}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitNotional}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitMinimumPayout}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitMaximumPayout}}
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Add Photos -->
          <div class="card-b mb-4">
            <div class="acc-head">

              <a class=" px-4 " data-toggle="collapse" href="#collapse-p10" role="button" aria-expanded="false"
                 aria-controls="collapseExample">
                <div class="d-flex justify-content-between align-items-center">
                  {{imagList.length}} Photos Added
                  <i class="fas fa-chevron-down"></i>

                </div>
              </a>
              <div *ngIf="!authorizedPolicy" class="img-up-thme-btn">
                <button [ngClass]="{'d-none': viewAddLandPhotos}" class="btn-light-round">
                  Add New
                </button>

                <input multiple type="file" (change)="addImg($event)">

              </div>


            </div>

            <div class="collapse" [ngClass]="{'d-none': viewAddLandPhotos, 'show': !viewAddLandPhotos}"
                 id="collapse-p10">
              <div class="acc-contain bt-light px-4">

                <div class="p-im-grid">


                  <div class="row no-gutters">
                    <div *ngFor="let desc of imagList; let i = index" class="col-3">

                      <div class="img-g-sm">
                        <div *ngIf="!imagList[i].value" class="prg-i">
                          <div class="prg-bar">
                            <div class="pg-value" [style.width]="imagList[i].progress"></div>
                          </div>
                          <p>Uploading...</p>
                        </div>
                        <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" alt="">
                        <div *ngIf="!authorizedPolicy" class="remove-i" (click)="removeImg(i)"></div>

                      </div>


                    </div>
                  </div>
                </div>


                <div class="mt-3 mb-2">
                  <button *ngIf="imagList.length > 0" (click)="saveRiskImageKeys()" class="btn-line-gray">Save
                    Images
                  </button>

                  <!-- <button class="btn-theme-lg" disabled="">Save Photos </button> -->
                  <!-- <a href="" class="link-btn-sm ml-4">Cancel</a> -->
                </div>
              </div>
            </div>


          </div>

          <button class="btn-theme-lg mb-2" [disabled]="enableContinueButtonWeatherLand"
                  (click)="continueToWeatherRiskAdditinal()">Continue
          </button>

        </div>

        <!-- Add Livestock -->
        <div #addLivestockForm *ngIf="displayAddLivestockForm">
          <div class="form-new-opt mb-4 pr-3">
            <h6>Add New Livestock</h6>
            <a (click)="displayWeatherLivestockAdditionalDetails()" class="font-light-nm">Cancel</a>
          </div>


          <div class="card-b my-4">
            <div class="card-b-head bb-light">
              <label>Livestock Details </label>

            </div>
            <div class="card-b-body">
              <div class="row">

                <div class="col-md-4">
                  <mat-form-field class="tp-full-width">
                    <input required matInput placeholder="Tag Number" [(ngModel)]="tagNumber"
                           [formControl]="tagNumberFormControl">
                    <mat-error *ngIf="tagNumberFormControl.hasError('required')">
                      Tag Number is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">

                  <mat-form-field>
                    <mat-select required placeholder="Livestock Type" [(ngModel)]="liveStockType"
                                [formControl]="liveStockTypeFormControl">
                      <mat-option *ngFor="let liveStockType of liveStockTypes" [value]="liveStockType.code"
                      (onSelectionChange)="getBreedTypes(liveStockType.code)">
                        {{liveStockType.description | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="liveStockTypeFormControl.hasError('required')">
                      Livestock Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Breed" [(ngModel)]="breedType"
                                [formControl]="breedTypeFormControl">
                      <mat-option *ngFor="let breedType of breedTypes" [value]="breedType.code">
                        {{breedType.description | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="breedTypeFormControl.hasError('required')">
                      Breed Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Gender" [(ngModel)]="gender"
                                [formControl]="genderTypeFormControl">
                      <mat-option *ngFor="let gender of genders" [value]="gender.code">
                        {{gender.description | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="genderTypeFormControl.hasError('required')">
                      Gender is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Age" [(ngModel)]="age" [formControl]="ageTypeFormControl">
                      <mat-option value="1">
                        1 Years
                      </mat-option>
                      <mat-option value="2">
                        2 Years
                      </mat-option>
                      <mat-option value="3">
                        3 Years
                      </mat-option>
                      <mat-option value="4">
                        4 Years
                      </mat-option>
                      <mat-option value="5">
                        5 Years
                      </mat-option>
                      <mat-option value="6">
                        6 Years
                      </mat-option>
                      <mat-option value="7">
                        7 Years
                      </mat-option>
                      <mat-option value="8">
                        8 Years
                      </mat-option>
                      <mat-option value="9">
                        9 Years
                      </mat-option>
                      <mat-option value="10">
                        10 Years
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ageTypeFormControl.hasError('required')">
                      Age is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <input [max]="maxDate1" matInput [matDatepicker]="picker7" [(ngModel)]="livestockPurchaseDate"
                           placeholder="Purchase Date">
                    <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Select Usage" [(ngModel)]="usageType"
                                [formControl]="usageTypeFormControl">
                      <mat-option *ngFor="let usageType of usageTypes" [value]="usageType.code">
                        {{usageType.description | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="usageTypeFormControl.hasError('required')">
                      Usage Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="tp-full-width">
                    <input required matInput placeholder="Owner Name" [(ngModel)]="ownerName"
                           [formControl]="ownerNameFormControl">
                    <mat-error *ngIf="ownerNameFormControl.hasError('required')">
                      Owner Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Inspected By" [(ngModel)]="undewritingAssessor"
                                [formControl]="undewritingAssessorFormControl">
                      <mat-option *ngFor="let undewritingAssessor of undewritingAssessors"
                                  [value]="undewritingAssessor.code">
                        {{undewritingAssessor.name | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="undewritingAssessorFormControl.hasError('required')">
                      Inspected By is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">

                  <mat-form-field>
                    <input matInput required readonly [formControl]="newLivestockStartDateFormControl" [max]="maxDate2"
                           [matDatepicker]="picker8" [(ngModel)]="newLivestockStartDate" placeholder="Inspected Date">
                    <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
                    <mat-datepicker #picker8></mat-datepicker>
                    <mat-error *ngIf="newLivestockStartDateFormControl.hasError('required')">
                      Inspected Date is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="newLivestockStartDateFormControl.hasError('matDatepickerMax')">
                      Inspected date should <strong>not be a future date.</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="tp-full-width">
                    <input required [formControl]="riskSumInsuredFormControl" min="0" type="number" matInput
                           placeholder="Sum Insured - LKR" [(ngModel)]="riskSumInsured">
                    <mat-error *ngIf="riskSumInsuredFormControl.hasError('required')">
                      Risk Sum Insured is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
          <button
            [disabled]="tagNumberFormControl.hasError('required') || liveStockTypeFormControl.hasError('required') || breedTypeFormControl.hasError('required') || genderTypeFormControl.hasError('required') || ageTypeFormControl.hasError('required')  || usageTypeFormControl.hasError('required') || ownerNameFormControl.hasError('required') || undewritingAssessorFormControl.hasError('required') || newLivestockStartDateFormControl.hasError('required') || riskSumInsuredFormControl.hasError('required') || newLivestockStartDateFormControl.hasError('matDatepickerMax')"
            *ngIf="!manageLivestockRisk" (click)="saveLiveStockRisk();" class="btn-theme-lg mb-2">Save
          </button>
          <button
            [disabled]="tagNumberFormControl.hasError('required') || liveStockTypeFormControl.hasError('required') || breedTypeFormControl.hasError('required') || genderTypeFormControl.hasError('required') || ageTypeFormControl.hasError('required')  || usageTypeFormControl.hasError('required') || ownerNameFormControl.hasError('required') || undewritingAssessorFormControl.hasError('required') || newLivestockStartDateFormControl.hasError('required') || riskSumInsuredFormControl.hasError('required') || newLivestockStartDateFormControl.hasError('matDatepickerMax')"
            *ngIf="manageLivestockRisk" (click)="updateLivestockRisk();" class="btn-theme-lg mb-2">Update
          </button>

        </div>


        <!-- Livestock Additional Details -->
        <div #livestockAdditionalDetails *ngIf="displayLivestockAdditionalDetails">

          <div class="form-new-opt mb-4 pr-3">
            <label class="font-dk-16">Proposal Number : {{proposalNumber}}</label>

            <a (click)="displayWeatherLivestockAdditionalDetails()" class="font-light-nm">Cancel</a>
          </div>


          <div class="row my-3">
            <div class="col-md-7">
              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p1" role="button" aria-expanded="false"
                     aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{covers.length}} Covers Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <!-- <button *ngIf="!authorizedPolicy" class="btn-light-round" (click)="addCovers();"> Add New</button> -->
                </div>


                <div class="collapse" id="collapse-p1">
                  <div *ngIf="covers.length > 0" class="acc-contain bt-light px-4">
                    <div class="acc-list-t1 bb-light" *ngFor="let cover of covers">
                      <div class="alt-t1">
                        <label class="font-b font-dk">{{cover.perilName}}</label>
                        <label>{{cover.perilPremium}}</label>
                      </div>

                      <!-- <a *ngIf="!authorizedPolicy" (click)="manageCovers(cover.seqNo);" class="font-light-nm">Manage</a> -->
                      <!-- <a *ngIf="!authorizedPolicy" (click)="removeCovers(cover.seqNo);" class="font-light-nm">Remove</a> -->
                    </div>

                  </div>
                </div>
              </div>

              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p2" role="button" aria-expanded="false"
                     aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{imagList.length}} Photos Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <div *ngIf="!authorizedPolicy" class="img-up-thme-btn">
                    <button class="btn-light-round"> Add New</button>
                    <input multiple type="file" (change)="addImg($event)">
                  </div>

                  <!-- <button class="btn-light-round"> Add New</button> -->
                </div>


                <div class="collapse" id="collapse-p2" [ngClass]="{'show': imagList.length > 0}">


                  <div class="acc-contain bt-light px-4">

                    <div class="p-im-grid">


                      <div class="row no-gutters">
                        <div *ngFor="let desc of imagList; let i = index" class="col-4">

                          <div class="img-g-sm">
                            <div *ngIf="!imagList[i].value" class="prg-i">
                              <div class="prg-bar">
                                <div class="pg-value" [style.width]="imagList[i].progress"></div>
                              </div>
                              <p>Uploading...</p>
                            </div>
                            <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" alt="">
                            <div *ngIf="!authorizedPolicy" class="remove-i" (click)="removeImg(i)"></div>

                          </div>


                        </div>
                      </div>


                    </div>

                    <!-- <div class=" my-3">
                        <a href="" class="font-light-nm">Manage Photos</a>
                      </div> -->
                    <div class="mt-3 mb-2">
                      <button *ngIf="imagList.length > 0" class="btn-line-gray" (click)="saveRiskImageKeys()">Save
                        Images
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button class="btn-theme-lg">Create Policy</button> -->

            </div>
            <div class="col-md-5 pl-0">
              <div class="card-b p-3">
                <div class="d-flex justify-content-between">
                  <label class="font-dk-b">Total Premium</label>
                  <label class="font-dk-b"> <small class="font-xsm">LKR</small> {{riskPremium | currency: ' '}} </label>
                </div>

                <button [disabled]="authorizedPolicy || this.productType === 'LIVST' || isCustomer" (click)="completePolicy()" class="btn-theme-lg w-100">Complete
                  Policy 1
                </button>
              </div>
            </div>
          </div>


        </div>

        <!-- Indemnity Additional Details -->
        <div #indemnityAdditionalDetails *ngIf="displayIndemnityAdditionalDetails" id="indemnityAdditionalDetails">
          <div class="form-new-opt mb-4 pr-3">
            <label class="font-dk-16">Proposal Number : {{proposalNumber}}</label>
            <a *ngIf="parentPage === 'c'" [routerLink]="[ '/customers' ]" class="font-light-nm">Cancel</a>
            <a *ngIf="parentPage === 'p'" [routerLink]="[ '/policies' ]" class="font-light-nm">Cancel</a>
          </div>

          <div class="row my-3">

            <div class="col-md-7">
              <!-- Add Land Card : Indemnity -->
              <div class="card-b mb-3" *ngIf="productType === 'CRPTY'">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p1" role="button" aria-expanded="false"
                     aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{risks.length}} Lands Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <button *ngIf="!authorizedPolicy" (click)="addLands();" class="btn-light-round"> Add New</button>
                </div>


                <div class="collapse" id="collapse-p1">
                  <div *ngIf="risks.length > 0" class="acc-contain bt-light px-4">
                    <div *ngFor="let risk of risks" class="acc-list-t1 bb-light">
                      <div (click)="viewRisk(risk.seqNo, productCode);" class="alt-t1">
                        <label class="font-b font-dk">{{risk.riskName | titlecase}}</label>
                        <div *ngFor="let info of risk.riskInformation">
                          <div *ngIf="info.description === 'CROP VARIANCE'">
                            <label>{{info.valueDescription | titlecase}}</label>
                          </div>
                        </div>

                      </div>
                      <a *ngIf="!authorizedPolicy" (click)="manageLand(risk.seqNo);" class="font-light-nm">Manage</a>
                      <a *ngIf="!authorizedPolicy" (click)="removeRisk(risk.seqNo);" class="font-light-nm">Remove</a>
                    </div>


                  </div>
                </div>
              </div>

              <!-- Supporting Documents Card : Indemnity -->
              <div class="card-b mb-3">

                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p2" role="button" aria-expanded="false"
                     aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{imagList.length}} Supporting Docs. Images Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <!-- <button class="btn-light-round"> Add New</button> -->

                  <div *ngIf="!authorizedPolicy" class="img-up-thme-btn">
                    <button *ngIf="!authorizedPolicy" class="btn-light-round"> Add New</button>
                    <input multiple type="file" (change)="addImg($event)">
                  </div>


                </div>


                <div class="collapse" id="collapse-p2" [ngClass]="{'show': imagList.length > 0}">


                  <div class="acc-contain bt-light px-4">

                    <div class="p-im-grid">


                      <div class="row no-gutters">
                        <div *ngFor="let desc of imagList; let i = index" class="col-4">

                          <div class="form-theme-modal mod-body ">


                            <div class="img-g-sm">
                              <div *ngIf="!imagList[i].value" class="prg-i">
                                <div class="prg-bar">
                                  <div class="pg-value" [style.width]="imagList[i].progress"></div>
                                </div>
                                <p>Uploading...</p>
                              </div>
                              <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" alt="">
                              <div *ngIf="!authorizedPolicy" class="remove-i" (click)="removeImg(i)"></div>
                            </div>


                          </div>
                        </div>

                      </div>


                    </div>

                    <div class="my-3">
                      <button *ngIf="imagList.length > 0" (click)="savePolicyImageKeys()" class="btn-line-gray">Save
                        Images
                      </button>

                    </div>

                    <!-- <div class=" my-3">
                      <a href="" class="font-light-nm">Manage Photos</a>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 pl-0">
              <div class="card-b p-3">
                <div class="d-flex justify-content-between mb-2">
                  <label class="font-dk-b">Total Premium</label>
                  <label class="font-dk-b"> <small class="font-xsm">LKR</small> {{totalPremium | currency: ' '}}
                  </label>
                </div>
                <button [disabled]="authorizedPolicy || risks.length === 0 || productType === 'CRPTY' ||  isCustomer"
                  (click)="completePolicy()" class="btn-theme-lg w-100">
                  Complete Policy
                </button>
              </div>
            </div>

          </div>

        </div>

        <!-- Add Covers Form -->
        <div #addCoversForm *ngIf="displayAddCoversForm">

          <div class="form-new-opt mb-4 pr-3">
            <h6>Add New Cover</h6>
            <a (click)="displayLiveStockAdditionalDetails()" class="font-light-nm">Cancel</a>
          </div>


          <div class="card-b my-4">
            <div class="card-b-head bb-light">
              <label>Cover Details </label>

            </div>
            <div class="card-b-body">
              <div class="row">

                <!-- <div class="col-md-4">
                              <div class="input-field input-th">

                                    <input id="i-email" type="text" class="validate" value="89892">
                                    <label for="i-email">Tag Number</label>
                                    <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
                              </div>
                        </div> -->

                <div class="col-md-8">

                  <mat-form-field *ngIf="!manageCover">
                    <mat-select [formControl]="otherPerilFormControl" required placeholder="Cover Name"
                                [(ngModel)]="otherPeril">
                      <mat-option *ngFor="let otherPeril of otherPerils" [value]="otherPeril">
                        {{otherPeril.perilDescription | titlecase}}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="otherPerilFormControl.hasError('required')">
                      Cover Name is <strong>required</strong>
                    </mat-error>

                  </mat-form-field>
                  <mat-form-field *ngIf="manageCover">
                    <input required disabled matInput [(ngModel)]="managePerilDescription">
                  </mat-form-field>
                </div>
                <div class="col-md-4">


                  <mat-form-field class="tp-full-width">
                    <input [formControl]="perilPerilSumInsuredFormControl" required type="number" matInput
                           placeholder="Sum Insured - LKR"
                           [(ngModel)]="perilPerilSumInsured">
                    <mat-error *ngIf="perilPerilSumInsuredFormControl.hasError('required')">
                      Sum Insured is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">

                  <div class="row ">
                    <div class="col-7">

                      <mat-form-field class="tp-full-width">
                        <input [max]="perilPerilSumInsured" [formControl]="excessAmountFormControl" required
                               type="number"
                               matInput placeholder="Excess Amount - LKR" [(ngModel)]="excessAmount">
                        <mat-error *ngIf="excessAmountFormControl.hasError('required')">
                          Excess Amount is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="excessAmountFormControl.hasError('max')">
                          Excess amount should be <strong>less than sum insured value. </strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col pl-0">
                      <mat-form-field class="tp-full-width">
                        <input [formControl]="excessPercentageFormControl" required type="number" min="0" max="100"
                               matInput placeholder="%" [(ngModel)]="excessPercentage">
                        <mat-error *ngIf="excessPercentageFormControl.hasError('required')">
                          Excess Percentage is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <button
            [disabled]="excessPercentageFormControl.hasError('required') || excessAmountFormControl.hasError('required') || excessAmountFormControl.hasError('max') || perilPerilSumInsuredFormControl.hasError('required') || otherPerilFormControl.hasError('required') "
            *ngIf="!manageCover" (click)="saveCovers();" class="btn-theme-lg mb-2">Submit Cover
          </button>
          <button
            [disabled]="excessPercentageFormControl.hasError('required') || excessAmountFormControl.hasError('required') || excessAmountFormControl.hasError('max') || perilPerilSumInsuredFormControl.hasError('required') "
            *ngIf="manageCover" (click)="updateRiskCovers();" class="btn-theme-lg mb-2">Update Cover
          </button>

        </div>

      </div>
    </div>
  </div>
</app-header>
<app-payment [productCode]="productType" [debitNoteNumber]="debitNoteNumber" [policyNumber]="policySequnce"
             *ngIf="displayPayment"></app-payment>
