<div class="u-view-img-p">
  <div class="view-img-box" style="max-height: 600px;overflow: hidden">
    <img [src]="data.value ? (data.value | decodeUrl) : '../../../assets/images/avatar.png'" class="user-img" style="max-width: 600px">
  </div>
</div>
