<div class="terms-pop">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
      close
    </button>
    <div class="modal-body h-100 d-flex align-items-center">
  
      <div class="terms-contain">
        <h6>Terms & Conditions</h6>
        <p class="tc-1">We are not responsible for the quality and the price of the products listed in this marketplace.</p>
  
        <p>Thank you for using Airbnb! Your trust is important to us and we’re committed to protecting the privacy and security of your personal information. The information that’s shared with us helps us to provide a great experience with Airbnb. We have a dedicated privacy team that’s committed to protecting all the personal information we collect and help ensure that personal information is handled properly worldwide.
        </p>
  
        <p>This Privacy Policy describes how we collect, use, process, and disclose your personal information, in conjunction with your access to and use of the Airbnb Platform and the Payment Services. This privacy policy describes our privacy practices for all websites, platforms and services that link to it. Please read the privacy policy on the applicable site.</p>
  
        <p>Thank you for using Airbnb! Your trust is important to us and we’re committed to protecting the privacy and security of your personal information. The information that’s shared with us helps us to provide a great experience with Airbnb. We have a dedicated privacy team that’s committed to protecting all the personal information we collect and help ensure that personal information is handled properly worldwide.
        </p>
  
        <p>
          This Privacy Policy describes how we collect, use, process, and disclose your personal information, in conjunction with your access to and use of the Airbnb Platform and the Payment Services. This privacy policy describes our privacy practices for all websites, platforms and services that link to it. Please read the privacy policy on the applicable site.
        </p>
        <div class="bt-light mod-fluid mb-3"></div>
        <div class="terms-footer ">
          <p>I hereby agree to the terms and conditions in this marketplace</p>
          <button (click)="markTAndCAsRead()" class="btn-lg btn-theme">Agree & Proceed</button>
        </div>
      </div>
  
    </div>
  </div>
</div>


