<div class="top-notification "
  [ngClass]="{'d-block': isMessageVisible(), 'top-success': getMsgType() == 'success', 'top-error': getMsgType() == 'error'}">
  <!-- <span><i class="fa fa-check-circle" aria-hidden="true"></i> Password has been changed please enter new password and login</span> -->
  <span><i class="fa fa-check-circle" aria-hidden="true"></i> {{getNotificationMessageContent()}}</span>
</div>

<router-outlet></router-outlet>


