.top-notification {
  display: none;
  padding: 20px;
  background: #ccc;
  position: absolute;
  z-index: 99;
  width: 100%;
  text-align: center;
  color: #fff;
  -webkit-animation: fade 1s;
  /* Safari 4.0 - 8.0 */
  animation: fade 1s;
  z-index: 99999; }

.top-success {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7423ff+0,2c5be1+100 */
  background-image: -webkit-linear-gradient(357deg, #1abba8, #06d37a);
  background-image: -o-linear-gradient(357deg, #1abba8, #06d37a);
  background-image: linear-gradient(93deg, #1abba8, #06d37a); }

.top-error {
  background-image: -webkit-linear-gradient(357deg, #ea7c5b, #e60000);
  background-image: -o-linear-gradient(357deg, #ea7c5b, #e60000);
  background-image: linear-gradient(93deg, #ea7c5b, #e60000); }

.top-info {
  background-image: -webkit-linear-gradient(357deg, #6fc2fa, #2c9be6);
  background-image: -o-linear-gradient(357deg, #6fc2fa, #2c9be6);
  background-image: linear-gradient(93deg, #6fc2fa, #2c9be6); }

.top-warning {
  background-image: -webkit-linear-gradient(357deg, #ecee95, #ffd310);
  background-image: -o-linear-gradient(357deg, #ecee95, #ffd310);
  background-image: linear-gradient(93deg, #ecee95, #ffd310); }

.list-inline {
  margin-bottom: 0px; }

.top-notification i {
  margin-right: 10px;
  position: relative;
  top: 1px; }
