<div id="wrapper" class="login-contain">
   <div class="row h-c">
     <div class="col-md-6 order-md-1 f-c im">
     </div>
     <div class="col-md-6 order-md-0 f-c flex-column">
        <div class="sel-language">


            <button class="btn-no-bg " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="drop-c">
                <img src="../assets/vendor/images/lang-kb.png" alt="">
              </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <p>Select Language</p>
                <div (click)="changeLang('en')" class="li-item-space">
                  <a  class="dropdown-item">English</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedEng, 'fa-circle': !checkedEng}"></i>
                </div>
                <div (click)="changeLang('sin')" class="li-item-space">
                  <a  class="dropdown-item">Sinhala</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedSin, 'fa-circle': !checkedSin}"></i>
                </div>
                <div (click)="changeLang('ta')" class="li-item-space">
                  <a  class="dropdown-item">Tamil</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedTam, 'fa-circle': !checkedTam}"></i>
                </div>
              </div>
        </div>
       <div class="login-form-contain">
        <img  src="../assets/vendor/images/logo.PNG" alt="logo">
         <div class="user-heading">

           <h1>{{"signup_sms_pin_h1" | translate}} <br> {{"signup_sms_pin_h2" | translate}} </h1>
           <!--<p>Enter code sent to number <span>.......</span> 595<br>-->
           <br>
           <p>{{"not_recive_code" | translate}} {{selectedNumber}}?<a class="resend-code" (click)="resendCode()"> {{"resendCode" | translate}}</a>
           </p>
           <!--<div *ngIf="isInvalidCode" class="alert">-->
             <!--&lt;!&ndash;<span class="closebtn">&times;</span>&ndash;&gt;-->
             <!--<span class="closebtn">&times;</span>-->
             <!--<strong>Password Reset Email Sent!</strong>-->
           <!--</div>-->
         </div>
         <form class="form-area-l-mid">
           <div class="form-box user-form" [ngClass]="{'field-invalid': isInvalidCode}">
             <div class="form-group ">
               <label id="emailHelp" class="form-help-text" *ngIf="isInvalidCode">{{errorDescription}}</label>
               <label for="exampleInputEmail1">{{"pin_number" | translate}}</label>
               <hr class = "line" />
               <div class="input-set row">
                 <input autofocus #digitOne  (keyup)="digitTwo.focus()" class="inputs col-sm-2" type="text" maxlength="1" placeholder="0" name="digit1" [(ngModel)]="digit1" required/>
                 <input #digitTwo (keyup)="digitThree.focus()" class="inputs col-sm-2" type="text" maxlength="1" placeholder="0" name="digit2" [(ngModel)]="digit2" required/>
                 <input #digitThree (keyup)="digitFour.focus()"  class="inputs col-sm-2" type="text" maxlength="1" placeholder="0" name="digit3" [(ngModel)]="digit3" required/>
                 <input #digitFour (keyup)="digitFive.focus()"  class="inputs col-sm-2" type="text" maxlength="1" placeholder="0" name="digit4" [(ngModel)]="digit4" required/>
                 <input #digitFive (keyup)="digitSix.focus()"  class="inputs col-sm-2" type="text" maxlength="1" placeholder="0" name="digit5" [(ngModel)]="digit5" required/>
                 <input #digitSix (keyup)="digitOne.focus()" class="inputs col-sm-2" type="text" maxlength="1" placeholder="0" name="digit6" [(ngModel)]="digit6" required/>
               </div>
               <!-- <label id="emailHelp" class="form-help-text">Invalid username or password</label> -->
             </div>
           </div>
           <div class="form-acc-text mt-4 px-3">

               <a class="back-to-login"  (click)="returnToLogin()"><i class="fas fa-arrow-left"></i> {{"return_to_sign_in" | translate}}</a>


               <button type="submit" class="btn-theme" (keyup.enter)="submitPIN()"  (click)="submitPIN()"
                       [disabled]="disableVerifyCodeButton()">{{"verify_code" | translate}}</button>
             
           </div>
         </form>
         <div class="footer-note">
            {{"all_rights_reserved" | translate}}
         </div>
       </div>
     </div>
   </div>
 </div>



