.loading-sec-i{
  background: #f4f8feb5;
  width: 100%;
  height: 100%;
  left: 0;
  cursor: not-allowed;
  position: absolute;
  z-index: 1;
}


.s-tog-opt{
  .mat-checkbox-label{
    font-size: 12px !important;
  }

  .mat-checkbox-inner-container{
    height: 18px !important;
    width: 18px !important;
  }

  .mat-checkbox-frame{
    border-width: 1px !important;
  }

  .view-img-box{
    display: flex;
    align-items: center;
    width: 400px;
    margin: -24px;
  }

}
