
<div id="wrapper" class="login-contain">
  <div class="row h-c">
    <div class="col-md-6 order-md-1 f-c im"></div>

    <div class="col-md-6 order-md-0 f-c">
        <div class="sel-language">


            <button class="btn-no-bg " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="drop-c">
                <img src="../assets/vendor/images/lang-kb.png" alt="">
              </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <p>Select Language</p>
                <div (click)="changeLang('en')" class="li-item-space">
                  <a  class="dropdown-item">English</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedEng, 'fa-circle': !checkedEng}"></i>
                </div>
                <div (click)="changeLang('sin')" class="li-item-space">
                  <a  class="dropdown-item">Sinhala</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedSin, 'fa-circle': !checkedSin}"></i>
                </div>
                <div (click)="changeLang('ta')" class="li-item-space">
                  <a class="dropdown-item">Tamil</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedTam, 'fa-circle': !checkedTam}"></i>
                </div>
              </div>
        </div>
      <div class="login-form-contain">
        <img  src="../assets/vendor/images/logo.PNG" alt="logo">
        <div class="user-heading">
          <h1>{{"startup_header1" | translate}}<br> {{"startup_header2" | translate}}</h1>
          <p>{{"startup_description" | translate}}</p>
        </div>
        <div class="pop-msg pop-sucess" *ngIf="isPasswordChanged">
          {{"password_changed_sucessfully" | translate}}
          <button class="pop-btn"> {{"okay_git_it" | translate}}</button>
        </div>


        <form class="form-area-mid">
          <!--<form th:action="@{/submit_login}" method="post">-->
          <div class="form-box user-form" [ngClass]="{'field-invalid': isInvalidCredentials}">
            <div class="form-group " [ngClass]="{'field-valid': isUsernameInFocus}">
              <label >{{"username" | translate}}</label>
              <!--<input  class="form-control"  placeholder="enter your username" th:field="*{username}">-->
              <input  class="form-control" placeholder="{{'enter_your_username' | translate}}" id="username"
                     name="username" required [(ngModel)]="username" (focus)="applyUsernameFieldValidClass()" (blur)="isUsernameInFocus = false"
                      (input)="convertToUppercase(username);">
              <label class="form-help-text" *ngIf="isInvalidCredentials">{{"invalid_username_password" | translate}}</label>
            </div>
            <div class="form-group " [ngClass]="{'field-valid': isPasswordInFocus}">
              <label for="exampleInputPassword1">{{"password" | translate}}</label>
              <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter your password" th:field="*{password}">-->
              <input type="password" class="form-control passwordToggle" *ngIf="!passwordVisible"
                     id="exampleInputPassword1" placeholder="enter your password"
                     name="password" required [(ngModel)]="password"
                     (focus)="applyPasswordFieldValidClass()" (blur)="isPasswordInFocus = false">
              <input type="text" class="form-control passwordToggle" *ngIf="passwordVisible"
                     id="exampleInputPassword1" placeholder="{{'enter_your_password' | translate}}"
                     name="password" required [(ngModel)]="password"
                     (focus)="applyPasswordFieldValidClass()" (blur)="isPasswordInFocus = false">
              <label class="field-help-ico" (click)="passwordToggleEye()"><i class="far fa-eye toggle-password" [ngClass]="{'fa fa-eye-slash': passwordVisible}"></i></label>
              <label class="form-help-text"> <a id="pwd_reset" (click)="navigateToForgotPassword()">{{"forgotPassoword" | translate}}</a></label>

    </div>
            </div>
            <div class="form-acc-text mt-4 px-3">



                <div class="form-check">
                    <input type="checkbox" class="form-check-input"
                           id="exampleCheck1" name="remember-me" [checked]="rememberMe" (change)="setRememberMe()"> <label
                    class="form-check-label" for="exampleCheck1"> Always remember me</label>
                  </div>

              <button type="submit" class="btn-theme" (keyup.enter)="login()" (click)="login()" [disabled]="disableLoginButton()">{{"loginNowLink" | translate}}</button>

          </div>
          <div class="sign-form-options">
            <div class="pull-left form-action">
                <p>{{"dontHaveAccount" | translate}} <a [routerLink]="['/auth/sign_up']"> {{ "signUpNowLink" | translate}}</a> </p>
            </div>

          </div>
        </form>




          <div class="footer-note"> {{"all_rights_reserved" | translate}}</div>
        </div>
    </div>
  </div>
</div>
