<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
      <img src="../../../../assets/vendor/images/loading.svg" alt="">
    </div>
<div class="tab-pane fade active show" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-settings-tab">

      <div class="form-new-opt mb-4">
            <h6>Contact Person</h6>
            <button [routerLink]="[ '/user-profile/add-contact-person' ]" class="btn-theme-lg">Add New Contact</button>
      </div>

         <div class="row"> 
            <div class="col-md-6 mb-4" *ngFor="let contactPerson of contactPersons">
               <div class="card-b px-4 py-3">
                  <div class="user-more-info bb-light">
                     <h6>{{ contactPerson.name  }} <span>({{  contactPerson.relationship | titlecase  }})</span> </h6>
                     <label>{{ contactPerson.address | titlecase }} </label>
                     <br>
                     <label class="umi-email">{{ contactPerson.email }} </label>

                     <div class="contact-p-m" *ngIf="contactPerson.phoneNumber !== null">
                        <label>Phone Number&nbsp;:&nbsp;</label>
                        <label class="font-dk-nm"> {{contactPerson.phoneNumber | titlecase}} </label>
                     </div>
                     <div class="contact-p-m" *ngIf="contactPerson.mobileNumber !== null">
                           <label>Mobile Number&nbsp;:&nbsp;</label>
                           <label class="font-dk-nm"> {{contactPerson.mobileNumber | titlecase}}</label>
                     </div>
                  </div>
                  <div class="mt-2">
                        <a [routerLink]="[ '/user-profile/manage-contact-person', contactPerson.sequence ]" class="link-btn-sm"> Edit </a>
                        <a (click)="deleteContactPerson(contactPerson.sequence)" class="link-btn-sm"> Remove </a>
                    
                  </div>
               </div>
            </div>
          
            

         </div>

</div>

