.confirm-pop .mat-dialog-actions {
  padding: 0px;
  width: 100%;
  margin-bottom: 0px !important;
  min-height: inherit !important; }

.confirm-pop .modal-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 25px;
  background: #e6ebf7; }
  .confirm-pop .modal-header .modal-title {
    font-size: 15px;
    font-weight: 700; }
  .confirm-pop .modal-header button {
    background: transparent;
    border: none;
    outline: none !important; }

.confirm-pop .modal-body {
  text-align: center;
  padding: 30px 20px; }
  .confirm-pop .modal-body p {
    margin-bottom: 0px; }
  .confirm-pop .modal-body h6 {
    font-weight: 700;
    margin-bottom: 10px; }

.confirm-pop .mod-footer button {
  background: transparent;
  border: none;
  padding: 15px;
  outline: none !important; }
