<div class="modal-content confirm-pop">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">CONFIRMATION</h5>
    <button  type="button" mat-dialog-close>
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <h6>Are you sure you want to delete ?</h6>
    <p>Please make sure that when you delete the article it will be <br> deleted forever and you will have to add again.
    </p>
  </div>
  <div class="row no-gutters mod-footer bt-light">
    <mat-dialog-actions>
      <div class="col p-0">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="br-light color-th w-100">Yes, Delete
          Now</button>
      </div>
      <div class="col p-0">
        <button mat-button mat-dialog-close class="w-100">No, Cancel</button>
      </div>
    </mat-dialog-actions>
  </div>
</div>