

.confirm-pop{
   .mat-dialog-actions{
       padding: 0px;
       width: 100%;
       margin-bottom: 0px !important; 
       min-height: inherit !important;
   }
   .modal-header{
       align-items: center;
        padding: 10px 25px;
        background: #e6ebf7;
        .modal-title{
            font-size: 15px;
            font-weight: 700;
        }
        button{
            background: transparent;
            border: none;
            outline: none !important;
        }
   }

   .modal-body{
       text-align: center;
       padding: 30px 20px;
       p{
           margin-bottom: 0px;
       }
       h6{
           font-weight: 700;
           margin-bottom: 10px;
       }
   }

   .mod-footer{
        button{
          background: transparent;
          border: none;  
          padding: 15px;
            outline: none !important;
        }
   }
}