.pv-u-image {
  width: 90px;
  border-radius: 100px; }

.rate-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .rate-stars img {
    width: 30px;
    margin-right: 5px; }
  .rate-stars .star-green {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .rate-stars .star-gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2; }
