.pv-u-image{
    width: 90px;
  height: 90px;
    border-radius: 100px;
}

.rate-stars {
  display: flex;
  img{
    width: 30px;
    margin-right: 5px;
  }
  .star-green{
    filter: grayscale(0%);
  }

  .star-gray{
    filter: grayscale(100%);
    opacity: 0.2;
  }
}
