<app-header>
  <div *ngIf="item != null" class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item"> <a routerLink=""> Marketplace</a> </li>
        <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
      </ol>
    </nav>
    <div *ngIf="item != null" class="d-flex justify-content-between align-items-center px-3">
      <div class="art-cat-view">
        <ul class="d-inline-flex cat-list mb-0">
          <li>{{item.categoryDescription}} </li>
        </ul>
      </div>
      <button *ngIf="itemCreatedBySameUser" class="btn-floating bf-edit" (click)="openEditDialog()"></button>
    </div>
    <div *ngIf="item != null" class="page-title-header mb-5 pt-3 px-3">
      <label class="p-brand">{{item.brandName}}</label>
      <h3>{{item.name}}</h3>
      <label class="p-date">Listed on {{item.datetime | date : 'MMM dd'}}</label>
      <!-- Button trigger modal -->
    </div>
    <div *ngIf="item != null" class="row">
      <div class="col-md-6">
        <div>
          <app-carousel [images]="item.imageUrl"></app-carousel>
        </div>
      </div>

      <div class="col-md-5">
        <div class="pv-rice px-4">
          <p>Price</p>
          <label>{{item.unit}} <span>{{item.amount | number}}</span></label>
        </div>
        <div class="card-b pv-u">
          <div class="pvu-1">
            <label class="font-light-nm">This is sold by</label>
            <div *ngIf="seller != null" class="d-flex align-items-center">
              <img
                src="{{seller.profileImageURL != null || seller.profileImageURL === '' ? (seller.profileImageURL | decodeUrl) : 'assets/images/no-profile-image.png'}}"
                alt="" class="pv-u-image">
              <div class="pvu-nar px-4">
                <p class="pvu-n">{{seller.name}}</p>
                <p class="pvu-a">{{item.locationDescription}}</p>
                <!--<label class="pvu-r">{{seller.rating != null ? (seller.rating) : ('N/A')}}</label>-->

                <div *ngIf="greenStars != null && greyStars != null" class="rate-stars my-3">

                  <div *ngFor="let i of greenStars | fill" class="star-green">
                    <img src="assets/vendor/images/rate-1.png" alt="">
                  </div>
                  <div *ngFor="let i of greyStars | fill" class="star-gray">
                    <img src="assets/vendor/images/rate-1.png" alt="">
                  </div>

                  <div>
                    ({{ratedUserCount}})
                  </div>

                </div>

              </div>



            </div>
          </div>
          <div class="bb-light line-fluid my-3"></div>
          <div class="pvu-2">
            <p class="font-dk-b">Contact seller</p>
            <div *ngIf="showContact && seller != null" class="mb-3">
              <div class="d-flex justify-content-between align-items-center mb-2"
                *ngFor="let contact of seller.contacts">
                <p class="font-light-nm mb-0">{{contact.contactTypeDescription}}</p>
                <label class="pvu-no">{{contact.contactNumber}}</label>
              </div>
            </div>
            <button *ngIf="!showContact" class="btn-theme w-100 mb-2" (click)="showContactNumbers()">
              Show Contact Number
            </button>
            <button *ngIf="!itemCreatedBySameUser" class="btn-line-th w-100 mb-2" (click)="openRatingDialog()">
              Rate Seller
            </button>
          </div>

        </div>

        <div class="pv-d px-4 mt-4">
          <p class="font-light-nm ">Description</p>
          <p class="font-dk-nm line-h2">{{item.description}}</p>
          <p class="font-light-nm mt-4 mb-2">External Links</p>
          <a (click)="goToLink(item.externalLink)" class="theme-link-a">{{item.externalLink}}</a>

        </div>

      </div>

    </div>

    <div class=" bb-light mod-fluid my-5 "></div>

    <div *ngIf="item != null" class="similar-sec">

      <p class="font-dk-b px-4">Similar Products</p>

      <div class="news-grid">
        <div class="row">
          <div class="col-md-3" *ngFor="let item of similarItems" (click)="onProductView(item.id)">

            <div class="news-box" data-toggle="modal" data-target="#modal-article">
              <div class="nb-img-p">
                <img src="{{item.imageUrl != null ? (item.imageUrl | decodeUrl) : 'assets/images/no-image.jpg'}}"
                  alt="">
              </div>
              <div class="mp-desc">
                <div class="mp-brand-d">
                  <label>{{item.brandName}}</label>
                  <p>{{item.name}}</p>
                </div>

                <div class="mp-value">
                  <label>{{item.unit}}. <span>{{item.amount | number}}</span></label>
                </div>

                <div class="mpl-area">
                  <label>{{item.locationDescription}}</label>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</app-header>
