
<div class="pop-c">
  
  <button  mat-button mat-dialog-close class="pop-c-close"><i class="fas fa-times"></i></button>
  <h6 class="mt-4">No Valid Policy</h6>
  <mat-dialog-content>
  
    <p>Sorry, we are unable to verify the policy <br>details added</p>
  
  </mat-dialog-content>
  
  
  <mat-dialog-actions >
      <button class="btn-theme mb-2 w-100" mat-button [mat-dialog-close]="true" cdkFocusInitial>Continue Notification</button>

    <button class="btn-line-gray m-0 mb-3 w-100" mat-button mat-dialog-close>Re Enter Details</button>
  </mat-dialog-actions>
</div>

