
<button (click)="closeDialog()" type="button" class="btn-close"  aria-label="Close">
   close
 </button>
<div *ngIf="!isEditClicked" class="modal-dialog" role="document">
  
  <div *ngIf="!isDataLoaded" style="text-align: center; ">
    <img src="../../../../assets/vendor/images/loading.svg" alt="">
  </div>
   <div *ngIf="isDataLoaded" class="modal-content">
      <div class="modal-body art-view">
    
         <!-- <div class="bb-light mod-fluid mb-5"></div> -->
         <div class="art-edit px-5 mb-3">
            <button *ngIf="isUserMached" (click)="isEditClicked = true" class="btn-floating bf-edit"></button>
         </div>
         <div class="art-cat-view  px-5 mb-2">
            <ul class="d-inline-flex cat-list mb-0">
               <li *ngFor="let category of artical.category"> {{category.description | titlecase}} </li>
            </ul>
         </div>
         <div class="art-title-view px-5 mb-4">
            <h4 *ngIf="artical.title">{{artical.title | titlecase}}</h4>
         </div>
         <div class="art-auth-view px-5 mb-4">
            <h6>{{artical.authorName}}</h6>
            <label> {{artical.datetime | date}}</label>
         </div>
         <!-- loop description list -->
         <div *ngFor="let desc of descriptionsList" class="px-5">

            <div *ngIf="desc.type == 'NFSBH'">
               <p>{{desc.value}}</p>
            </div>
            <div *ngIf="desc.type == 'NFTXT'" class="art-desc-view ">
               <p class="p-first22222">
                  <p>
                     {{desc.value}}
                  </p>
            </div>
            <a *ngIf="desc.type == 'NFLNK'" href="http://{{desc.value}}" target="_blank" >{{desc.value}}</a>
            <div *ngIf="desc.type == 'NFIMG'" class="art-img-view mb-5">
               <img [src]="desc.value | decodeUrl" alt="">
            </div>
         </div>
      </div>
   </div>
</div>

<div *ngIf="isEditClicked">
   <app-news-edit-article (isEditClicked)="output($event)" [artical]="artical"></app-news-edit-article>
</div>
