<div *ngIf="isLandsLoaded" style="text-align: center; ">
  <img src="../../../../assets/vendor/images/loading.svg" alt="">
</div>
<div *ngIf="!isLandsLoaded" class="tab-pane">
  <form [formGroup]="consultationForm">
    <div class="form-new-opt mb-4 pr-3">
      <h6>Land &amp; Soil Conditions</h6>
    </div>
    <div class="card-b ">
      <div class="card-b-body py-0 pt-2">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field style="width: 100%">
              <mat-label>Select land</mat-label>
              <mat-select formControlName="land">
                <!-- <mat-option>All Categories</mat-option> -->
                <mat-option *ngFor="let type of lands" [value]="type.address">
                  {{type.address | titlecase}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="card-b my-4">
      <div class="card-b-head bb-light">
        <label>Current Soil Statistics</label>
      </div>
      <div class="card-b-body">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Soil Type</mat-label>
              <mat-select formControlName="soilType">
                <mat-option *ngFor="let type of soilTypes" [value]="type.code">
                  {{type.description | titlecase}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-label>Soil Condition</mat-label>
              <mat-select formControlName="soilCondition">
                <mat-option *ngFor="let condition of aoilConditions"
                            [value]="condition.code">{{condition.description | titlecase}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="">
              <input matInput placeholder="PH Value" type="number" formControlName="phValue">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="">
              <input matInput placeholder="Nitrogen Value" type="number" formControlName="nitrogenValue">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="">
              <input matInput placeholder="Phosphorus Value"
                     type="number"
                     formControlName="phosphorusValue">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="">
              <input matInput placeholder="Potassium Value"
                     type="number"
                     formControlName="potassiumValue">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <div class="row ">
              <div class="col">


                <mat-form-field class="w-100">
                  <input matInput placeholder="Acres" formControlName="landSizeAcres"  type="number" class="w-100">
                </mat-form-field>


              </div>
              <div class="col">


                <mat-form-field class="w-100">
                  <input matInput placeholder="Perches" formControlName="landSizePerches"  type="number" class="w-100">
                </mat-form-field>


              </div>
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Cultivation Start Date"
                     formControlName="cultivationStartDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <button mat-button [disabled]="consultationForm.invalid" class="btn-theme mb-2" (click)="getv()">Check Harvests
    </button>
  </form>
</div>
