<div id="wrapper" class="login-contain">
  <div class="row h-c">
    <div class="col-md-6 order-md-1 f-c im">
    </div>
    <div class="col-md-6 order-md-0 f-c">
        <div class="sel-language">


            <button class="btn-no-bg " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="drop-c">
                <img src="../assets/vendor/images/lang-kb.png" alt="">
              </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <p>Select Language</p>
                <div (click)="changeLang('en')" class="li-item-space">
                  <a  class="dropdown-item">English</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedEng, 'fa-circle': !checkedEng}"></i>
                </div>
                <div (click)="changeLang('sin')" class="li-item-space">
                  <a  class="dropdown-item">Sinhala</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedSin, 'fa-circle': !checkedSin}"></i>
                </div>
                <div (click)="changeLang('ta')" class="li-item-space">
                  <a  class="dropdown-item">Tamil</a>
                  <i class="fas " [ngClass]="{'fa-check-circle': checkedTam, 'fa-circle': !checkedTam}"></i>
                </div>
              </div>
        </div>
      <div class="login-form-contain">
          <img src="../../../../assets/vendor/images/logo.PNG" alt="">
        <div class="user-heading">
          <h1>{{"password_reset_page_h1" | translate}} <br>{{"password_reset_page_h2" | translate}}</h1>
          <p>{{"password_reset_page_p" | translate }}</p>
        </div>
        <!--<form id="passwordResest" action="#" th:action="@{/submit_new_password}" method="post">-->

        <form class="form-area-mid">
          <div class="form-box user-form">
            <!-- <div class="form-group" [ngClass]="{ 'field-invalid': (newPasswordLength() && (!validatePassword())) || (validatePassword() && !comparePassword() && !reEnteredPasswordLength()), 'field-pw-strong': (validatePassword() && comparePassword() ) || (validatePassword() && reEnteredPasswordLength()), 'field-valid':isPasswordInFocus && !(((newPasswordLength() && (validatePassword())) || (validatePassword() && comparePassword() && reEnteredPasswordLength())) && ((validatePassword() && comparePassword() ) || (validatePassword() && reEnteredPasswordLength())))  }"> -->
            <div class="form-group" [ngClass]="{ 'field-valid': isfocusNewPasswordfeild, 'field-invalid': showWeekPasswordlbl || showDoNotMatchLbl, 'field-pw-strong': showStrongPasswordLbl || showStrongMatchingPasswordlbl }">


              <label>{{"new_Password" | translate }}</label>
              <input type="password" class="form-control password1Toggle" id="password" *ngIf="!newPasswordVisible"
                placeholder="{{'enter_your_password' | translate}}" name="newPassword" [(ngModel)]="newPassword" (focus)="onfocusNewPasswordfeild();"
                required (keyup)="validatePassword();" (blur)="onBlurNewPasswordfeild();">
              <input type="text" class="form-control password1Toggle" id="password" *ngIf="newPasswordVisible"
                placeholder="{{'enter_your_password' | translate}}" name="newPassword" [(ngModel)]="newPassword" required (keyup)="validatePassword();"
                (focus)="onfocusNewPasswordfeild();" (blur)="onBlurNewPasswordfeild();">

              <label class="form-help-text" *ngIf="!isValidatedPassword && showWeekPasswordlbl"> {{"weak_password" |translate}}
              </label>


              <label class="form-help-text" *ngIf="isValidatedPassword && showStrongPasswordLbl"> {{"strong_password" | translate}}
              </label>
              <label class="form-help-text" *ngIf="isMatchedPassword && showStrongMatchingPasswordlbl"> {{"strong_matching_password" | translate}}</label>
              <label class="form-help-text" *ngIf="!isMatchedPassword && showDoNotMatchLbl"> {{"passwords_do_not_match" | translate}}
              </label>
              <label class="field-help-ico" (click)="newPasswordToggleEye()"><i class="far fa-eye toggle-password1"
                  [ngClass]="{'fa fa-eye-slash': newPasswordVisible}"></i></label>




              <!-- <label id="emailHelp" class="form-help-text">Invalid username or password</label> -->
            </div>
            <div class="form-group" [ngClass]="{ 'field-invalid': showDoNotMatchLbl, 'field-pw-strong': showStrongMatchingPasswordlbl }">
              <label>{{"re_password" | translate}}</label>
              <input type="password" class="form-control password2Toggle" id="passwordCfm" *ngIf="!reenteredPasswordVisible"
                placeholder="{{'re_enter_your_new_password' | translate}}" name="reenteredPassword" [(ngModel)]="reenteredPassword"
                required (keyup)="matchPassword();">
              <input type="text" class="form-control password2Toggle" id="passwordCfm" *ngIf="reenteredPasswordVisible"
                placeholder="{{'re_enter_your_new_password' | translate}}" name="reenteredPassword" [(ngModel)]="reenteredPassword" required
                (keyup)="matchPassword();">


              <label class="field-help-ico" (click)="reenteredPasswordToggleEye()"><i class="far fa-eye toggle-password2"
                  [ngClass]="{'fa fa-eye-slash': reenteredPasswordVisible}"></i></label>

            </div>
          </div>
          <div class="sign-form-options d-flex justify-content-between align-items-center ">


            <label class="form-check-label " id="pw-help-pop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{"how_to_select_a_password" | translate}}
            </label>
            <div class="dropdown-menu password-tip" aria-labelledby="pw-help-pop">
              <h4>{{"include_in_password" | translate}}</h4>
              <label>{{"minimum_characters" | translate}}<i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedMinimum8Characters}"></i> </label>
              <label>{{"uppercase_letter" | translate}} <i class="fas fa-check-circle"  [ngClass]="{'chk-included':checkedUppsercaseLetter}"></i> </label>
              <label>{{"lowercase_letter" | translate}} <i class="fas fa-check-circle"  [ngClass]="{'chk-included':checkedLowerCaseLetter}"></i> </label>
              <label>{{"number" | translate}} <i class="fas fa-check-circle" [ngClass]="{'chk-included':checkedNumber}"></i> </label>
              <label>{{"symbol" | translate}} <i class="fas fa-check-circle"  [ngClass]="{'chk-included':checkedSymbol}"></i> </label>
            </div>



            <div class="float-right">
              <button id="submit" type="submit" (keyup.enter)="submitNewPassword()" [disabled]="!(isValidatedPassword && isMatchedPassword)" class="btn-theme"
                (click)="submitNewPassword()">{{"reset_password" | translate}}</button>
            </div>
          </div>
        </form>
        <div class="footer-note">
            {{"all_rights_reserved" | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
