<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
            <img src="../../../../assets/vendor/images/loading.svg" alt="">
          </div>
<div class="tab-pane fade active show" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">

      <div class="form-new-opt mb-4">
            <h6>Address</h6>
            <button [routerLink]="[ '/user-profile/add-address' ]"  class="btn-theme-lg">Add New Address</button>
      </div>



      <div class="card-b">
            <div class="card-b-head bb-light">
                  <label> Add New Address </label>
                  <a [routerLink]="[ '/user-profile/address' ]" class="font-light-nm">Cancel</a>

            </div>
            <div class="card-b-body">
                  <div class="row">
                        <div class="col-md-12">
                              <mat-form-field>
                                    <mat-select placeholder="Select Address Type" [(ngModel)]="addressType" [formControl]="addressTypeFormControl">
                                          <mat-option *ngFor="let addressType of addressTypes" [value]="addressType.code">
                                                {{addressType.description | titlecase}}
                                          </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="addressTypeFormControl.hasError('required')">
                                                Address Type is <strong>required</strong>
                                             </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-md-12">
                              <mat-form-field class="tp-full-width">
                                    <input matInput placeholder="Address" [(ngModel)]="address" [formControl]="addressFormControl">
                                    <mat-error *ngIf="addressFormControl.hasError('required')">
                                          Address is <strong>required</strong>
                                    </mat-error>
                              </mat-form-field>
                        </div>
                  </div>

            </div>
      </div>

      <div class="mt-4">
            <button *ngIf="!router.url.includes('user-profile/manage-address')" class="btn-theme-lg " (click)="saveAddress()" [disabled]="addressFormControl.hasError('required') || addressTypeFormControl.hasError('required')">Save New Address</button>
            <button  *ngIf="router.url.includes('user-profile/manage-address')" class="btn-theme-lg " (click)="updateAddress()" [disabled]="addressFormControl.hasError('required') || addressTypeFormControl.hasError('required')">Update Address</button>
           
            <a *ngIf="router.url.includes('user-profile/manage-address')" (click)="deleteAddress(addressSequnce)" class="link-btn-sm ml-4">Delete Address</a>
      
      </div>

</div>