<form   [formGroup]="policyLivestockForm" (ngSubmit)="savePolicy()">
  <div class="card-b ">

    <div class="card-b-head bb-light">
      <label>Policy Details </label>
    </div>
    <div class="card-b-body">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Plan" formControlName="plan">
              <mat-option *ngFor="let product of products" [value]="product.code">
                {{product.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="plan.invalid">
              Plan is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput required readonly matInput  formControlName="startDate"
                   [matDatepicker]="picker3"  placeholder="Start Date"
                   >
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
            <mat-error *ngIf="startDate.invalid">
              start Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput required readonly formControlName="endDate"
                   matInput [matDatepicker]="picker4"  placeholder="End Date"
                 >
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
            <mat-error *ngIf="endDate.invalid">
              End Date is <strong>required</strong>
            </mat-error>
<!--            <mat-error *ngIf="liveStockEndDateFormControl.hasError('matDatepickerMin')">-->
<!--              End date <strong>cannot be less than </strong> start date-->
<!--            </mat-error>-->
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Business Channel" formControlName="businessChannel">
              <mat-option *ngFor="let businessChannel of businessChannels" [value]="businessChannel.code">
                {{businessChannel.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="businessChannel.invalid">
              Business channel is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field>
            <mat-select required placeholder="Payment Method" formControlName="paymentType">
              <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.code">
                {{paymentType.description | titlecase}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentType.invalid">
              Payment Method is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="tp-full-width">
            <input  matInput placeholder="Days" formControlName="dayCount">
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>
  <button type="submit" [disabled]="policyLivestockForm.invalid" class="btn-theme-lg mb-2">Continue</button>
</form>

