<app-header>
  <app-mark-land-quotation [data]="sendLandData" (output)="getMarkers($event)" (output1)="getMarkers($event)"
    (output2)="isDrawMap=false" *ngIf="isDrawMap"></app-mark-land-quotation>
  <div class="container" *ngIf="!isDrawMap">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quotations</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Add New Quotation</h3>
        <p>Put your requirements to see if you will profit by planting the crops</p>
      </div>


    </div>
    <div class="line-fluid-row bb-light mb-3"></div>
    <div class="row">
      <div class="col-md-3 ">
        <!-- Left menu steps -->
        <p class="font-light-13 pt-2">Please folow the process to create a <br> Quotation to the specific livestock or
          <br>
          weather component.</p>

        <div class="prg-bar-thin my-4">
          <div class="pg-value" style="width:55%"></div>
        </div>


        <div class="policy-add-steps ">
          <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-link" [ngClass]="{'active':policyFormActivated}" id="v-pills-1-tab" data-toggle="pill"
              href="#v-pills-1" role="tab" aria-controls="v-pills-home" aria-selected="true">

              <div class="policy-step-li" [ngStyle]="{'cursor': finishedPolicyStep1 ? 'default' : 'pointer' }"
                [ngClass]="{'st-completed': finishedPolicyStep1}">
                <div class="psl-acc-node">
                  <div class="ps-completed">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>1</span>
                  </div>
                </div>
                <label [ngStyle]="{'cursor': finishedPolicyStep1 ? 'default' : 'pointer' }"
                  class="psl-1">Quotation</label>

              </div>

            </a>
            <a class="nav-link" [ngClass]="{'active':policyAdditionalDetailsActivated}" id="v-pills-2-tab"
              data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-profile" aria-selected="false">
              <div class="policy-step-li " [ngStyle]="{'cursor': finishedPolicyStep2 ? 'default' : 'pointer' }"
                [ngClass]="{'st-completed': finishedPolicyStep2}">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle" [ngClass]="{'class': true}"></i>
                  </div>

                  <div class="ps-step-no">
                    <span>2</span>
                  </div>
                </div>
                <label class="psl-1">Verify Quotation</label>

              </div>
            </a>
            <a class="nav-link " id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
              aria-controls="v-pills-messages" aria-selected="false">

            </a>

          </div>
        </div>




      </div>
      <div class="col-md-8 pl-5">
        <div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
          <img src="../../../../assets/vendor/images/loading.svg" alt="">
        </div>

        <!-- add policy weather and livestock forms -->
        <div #weatherLivestockForm *ngIf="displayWeatherLivestockForm">
          <div class="form-new-opt mb-4 pr-3">
            <h6>Add Quotation</h6>
            <a *ngIf="parentPage === 'c'" [routerLink]="[ '/customers' ]" class="font-light-nm">Cancel</a>
            <a *ngIf="parentPage === 'q'" [routerLink]="[ '/quotations' ]" class="font-light-nm">Cancel</a>
          </div>

          <div class="card-b ">

            <div class="card-b-body py-0 pt-2">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-select placeholder="Type" (selectionChange)="setDate(policyType)" [(ngModel)]="policyType">
                      <mat-option value="weather">
                        Weather
                      </mat-option>
                      <mat-option value="livestock">
                        Livestock
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

          <div class="card-b my-4">


            <!-- Weather form -->
            <div #policyWeatherForm *ngIf="policyType === 'weather'">

              <div class="card-b-head bb-light">
                <label>Quotation Details </label>
              </div>
              <div class="card-b-body">
                <div *ngIf="displayWeatherIndexParameters" class="sec-load-block"></div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Crop" (selectionChange)="getPlans()" [(ngModel)]="cropType"
                        [formControl]="cropTypeFormControl">
                        <mat-option *ngFor="let cropType of cropTypes" [value]="cropType.code">
                          {{cropType.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="cropTypeFormControl.hasError('required')">
                        Crop Type is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Weather Type" (selectionChange)="getPlans()"
                        [(ngModel)]="weatherType" [formControl]="weatherTypeFormControl">
                        <mat-option *ngFor="let weatherType of weatherTypes" [value]="weatherType.code">
                          {{weatherType.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="weatherTypeFormControl.hasError('required')">
                        Weather Type is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select required placeholder="Plan" [(ngModel)]="plan" [formControl]="planFormControl">
                        <mat-option *ngFor="let plan of plans" [value]="plan.code">
                          {{plan.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="planFormControl.hasError('required')">
                        Plan is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>

                      <mat-select required placeholder="Business Channel" [(ngModel)]="businessChanel"
                        [formControl]="businessChanelFormControl">
                        <mat-option *ngFor="let businessChanel of businessChanels" [value]="businessChanel.code">
                          {{businessChanel.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="businessChanelFormControl.hasError('required')">
                        Business Chanel is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="fromYear" (selectionChange)="changeFromYearDropdown()" required
                            placeholder="From Year">
                            <mat-option *ngFor="let year of fromYears;let i = index" [value]="year">
                              {{year | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="fromMonth" (selectionChange)="changeFromMonthDropdown()" required
                            placeholder="From Month">
                            <mat-option *ngFor="let month of fromMonths;let i = index" [value]="month">
                              {{month | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="toYear" (selectionChange)="changeToYearDropdown()" required
                            placeholder="To Year">
                            <mat-option *ngFor="let year of toYears;let i = index" [value]="year">
                              {{year | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <mat-select [(ngModel)]="toMonth" (selectionChange)="setDayCountWeather()" required
                            placeholder="To Month">
                            <mat-option *ngFor="let month of toMonths;let i = index" [value]="month">
                              {{month | titlecase}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>






                  <!--                    <mat-form-field>-->
                  <!--                      <input readonly required matInput [min]="minDate" [formControl]="startDateFormControl"-->
                  <!--                        [matDatepicker]="picker1" [(ngModel)]="startDate" placeholder="Start Date" (dateChange)="setEndDate()">-->
                  <!--                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
                  <!--                      <mat-datepicker #picker1></mat-datepicker>-->
                  <!--                      <mat-error *ngIf="startDateFormControl.hasError('required')">-->
                  <!--                        Start Date is <strong>required</strong>-->
                  <!--                      </mat-error>-->
                  <!--                    </mat-form-field>-->




                  <!--                    <mat-form-field>-->
                  <!--                      <input (dateChange)="setDayCountWeather()" readonly required matInput [min]="endDateMindate"-->
                  <!--                        [formControl]="endDateFormControl" [matDatepicker]="picker2" [(ngModel)]="endDate" placeholder="End Date">-->
                  <!--                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
                  <!--                      <mat-datepicker #picker2></mat-datepicker>-->
                  <!--                      <mat-error *ngIf="endDateFormControl.hasError('required')">-->
                  <!--                        End Date is <strong>required</strong>-->
                  <!--                      </mat-error>-->
                  <!--                      <mat-error *ngIf="endDateFormControl.hasError('matDatepickerMin')">-->
                  <!--                        End date <strong>cannot be less than </strong> start date-->
                  <!--                      </mat-error>-->
                  <!--                    </mat-form-field>-->



                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select [disabled]="disabledLocation" required #locationSelectBox
                        (selectionChange)="getSelectedLocation(location)" placeholder="Select Land"
                        [(ngModel)]="location" [formControl]="locationFormControl">
                        <mat-option value="select-land">Select Land</mat-option>
                        <mat-option value="add-new">Add New Location</mat-option>
                        <mat-option *ngFor="let location of locations" [value]="location">
                          {{location.address | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="locationFormControl.hasError('required')">
                        Location is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field>
                      <mat-select disabled required placeholder="Weather Station" [(ngModel)]="weatherStation"
                        [formControl]="landWeatherStationFormControl">
                        <mat-option *ngFor="let weatherStation of weatherStations" [value]="weatherStation.sequence">
                          {{weatherStation.name | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="landWeatherStationFormControl.hasError('required')">
                        Weather Station is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-md-12">

                    <div class="row ">
                      <div class="col pr-0">
                        <mat-form-field class="tp-full-width">
                          <input required matInput min="0" type="number" required placeholder="Land Size - Acres"
                            [formControl]="size1FormControl" [(ngModel)]="size1">
                          <mat-error *ngIf="size1FormControl.hasError('required')">
                            Land Size is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="tp-full-width">
                          <input required matInput min="0" type="number" required placeholder="Perches"
                            [formControl]="size1UnitTypeFormControl" [(ngModel)]="size1UnitType">
                          <mat-error *ngIf="size1UnitTypeFormControl.hasError('required')">
                            Perches is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col pr-0">
                        <mat-form-field class="tp-full-width">
                          <input required matInput [formControl]="noOfunitsFormControl" min="0" type="number"
                            (input)="calculatePremium()" matInput placeholder="No. Units " [(ngModel)]="size2">
                          <mat-error *ngIf="noOfunitsFormControl.hasError('required')">
                            No. Units is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field class="tp-full-width">
                          <input readonly required matInput [formControl]="priceFormControl" min="0" type="number"
                            (input)="calculatePremium()" matInput placeholder=" Price - LKR"
                            [(ngModel)]="size2UnitType">
                          <mat-error *ngIf="priceFormControl.hasError('required')">
                            Price is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Livestock form -->
            <div #livestockForm *ngIf="policyType === 'livestock'">

              <div class="card-b-head bb-light">
                <label>Quotation Details </label>
              </div>
              <div class="card-b-body">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select required placeholder="Plan" [(ngModel)]="product"
                        [formControl]="liveStockPlanFormControl">
                        <mat-option *ngFor="let product of products" [value]="product.code">
                          {{product.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="liveStockPlanFormControl.hasError('required')">
                        Plan is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput required readonly matInput [min]="minDate"
                        [formControl]="liveStockStartDateFormControl" [matDatepicker]="picker3"
                        [(ngModel)]="liveStockStartDate" placeholder="Start Date"
                        (dateChange)="setLivestockPolicyEndDate()">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                      <mat-error *ngIf="liveStockStartDateFormControl.hasError('required')">
                        start Date is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput required readonly [min]="livestockPolicyEnddateMindate"
                        [formControl]="liveStockEndDateFormControl" matInput [matDatepicker]="picker4"
                        [(ngModel)]="liveStockEndDate" placeholder="End Date" (dateChange)="setDayCountLivestock()">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                      <mat-error *ngIf="liveStockEndDateFormControl.hasError('required')">
                        End Date is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="liveStockEndDateFormControl.hasError('matDatepickerMin')">
                        End date <strong>cannot be less than </strong> start date
                      </mat-error>
                    </mat-form-field>
                  </div>

                </div>

              </div>

            </div>
            <div>
            </div>
          </div>
          <button (click)="saveLivestock()" [disabled]="liveStockStartDateFormControl.hasError('required') ||
          liveStockEndDateFormControl.hasError('required') || liveStockEndDateFormControl.hasError('matDatepickerMin') ||
          liveStockPlanFormControl.hasError('required')" *ngIf="policyType === 'livestock'"
            class="btn-theme-lg mb-2">Continue</button>


          <!-- Add new land form : Weather -->
          <div #weatherAddLandForm *ngIf="!viewAddLand && policyType === 'weather'">

            <form [formGroup]="landForm">

              <div class="car">

              </div>

              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel"
                  aria-labelledby="v-pills-home-tab">
                  <div class="card-b my-4">
                    <div class="acc-head">
                      <a class=" px-4 " data-toggle="collapse" href="#collapse-p52" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        <div class="d-flex justify-content-between align-items-center">
                          Land Details
                          <i class="fas fa-chevron-down"></i>
                        </div>
                      </a>
                    </div>

                    <div class="collapse" [ngClass]="{'d-none': viewAddLand, 'show': !viewAddLand}" id="collapse-p52">
                      <div class="acc-contain bt-light px-4 pt-3">
                        <div class="row">

                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Land Name / Plot Number" formControlName="plotName">
                            </mat-form-field>
                          </div>

                          <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Address" formControlName="address">
                            </mat-form-field>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>District</mat-label>
                              <mat-select [(value)]="selectedDistrict" (valueChange)="getDivisionns()"
                                formControlName="district">
                                <mat-option *ngFor="let item of districtsList" [value]="item">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Division</mat-label>
                              <mat-select [(value)]="selectedDivision" (valueChange)="getGramasevaDivisions()"
                                formControlName="division">
                                <mat-option *ngFor="let item of divisionsList" [value]="item">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Gramasewa Division</mat-label>
                              <mat-select [(value)]="selectedGramasevaDivision" formControlName="gramasevaDivision">
                                <mat-option *ngFor="let item of gramasevaDivisionsList" [value]="item">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Aggregation Service Centre</mat-label>
                              <mat-select [(value)]="selectedgetagrarianServiceCenter"
                                formControlName="agrarianServiceCenter">
                                <mat-option *ngFor="let item of getagrarianServiceCentersList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>


                          <div class="col-md-6">
                            <div class="row no-gutters">

                              <div class="col">
                                <mat-form-field>
                                  <input matInput type="number" placeholder=" Land Size - Acres"
                                    formControlName="sizeInAcres">
                                </mat-form-field>
                              </div>

                              <div class="col">
                                <mat-form-field>
                                  <input matInput type="number" placeholder="Perches" formControlName="sizeInPerches">
                                </mat-form-field>
                              </div>

                            </div>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Ownership</mat-label>
                              <mat-select [(value)]="selectedOwnershipType" formControlName="ownership">
                                <mat-option *ngFor="let item of ownershipTypesList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-8">
                            <mat-form-field>
                              <span (click)="asd()" class="field-txt-edge"><i class="fas fa-map-marker-alt"></i></span>
                              <input (input)="isDrawMap = true" matInput placeholder="Mark Land Plot"
                                formControlName="geometry" readonly>
                            </mat-form-field>
                          </div>

                        </div>
                        <button mat-button class="btn-line-gray mb-3" (click)="saveLand()"
                          [disabled]="landForm.invalid">Continue</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>


          <div class="card-b mb-4" #weatherIndexParametersDiv
            *ngIf="displayWeatherIndexParameters && weatherIndexParameters.length > 0">
            <div class="card-b-head bb-light">
              <label> Weather Index Parameters</label>
            </div>
            <div class="card-b-body p-3">
              <div class="table-s-th">
                <div class="tst-header">
                  <div class="ts-cat">
                  </div>
                  <div class="ts-list">
                    <div class="row">
                      <div class="col-2">
                        Month
                      </div>
                      <div class="col-2">
                        Trigger Point
                      </div>
                      <div class="col-2">
                        Exit Point
                      </div>
                      <div class="col-2">
                        Rate Per MM
                      </div>
                      <div class="col-2">
                        Minimum Payout
                      </div>
                      <div class="col-2">
                        Maximum Payout
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tst-body" *ngIf="weatherIndexParameters.length > 0">
                  <div class="tb-e">
                    <div class="tb-cat">
                      <label> Excess</label>
                    </div>
                    <div class="tb-list">
                      <div class="row" *ngFor="let weatherIndexParameter of weatherIndexParameters">
                        <div class="col-2">
                          {{weatherIndexParameter.month}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessStrike}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessExit}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessNotional}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessMinimumPayout}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.excessMaximumPayout}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tb-e">
                    <div class="tb-cat">
                      <label> Drought</label>
                    </div>
                    <div class="tb-list">
                      <div class="row" *ngFor="let weatherIndexParameter of weatherIndexParameters">
                        <div class="col-2">
                          {{weatherIndexParameter.month}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitStrike}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitExit}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitNotional}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitMinimumPayout}}
                        </div>
                        <div class="col-2">
                          {{weatherIndexParameter.deficitMaximumPayout}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div *ngIf="policyType === 'weather'" class="row mb-3 justify-content-end">
            <div class="col-md-12 mb-3">
              <div class="card-b p-3">
                <div class="d-flex justify-content-between ">
                  <label class="font-dk-b">Total Premium</label>
                  <label class="font-dk-b mr-3"> <small class="font-xsm ">LKR</small> {{ totalPremium }} </label>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <button (click)="saveWeather()" [disabled]="displayWeatherIndexParameters || priceFormControl.hasError('required') || noOfunitsFormControl.hasError('required') ||
                size1UnitTypeFormControl.hasError('required') || size1FormControl.hasError('required') ||
                landWeatherStationFormControl.hasError('required') || locationFormControl.hasError('required') ||
                cropTypeFormControl.hasError('required') ||
                weatherTypeFormControl.hasError('required') || planFormControl.hasError('required') ||
                businessChanelFormControl.hasError('required')" *ngIf="policyType === 'weather'"
                class="btn-theme-lg mb-2">Create Quotation</button>
            </div>
          </div>
        </div>

        <!-- Additional Details : Weather Policy -->
        <div #weatherAdditionalDetails *ngIf="displayWeatherAdditionalDetails">
          <div class="form-new-opt mb-4 pr-3">
            <label class="font-dk-16">Quotation Number : {{quotationNumber}}</label>
            <a *ngIf="parentPage === 'c'" [routerLink]="[ '/customers' ]" class="font-light-nm">Cancel</a>
            <a *ngIf="parentPage === 'q'" [routerLink]="[ '/quotations' ]" class="font-light-nm">Cancel</a>
          </div>

          <div class="row my-3">
            <div class="col-md-7">
              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p1" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <div class="d-flex justify-content-between align-items-center">
                      {{risks.length}} Livestocks Added
                      <i class="fas fa-chevron-down"></i>
                    </div>
                  </a>
                  <button *ngIf="!authorizedPolicy" (click)="addLivestock();" class="btn-light-round"> Add New</button>
                </div>

                <div class="collapse" id="collapse-p1">
                  <div *ngIf="risks.length > 0" class="acc-contain bt-light px-4">
                    <div *ngFor="let risk of risks" class="acc-list-t1 bb-light">
                      <div (click)="viewRisk(risk.seqNo, productCode);" class="alt-t1">
                        <label class="font-b font-dk">Sum Insured</label>
                        <label>{{risk.sumInsured}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 pl-0">
              <div class="card-b p-3">
                <div class="d-flex justify-content-between mb-2">
                  <label class="font-dk-b">Total Premium</label>
                  <label class="font-dk-b"> <small class="font-xsm">LKR</small> {{totalPremium}} </label>
                </div>
                <button [disabled]="authorizedPolicy || risks.length === 0" (click)="completeQuotation()"
                  class="btn-theme-lg w-100">Complete
                  Quotation</button>
              </div>
            </div>

          </div>
        </div>

        <!-- Add Land Form -->
        <div #addLandForm *ngIf="displayAddLandForm">
          <div class="form-list-v-head my-4 pr-3 d-flex justify-content-between">
            <h6>Add Land to Quotation</h6>
            <a (click)="backToPolicyAdditionalDetails()" class="font-light-nm">Cancel</a>
          </div>
          <div class="card-b ">
            <div class="card-b-body py-0 pt-2">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-select [disabled]="disabledLocation" required #locationSelectBox
                      (selectionChange)="getSelectedLocation(location)" placeholder="Select Location"
                      [(ngModel)]="location" [formControl]="locationFormControl">
                      <mat-option value="select-land">Select Location</mat-option>
                      <mat-option value="add-new">Add New Location</mat-option>
                      <mat-option *ngFor="let location of locations" [value]="location">
                        {{location.address | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="locationFormControl.hasError('required')">
                      Location is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div #weatherAddLandForm *ngIf="!viewAddLand">

            <form [formGroup]="landForm">
              <div class="car">
              </div>
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel"
                  aria-labelledby="v-pills-home-tab">
                  <div class="card-b my-4">

                    <div class="acc-head">
                      <a class=" px-4 " data-toggle="collapse" href="#collapse-p52" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        <div class="d-flex justify-content-between align-items-center">
                          Land Details
                          <i class="fas fa-chevron-down"></i>
                        </div>
                      </a>
                    </div>

                    <div class="collapse" [ngClass]="{'d-none': viewAddLand, 'show': !viewAddLand}" id="collapse-p52">
                      <div class="acc-contain bt-light px-4 pt-3">
                        <div class="row">

                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Land Name / Plot Number" formControlName="plotName">
                            </mat-form-field>
                          </div>

                          <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Address" formControlName="address">
                            </mat-form-field>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>District</mat-label>
                              <mat-select [(value)]="selectedDistrict" (valueChange)="getDivisionns()"
                                formControlName="district">
                                <mat-option *ngFor="let item of districtsList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Division</mat-label>
                              <mat-select [(value)]="selectedDivision" (valueChange)="getGramasevaDivisions()"
                                formControlName="division">
                                <mat-option *ngFor="let item of divisionsList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Gramasewa Division</mat-label>
                              <mat-select [(value)]="selectedGramasevaDivision" formControlName="gramasevaDivision">
                                <mat-option *ngFor="let item of gramasevaDivisionsList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field>
                              <mat-label>Aggregation Service Centre</mat-label>
                              <mat-select [(value)]="selectedgetagrarianServiceCenter"
                                formControlName="agrarianServiceCenter">
                                <mat-option *ngFor="let item of getagrarianServiceCentersList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>


                          <div class="col-md-6">
                            <div class="row no-gutters">

                              <div class="col">
                                <mat-form-field>
                                  <input matInput placeholder=" Land Size - Acres" formControlName="sizeInAcres">
                                </mat-form-field>
                              </div>

                              <div class="col">
                                <mat-form-field>
                                  <input matInput placeholder="Perches" formControlName="sizeInPerches">
                                </mat-form-field>
                              </div>

                            </div>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field>
                              <mat-label>Ownership</mat-label>
                              <mat-select [(value)]="selectedOwnershipType" formControlName="ownership">
                                <mat-option *ngFor="let item of ownershipTypesList" [value]="item.code">
                                  {{item.description | titlecase}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-8">
                            <mat-form-field>
                              <span (click)="isDrawMap = true" class="field-txt-edge"><i
                                  class="fas fa-map-marker-alt"></i></span>
                              <input (input)="isDrawMap = true" matInput placeholder="Mark Land Plot"
                                formControlName="geometry" readonly>
                            </mat-form-field>
                          </div>

                        </div>
                        <button mat-button class="btn-line-gray mb-3" (click)="saveLand()"
                          [disabled]="landForm.invalid">Continue</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>


          <div class="card-b my-4">
            <div class="acc-head">
              <a class=" px-4 " data-toggle="collapse" href="#collapse-p53" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <div class="d-flex justify-content-between align-items-center">
                  Cultivation Details
                  <i class="fas fa-chevron-down"></i>
                </div>
              </a>
            </div>

            <div class="collapse" [ngClass]="{'d-none': viewAddCultivation, 'show': !viewAddCultivation}"
              id="collapse-p53">
              <div class="acc-contain bt-light px-4 pt-3">
                <div class="row">

                  <div class="col-md-8">
                    <mat-form-field class="tp-full-width">
                      <input required matInput placeholder="Farmer Name" [(ngModel)]="farmerName"
                        [formControl]="farmerNameFormControl">
                      <mat-error *ngIf="farmerNameFormControl.hasError('required')">
                        Farmer Name is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select required placeholder="Crop Variance" [(ngModel)]="cropVariance"
                        [formControl]="cropVarianceFormControl">
                        <mat-option *ngFor="let cropVariance of cropVariances" [value]="cropVariance.code">
                          {{cropVariance.description | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="cropVarianceFormControl.hasError('required')">
                        Crop Variance is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-select disabled required placeholder="Weather Station" [(ngModel)]="weatherStation"
                        [formControl]="landWeatherStationFormControl">
                        <mat-option *ngFor="let weatherStation of weatherStations" [value]="weatherStation.sequence">
                          {{weatherStation.name | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="landWeatherStationFormControl.hasError('required')">
                        Weather Station is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>


                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput required readonly [min]="startDate" [max]="endDate" [matDatepicker]="picker5"
                        [(ngModel)]="weatherLandStartDate" placeholder="Start Date"
                        [formControl]="weatherLandStartDateFormControl">
                      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                      <mat-error *ngIf="weatherLandStartDateFormControl.hasError('required')">
                        Start Date is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput required readonly [formControl]="weatherLandEndDateFormControl"
                        [min]="weatherLandStartDate" [max]="endDate" [matDatepicker]="picker6"
                        [(ngModel)]="weatherLandEndDate" placeholder="End Date">
                      <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                      <mat-datepicker #picker6></mat-datepicker>
                      <mat-error *ngIf="weatherLandEndDateFormControl.hasError('required')">
                        End Date is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="weatherLandEndDateFormControl.hasError('matDatepickerMin')">
                        End date <strong>cannot be less than </strong> start date
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <div class="row ">

                      <div class="col pr-0">
                        <mat-form-field class="tp-full-width">
                          <input required matInput min="0" type="number" required placeholder="Land Size - Acres"
                            [formControl]="size1FormControl" [(ngModel)]="size1">
                          <mat-error *ngIf="size1FormControl.hasError('required')">
                            Land Size is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col">
                        <mat-form-field class="tp-full-width">
                          <input required matInput min="0" type="number" required placeholder="Perches"
                            [formControl]="size1UnitTypeFormControl" [(ngModel)]="size1UnitType">
                          <mat-error *ngIf="size1UnitTypeFormControl.hasError('required')">
                            Perches is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="tp-full-width mat-form-th">
                      <span (click)="isDrawMap = true" class="field-txt-edge"><i
                          class="fas fa-map-marker-alt"></i></span>
                      <input readonly [formControl]="markLandPlotFormControl" required matInput
                        placeholder="Mark Land Plot" [(ngModel)]="markLandPlotString">
                      <mat-error *ngIf="markLandPlotFormControl.hasError('required')">
                        Mark Land Plot is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <div class="row ">

                      <div class="col pr-0">
                        <mat-form-field class="tp-full-width">
                          <input required matInput [formControl]="noOfunitsFormControl" min="0" type="number"
                            (input)="calculatePremium()" matInput placeholder="No. Units " [(ngModel)]="size2">
                          <mat-error *ngIf="noOfunitsFormControl.hasError('required')">
                            No. Units is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                      <div class="col">
                        <mat-form-field class="tp-full-width">
                          <input readonly required matInput [formControl]="priceFormControl" min="0" type="number"
                            (input)="calculatePremium()" matInput placeholder=" Price - LKR"
                            [(ngModel)]="size2UnitType">
                          <mat-error *ngIf="priceFormControl.hasError('required')">
                            Price is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="tp-full-width">
                      <input readonly matInput placeholder="Premium - LKR" [(ngModel)]="weatherLandPremium">
                    </mat-form-field>
                  </div>

                </div>
                <button
                  [disabled]="weatherLandEndDateFormControl.hasError('matDatepickerMin') || priceFormControl.hasError('required') || noOfunitsFormControl.hasError('required') || markLandPlotFormControl.hasError('required') || size1FormControl.hasError('required') || size1UnitTypeFormControl.hasError('required') || weatherLandEndDateFormControl.hasError('required') || weatherLandStartDateFormControl.hasError('required') || landWeatherStationFormControl.hasError('required') || farmerNameFormControl.hasError('required') || cropVarianceFormControl.hasError('required')"
                  *ngIf="landEdit" class="btn-line-gray" (click)="updateLandRisk()">Update Land</button>

                <button
                  [disabled]="weatherLandEndDateFormControl.hasError('matDatepickerMin') || priceFormControl.hasError('required') || noOfunitsFormControl.hasError('required') || markLandPlotFormControl.hasError('required') || size1FormControl.hasError('required') || size1UnitTypeFormControl.hasError('required') || weatherLandEndDateFormControl.hasError('required') || weatherLandStartDateFormControl.hasError('required') || landWeatherStationFormControl.hasError('required') || farmerNameFormControl.hasError('required') || cropVarianceFormControl.hasError('required')"
                  *ngIf="!landEdit" class="btn-line-gray mb-3" (click)="saveWeatherLand()">Submit Land</button>

              </div>
            </div>
          </div>


          <div class="card-b mb-4">
            <div class="acc-head">

              <a class=" px-4 " data-toggle="collapse" href="#collapse-p10" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <div class="d-flex justify-content-between align-items-center">
                  {{imagList.length}} Photos Added
                  <i class="fas fa-chevron-down"></i>
                </div>
              </a>

              <div *ngIf="!authorizedPolicy" class="img-up-thme-btn">
                <button [ngClass]="{'d-none': viewAddLandPhotos}" class="btn-light-round">
                  Add New</button>
                <input type="file" (change)="addImg($event)">
              </div>
            </div>

            <div class="collapse" [ngClass]="{'d-none': viewAddLandPhotos, 'show': !viewAddLandPhotos}"
              id="collapse-p10">
              <div class="acc-contain bt-light px-4">

                <div class="p-im-grid">
                  <div class="row no-gutters">
                    <div *ngFor="let desc of imagList; let i = index" class="col-3">
                      <div class="img-g-sm">
                        <div *ngIf="!imagList[i].value" class="prg-i">
                          <div class="prg-bar">
                            <div class="pg-value" [style.width]="imagList[i].progress"></div>
                          </div>
                          <p>Uploading...</p>
                        </div>
                        <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" alt="">
                        <div *ngIf="!authorizedPolicy" class="remove-i" (click)="removeImg(i)"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-3 mb-2">
                  <button *ngIf="imagList.length > 0" (click)="saveRiskImageKeys()" class="btn-line-gray">Save
                    Images</button>
                  <!-- <button class="btn-theme-lg" disabled="">Save Photos </button> -->
                  <!-- <a href="" class="link-btn-sm ml-4">Cancel</a> -->
                </div>
              </div>
            </div>
          </div>
          <button class="btn-theme-lg mb-2" (click)="continueToWeatherRiskAdditinal()">Continue </button>
        </div>

        <div #addLivestockForm *ngIf="displayAddLivestockForm">
          <div class="form-new-opt mb-4 pr-3">
            <h6>Add New Livestock</h6>
            <a (click)="displayWeatherLivestockAdditionalDetails()" class="font-light-nm">Cancel</a>
          </div>

          <div class="card-b my-4">
            <div class="card-b-head bb-light">
              <label>Livestock Details </label>
            </div>
            <div class="card-b-body">
              <div class="row">

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Livestock Type" [(ngModel)]="liveStockType"
                      [formControl]="liveStockTypeFormControl">
                      <mat-option *ngFor="let liveStockType of liveStockTypes" [value]="liveStockType.code">
                        {{liveStockType.description | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="liveStockTypeFormControl.hasError('required')">
                      Livestock Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Breed" [(ngModel)]="breedType"
                      [formControl]="breedTypeFormControl">
                      <mat-option *ngFor="let breedType of breedTypes" [value]="breedType.code">
                        {{breedType.description | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="breedTypeFormControl.hasError('required')">
                      Breed Type is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Gender" [(ngModel)]="gender"
                      [formControl]="genderTypeFormControl">
                      <mat-option *ngFor="let gender of genders" [value]="gender.code">
                        {{gender.description | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="genderTypeFormControl.hasError('required')">
                      Gender is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select required placeholder="Age" [(ngModel)]="age" [formControl]="ageTypeFormControl">
                      <mat-option *ngFor="let age of livestockAges" [value]="age">
                        {{age}} Years
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ageTypeFormControl.hasError('required')">
                      Age is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="tp-full-width">
                    <input required [formControl]="weightFormControl" matInput placeholder="Weight"
                      [(ngModel)]="weight">
                    <mat-error *ngIf="weightFormControl.hasError('required')">
                      Weight is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="tp-full-width">
                    <input [formControl]="milkFormControl" matInput placeholder="Milking Capacity Per Day"
                      [(ngModel)]="milkCapacity">
                    <!--                    <mat-error *ngIf="milkFormControl.hasError('required')">-->
                    <!--                      Milking Capacity Per Day is <strong>required</strong>-->
                    <!--                    </mat-error>-->
                  </mat-form-field>
                </div>



                <div class="col-md-4">
                  <mat-form-field class="tp-full-width">
                    <input required [formControl]="riskSumInsuredFormControl" min="0" type="number" matInput
                      placeholder="Sum Insured - LKR" [(ngModel)]="riskSumInsured">
                    <mat-error *ngIf="riskSumInsuredFormControl.hasError('required')">
                      Risk Sum Insured is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

            </div>
          </div>
          <button [disabled]="liveStockTypeFormControl.hasError('required') || breedTypeFormControl.hasError('required') ||
           genderTypeFormControl.hasError('required') || ageTypeFormControl.hasError('required')  ||
           riskSumInsuredFormControl.hasError('required') || riskSumInsuredFormControl.hasError('required')"
            *ngIf="!manageLivestockRisk" (click)="saveLiveStockRisk();" class="btn-theme-lg mb-2">Continue</button>
          <button [disabled]="liveStockTypeFormControl.hasError('required') || breedTypeFormControl.hasError('required') ||
          genderTypeFormControl.hasError('required') || ageTypeFormControl.hasError('required')  ||
          riskSumInsuredFormControl.hasError('required')  || riskSumInsuredFormControl.hasError('required')"
            *ngIf="manageLivestockRisk" (click)="updateLivestockRisk();" class="btn-theme-lg mb-2">Update</button>

        </div>
        <div #livestockAdditionalDetails *ngIf="displayLivestockAdditionalDetails">
          <!--
          <div class="form-new-opt mb-4 pr-3 justify-content-end">
              <label class="font-dk-16">Quotation Number : {{quotationNumber}}</label>
            <a (click)="displayWeatherLivestockAdditionalDetails()" class="font-light-nm">Back</a>
          </div> -->

          <div class="form-new-opt mb-4 pr-3">

            <label class="font-dk-16">Quotation Number : {{quotationNumber}}</label>
            <a (click)="displayWeatherLivestockAdditionalDetails()" class="font-light-nm">Back</a>

          </div>


          <div class="row my-3">
            <div class="col-md-7">
              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p1" role="button" aria-expanded="false"
                    aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{covers.length}} Covers Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <button *ngIf="!authorizedPolicy" class="btn-light-round" (click)="addCovers();"> Add New</button>
                </div>



                <div class="collapse" id="collapse-p1">
                  <div *ngIf="covers.length > 0" class="acc-contain bt-light px-4">
                    <div class="acc-list-t1 bb-light" *ngFor="let cover of covers">
                      <div class="alt-t1">
                        <label class="font-b font-dk">{{cover.description}}</label>
                        <label>{{cover.premium}}</label>
                      </div>

                      <!-- <a *ngIf="!authorizedPolicy" (click)="manageCovers(cover.productPerilSequence);" class="font-light-nm">Manage</a>
                      <a *ngIf="!authorizedPolicy" (click)="removeCovers(cover.productPerilSequence);" class="font-light-nm">Remove</a> -->
                    </div>

                  </div>
                </div>
              </div>

              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p2" role="button" aria-expanded="false"
                    aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      {{imagList.length}} Photos Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <div *ngIf="!authorizedPolicy" class="img-up-thme-btn">
                    <button class="btn-light-round"> Add New</button>
                    <input type="file" (change)="addImg($event)">
                  </div>

                  <!-- <button class="btn-light-round"> Add New</button> -->
                </div>



                <div class="collapse" id="collapse-p2" [ngClass]="{'show': imagList.length > 0}">


                  <div class="acc-contain bt-light px-4">

                    <div class="p-im-grid">



                      <div class="row no-gutters">
                        <div *ngFor="let desc of imagList; let i = index" class="col-4">

                          <div class="img-g-sm">
                            <div *ngIf="!imagList[i].value" class="prg-i">
                              <div class="prg-bar">
                                <div class="pg-value" [style.width]="imagList[i].progress"></div>
                              </div>
                              <p>Uploading...</p>
                            </div>
                            <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" alt="">
                            <div *ngIf="!authorizedPolicy" class="remove-i" (click)="removeImg(i)"></div>

                          </div>



                        </div>
                      </div>


                    </div>

                    <!-- <div class=" my-3">
                        <a href="" class="font-light-nm">Manage Photos</a>
                      </div> -->
                    <div class="mt-3 mb-2">
                      <button *ngIf="imagList.length > 0" class="btn-line-gray" (click)="saveRiskImageKeys()">Save
                        Images</button>
                    </div>
                  </div>
                </div>
              </div>


              <!-- <button class="btn-theme-lg">Create Policy</button> -->

            </div>
            <div class="col-md-5 pl-0">
              <div class="card-b p-3">
                <div class="d-flex justify-content-between mb-2">
                  <label class="font-dk-b">Total Premium</label>
                  <label class="font-dk-b"> <small class="font-xsm">LKR</small> {{riskPremium}} </label>
                </div>

                <button [disabled]="authorizedPolicy" (click)="completeQuotation()" class="btn-theme-lg w-100">Complete
                  Quotation</button>
              </div>
            </div>
          </div>


        </div>
        <div #addCoversForm *ngIf="displayAddCoversForm">

          <div class="form-new-opt mb-4 pr-3">
            <h6>Add New Cover</h6>
            <a (click)="displayLiveStockAdditionalDetails()" class="font-light-nm">Cancel</a>
          </div>



          <div class="card-b my-4">
            <div class="card-b-head bb-light">
              <label>Cover Details </label>

            </div>
            <div class="card-b-body">
              <div class="row">

                <!-- <div class="col-md-4">
                              <div class="input-field input-th">

                                    <input id="i-email" type="text" class="validate" value="89892">
                                    <label for="i-email">Tag Number</label>
                                    <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
                              </div>
                        </div> -->

                <div class="col-md-8">

                  <mat-form-field *ngIf="!manageCover">
                    <mat-select [formControl]="otherPerilFormControl" required placeholder="Cover Name"
                      [(ngModel)]="otherPeril">
                      <mat-option *ngFor="let otherPeril of otherPerils" [value]="otherPeril">
                        {{otherPeril.perilDescription | titlecase}}
                      </mat-option>
                    </mat-select>

                    <mat-error *ngIf="otherPerilFormControl.hasError('required')">
                      Cover Name is <strong>required</strong>
                    </mat-error>

                  </mat-form-field>
                  <mat-form-field *ngIf="manageCover">
                    <input required disabled matInput [(ngModel)]="managePerilDescription">
                  </mat-form-field>
                </div>
                <div class="col-md-4">


                  <mat-form-field class="tp-full-width">
                    <input [formControl]="perilPerilSumInsuredFormControl" required type="number" matInput
                      placeholder="Sum Insured - LKR" [(ngModel)]="perilPerilSumInsured">
                    <mat-error *ngIf="perilPerilSumInsuredFormControl.hasError('required')">
                      Sum Insured is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">

                  <div class="row ">
                    <div class="col-7">

                      <mat-form-field class="tp-full-width">
                        <input [max]="perilPerilSumInsured" [formControl]="excessAmountFormControl" required
                          type="number" matInput placeholder="Excess Amount - LKR" [(ngModel)]="excessAmount">
                        <mat-error *ngIf="excessAmountFormControl.hasError('required')">
                          Excess Amount is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="excessAmountFormControl.hasError('max')">
                          Excess amount should be <strong>less than sum insured value. </strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col pl-0">
                      <mat-form-field class="tp-full-width">
                        <input [formControl]="excessPercentageFormControl" required type="number" min="0" max="100"
                          matInput placeholder="%" [(ngModel)]="excessPercentage">
                        <mat-error *ngIf="excessPercentageFormControl.hasError('required')">
                          Excess Percentage is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <button
            [disabled]="excessPercentageFormControl.hasError('required') || excessAmountFormControl.hasError('required') || excessAmountFormControl.hasError('max') || perilPerilSumInsuredFormControl.hasError('required') || otherPerilFormControl.hasError('required') "
            *ngIf="!manageCover" (click)="saveCovers();" class="btn-theme-lg mb-2">Submit Cover</button>
          <button
            [disabled]="excessPercentageFormControl.hasError('required') || excessAmountFormControl.hasError('required') || excessAmountFormControl.hasError('max') || perilPerilSumInsuredFormControl.hasError('required') "
            *ngIf="manageCover" (click)="updateRiskCovers();" class="btn-theme-lg mb-2">Update Cover</button>

        </div>
      </div>
    </div>
  </div>
</app-header>
