<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>
    <div class="page-title-header  pt-3 d-flex justify-content-between align-items-center ">
      <div>
        <h3>Deposit Slip List</h3>
        <p>Check how your loyalty points have been added and shared</p>
      </div>
    </div>
    <div class="line-fluid-row bb-light "></div>

    <!--    Filter Range-->

    <div class="d-flex justify-content-between align-items-center  my-3 ">
      <div>
        <div class="d-flex justify-content-end align-items-center">
          <label class="font-light-13 mb-0 mr-3">Filter Range</label>
          <div class=" drop-theme">

            <mat-form-field STYLE="width: 148px">

              <mat-select [(value)]="date" (valueChange)="onSetDate()">

                <mat-option value="3months">
                  Last 3 months
                </mat-option>
                <mat-option value="2months">
                  Last 2 months
                </mat-option>
                <mat-option value="1months">
                  Last month
                </mat-option>

              </mat-select>
            </mat-form-field>


          </div>
        </div>
      </div>
    </div>

    <div class="line-fluid-row bb-light mb-3"></div>

    <!--    TABLE-->

    <div class="table-trans">

      <!--      TABLE menu-->

      <div class="tbt-header">
        <div class="row no-gutters mb-3">
          <div class="col-4 ">
            <div class="row no-gutters">
              <div class="col-4"><label>DATE</label></div>
              <div class="col-8"><label>SLIP NO</label></div>
            </div>
          </div>
          <div class="col-8">
            <div class="row no-gutters">
              <div class="col-4"><label>Bank</label></div>
              <div class="col-2"><label>A/C NUMBER</label></div>
              <div class="col-2 text-right"><label>AMOUNT</label></div>
              <div class="col-2 text-right"><label>PAY METHOD</label></div>
              <div class="col-2 text-right"><label>DOWNLOAD</label></div>
            </div>
          </div>
        </div>
      </div>


      <!--      TABLE DATA  -->

      <mat-accordion class="mat-acc-th-table">
        <mat-expansion-panel *ngFor="let deposit of dataList; let i = index"  class="mth-ex-pannel">
          <mat-expansion-panel-header class="mth-ex-header">
            <div class="tbt-body">

              <div class="tb-row-expand">

                <!--            *ngFor="let deposit of dataList"-->

                <div class="row no-gutters " >
                  <div class="col-4 ">
                    <div class="row no-gutters">
                      <div class="col-4"><i class="fas fa-plus-circle color-light-green mr-2"></i><label>{{deposit.bankingSlipDate | date: 'dd MMM yyyy' }}</label></div>
                      <div class="col-8 "><label>{{deposit.bankingSlipNumber}}</label></div>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="row no-gutters">
                      <div class="col-4"><label>{{deposit.bankDescription}}</label></div>
                      <div class="col-2"><label>{{deposit.accountNumber}}</label></div>
                      <div class="col-2 text-right"><label>{{deposit.bankedAmount}}{{deposit.currencyCode}}</label></div>
                      <div class="col-2 text-right"><label>{{deposit.paymentModeDescription}}</label></div>
                      <div class="col-2 text-right"><a class="pdf-download pr-3" (click)="completeSlip(deposit.sequence)" > <i class="far fa-file-pdf"></i></a></div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </mat-expansion-panel-header>

          <div class="px-5">


<!--          <div class="collapse">-->
            <div class="row my-2">


              <div class="col-7" *ngFor="let list of deposit.collection" >
                <div class="row no-gutters">
                  <div class="col-1 color-light-green">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="col-3">
                    <label>{{list.settledDate | date: 'dd MMM yyyy' }}</label>
                  </div>
                  <div class="col-3">
                    <label>{{list.receiptNumber}}</label>
                  </div>
                  <div class="col-3 text-right">
                    <label>{{list.amount}}{{list.currencyCode}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--          </div>-->

        </mat-expansion-panel>
      </mat-accordion>


    </div>
  </div>

</app-header>
