.tb-row-expand {
  position: relative; }

.tb-row-expand .tbr-head {
  color: #22cd81;
  position: absolute;
  left: -25px; }

.color-light-green {
  color: #22cd81; }

.tbt-body {
  width: 100%; }

.mat-acc-th-table .mth-ex-pannel {
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px; }
  .mat-acc-th-table .mth-ex-pannel .mth-ex-header {
    padding: 0 15px !important; }

.mat-expansion-indicator {
  display: none !important; }

.pdf-download {
  color: #e42929 !important;
  font-size: 18px; }
