<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">News</li>
      </ol>
    </nav>
    <div class="page-title-header mb-5 pt-3 px-3">
      <h3>Read all about Agriculture</h3>
      <p>Search for articles or <a (click)="openDialog()"> publish your own article.</a></p>
    </div>

    <div class="search-box card-b px-4 py-3 ">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="search-field br-light">
            <label> Search </label>
            <input [(ngModel)]="serchInput" type="text" placeholder="Let us know what you want to read…">
          </div>
        </div>
        <div class="col-md-4">
          <div class="row no-gutters h-100 align-items-center">
            <div class="col-7">
              <div class="drop-trans pl-3">
                <mat-form-field>
                  <div class="dpt-arrow">
                    <i class="fas fa-chevron-down"></i>
                  </div>

                  <mat-label class="dp-label">Category </mat-label>
                  <mat-select [(value)]="selectedCategory.code">
                    <mat-option value="">All Categories</mat-option>
                    <mat-option *ngFor="let category of categoriesList" [value]="category.code">
                      {{category.description | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col text-right">
              <button (click)="getNews()" class="btn-theme">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-g px-3 my-4">

      <div class="drop-trans" style="width: 150px;">
        <mat-form-field class="line-drop-select">
          <div class="dpt-arrow">
            <i class="fas fa-chevron-down"></i>
          </div>
          <mat-select [(value)]="selectedArticalType">
            <mat-option value="" (click)="getNews()">All</mat-option>
            <mat-option value="Recently Published" (click)="getNews()">Recently Published</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <p style="cursor: pointer;" [ngClass]="{'ppp': isPublishedByMe}" (click)="isPublishedByMe = !isPublishedByMe" (click)="getNews()">
        Published by Me</p>
    </div>

    <div class="loading-sect" *ngIf="!isSerchedDataLoaded" style="text-align: center; ">
      <img src="../../../../assets/vendor/images/loading.svg" alt="">
    </div>
<!--    class="card-columns news-grid"-->
    <div class="row news-grid"
      infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollUpDistance]="2"
      [infiniteScrollThrottle]="300"
      [infiniteScrollContainer]="'mat-drawer-content'"
      [fromRoot]="true"
      (scrolled)="onScrollDown($event)"
      (scrolledUp)="onUp($event)">

      <app-news-card class="col-md-4" @fade *ngFor="let model of newsCardsList" [card]='model' (onClose)="execOnClose($event)"> </app-news-card>

    </div>
  </div>
</app-header>
