<div *ngIf="isDataLoaded" class="agri-loading" style="text-align: center; ">
      <img src="../../../../assets/vendor/images/loading.svg" alt="">
    </div>
<div class="tab-pane fade active show" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-settings-tab">


   <div class="form-new-opt mb-4">
         <h6>Identifications</h6>
         <button [routerLink]="[ '/user-profile/add-identification' ]" class="btn-theme-lg">Add New Identification</button>
   </div>

      <div class="row">
         <div  *ngFor="let identification of identifications" class="col-md-6 mb-4">
            <div class="card-b px-4 py-3">
               <div class="user-more-info bb-light">
                  <h6>{{identification.registrationTypeDescription | titlecase}}</h6>
                  <p>{{identification.registrationNumber}}</p>
                  <label>{{identification.issueingAuthority | titlecase}}</label><br>
                  <label *ngIf="identification.validToDate !== null">{{identification.validFromDate | date:shortDate }}  -  {{identification.validToDate | date:shortDate}}  </label>
                  <label *ngIf="identification.validToDate === null"> Valid till  {{identification.validFromDate | date:shortDate}}  </label>
               </div>
               <div class="mt-2">
                     <a [routerLink]="[ '/user-profile/manage-identification', identification.sequence ]" class="link-btn-sm"> Edit </a>
                     <a (click)="deleteIdentification(identification.sequence)" class="link-btn-sm"> Remove </a>
                 
               </div>
            </div>
         </div>
        

      </div>
</div>

