<!--<div class="modal modal-full modal-solid fade show" id="own-article" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="exampleModalLabel" aria-modal="true" style="padding-right: 17px; display: block; overflow-y:scroll; ">-->
<!--  <div class="modal-dialog " role="document">-->

<div class="modal-content" >
  <form [formGroup]="productForm">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
      close
    </button>
    <div class="modal-body">
      <div class="art-header-new mb-4" >
        <h5>List New Product</h5>
        <div>
        <div class="d-flex align-items-center">
          <button class="btn-floating bf-delete mr-4" data-toggle="modal" (click)="openDialogDelete()" data-target="#exampleModal"></button>
          <button class="btn-lg btn-theme" (click)="asd()">Publish Product</button>
        </div>


        </div>

      </div>
      <div class="bb-light mod-fluid mb-5"></div>
      <div class="add-cat-sec">
        <ul class="d-inline-flex cat-list mb-0">
          <li *ngIf="productCategory"> {{productCategory.description | titlecase}}
            <button (click)="reomveCategory()" class="btn-no-bg-tag color-th ml-2"><i
              class="fas fa-times"></i></button>
          </li>
        </ul>
        <div *ngIf="!productCategory"  [ngClass]="(productCategoryError) ? 'add-cat-drop invalid-drop':'add-cat-drop'" >
          <div class=" drop-theme">
            <button class="btn-no-bg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <div class="drop-c">
                Add Category <i class="fas fa-chevron-down"></i>
              </div>
            </button>
            <div class="dropdown-menu">
              <li *ngFor='let category of categories' class="dropdown-item" (click)='addCategory(category)'>
                {{category.description | titlecase}}</li>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="row">

          <div class="col-6 py-3">

            <mat-form-field class="tp-full-width">
              <input [ngModel]="inputName" matInput formControlName="name" placeholder="Product Name" class="font-dk-25">
              <mat-error *ngIf="requiredTextController.hasError('required')">
                Product name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

          </div>

          <div class="w-100"></div>

          <div class="col-6 py-3 ">
              <mat-form-field class="tp-full-width">
                  <input  matInput formControlName="brandName" placeholder="Brand">
                  <mat-error *ngIf="requiredTextController.hasError('required')">
                    Brand name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          </div>

          <div class="w-100"></div>

          <div class="col-6 py-3" >

            <div class="drop-trans">
                <label> Location </label>
                <div class="d-block drop-theme">
                  <mat-form-field>
                      <div class="dpt-arrow">
                          <i class="fas fa-chevron-down"></i>
                      </div>
                    <mat-select [ngClass]="(locationError) ? 'drop-invalid':''"  [(value)]="locationCode" >
                      <mat-option *ngFor="let location of locations" [value]="location.code">
                        {{location.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>
            
              
          </div>

          <div class="w-100"></div>

          <div class="col-12 py-3">
              <label class="mb-3">Images</label>
              <div class="d-flex">
                <div *ngFor="let desc of imageList; let i = index" class="form-mg-thumb">
                  <div class="fmt-holder">
                    <img *ngIf="imageList[i].url" [src]="imageList[i].url | decodeUrl" alt="">

                  </div>
                  <button (click)="removeItem(i)" class="remove-i"></button>
                </div>
                <div class="form-img-up">
                  <input [(ngModel)]="tempFile" id="file_upload" type="file" [ngModelOptions]="{standalone: true}"
                         (change)="addImage($event)">
                  <img src="../../../../assets/vendor/images/i-thumb.png" width="45px" alt="">
                  <div class="fiu-hint">
                    <p>Max. file size 2MB PNG or JPEG</p>
                    <label>Add Product Image</label>
                  </div>
                </div>
              </div>
          </div>

          <div class="w-100"></div>

          <div class="col-6 py-3">
              <mat-form-field class="tp-full-width">
                  <input [ngModel]="inputAmount"  type="number" min="0.00" step="0.01" matInput formControlName="amount"
                           placeholder="Price (LKR)">
                  <mat-error *ngIf="requiredTextController.hasError('required')">
                    Price is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          </div>

          <div class="w-100"></div>

          <div class="col-12 py-3">
              <mat-form-field class="tp-full-width">
                  <input [ngModel]="inputDescription" matInput formControlName="description" placeholder="Description">
                  <mat-error *ngIf="requiredTextController.hasError('required')">
                    Description is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
          </div>

          <div class="w-100"></div>

          <div class="col-6 py-3">
              <mat-form-field>
                  <input matInput formControlName="externalLink"  placeholder="External links">
                </mat-form-field>
          </div>

        </div>

        
      </div>












     
      
      
    </div>
  </form>
</div>

<!--  </div>-->
<!--</div>-->
