<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Claims</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Add New Claim</h3>
        <p>Put your requirements to see if you will profit by planting the crops</p>
      </div>
    </div>

    <div class="line-fluid-row bb-light mb-3"></div>

    <div class="row">
      <div class="col-md-3 ">

        <p class="font-light-13 pt-2">Please folow the process to create a <br> policy to the specific livestock or <br>
          weather component.</p>

        <div class="prg-bar-thin my-4">
          <div class="pg-value" style="width:85%"></div>
        </div>


        <div class="policy-add-steps ">
          <div class="nav flex-column "  aria-orientation="vertical">

            <a class="nav-link active"  role="tab"
               aria-controls="v-pills-home" aria-selected="true">

              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>1</span>
                  </div>
                </div>
                <label class="psl-1">Notification</label>

              </div>

            </a>
            <a class="nav-link " [ngClass]="{'active':status === '2'}" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">
              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>2</span>
                  </div>
                </div>
                <label class="psl-1">Policy & Incident</label>

              </div>
            </a>
            <a class="nav-link" [ngClass]="{'active':status === '3'}" role="tab"
               aria-controls="v-pills-settings" aria-selected="false">
              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>3</span>
                  </div>
                </div>
                <label class="psl-1">Verification</label>

              </div>
            </a>

          </div>
        </div>
      </div>

      <div class="col-md-8 pl-5">
        <app-add-claim-notification *ngIf="status === '1'" (data)="setPolicyDetails($event)"></app-add-claim-notification>
        <app-add-claim-policy-exist *ngIf="status === '2'" (cancel)="status='1'" [policy]="policyDetail" (data)="setNotificationSequence($event)" ></app-add-claim-policy-exist>
        <app-add-claim-verify-photo *ngIf="status === '3'"  [notificationSequence]="notificationSequence" ></app-add-claim-verify-photo>
      </div>

    </div>
  </div>
</app-header>
