<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-3 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Marketplace</li>
      </ol>
    </nav>

    <div class="page-title-header mb-5 pt-3 px-3">
      <h3>Buy products for good value</h3>
      <p>Search for products or <a data-toggle="modal" data-target="#own-article" (click)="openAddNewProductView()">
          List your own product.</a></p>
      <!-- Button trigger modal -->
    </div>

    <div class="search-box card-b px-4 py-3 ">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="search-field ">
            <label> Search </label>
            <input type="text" [(ngModel)]="articleTitle" placeholder="Let us know what you want to read…">
          </div>
        </div>

        <div class="offset-md-1 col-md-3">
          <div class=" px-3 br-light bl-light">
            <div class=" drop-trans pl-3">
              <mat-form-field>
                <div class="dpt-arrow">
                  <i class="fas fa-chevron-down"></i>
                </div>

                <mat-label class="dp-label">Location </mat-label>
                <mat-select [(value)]="locationCode">
                  <mat-option value="">All Locations</mat-option>
                  <mat-option *ngFor="let location of locations" [value]="location.code">
                    {{location.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="row no-gutters h-100 align-items-center">
            <div class="col-7">
              <div class=" drop-trans pl-3">
                <mat-form-field>
                  <div class="dpt-arrow">
                    <i class="fas fa-chevron-down"></i>
                  </div>

                  <mat-label class="dp-label">Category </mat-label>
                  <mat-select [(value)]="categoryCode">
                    <mat-option value="">All Categories</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category.code">
                      {{category.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col text-right">
              <button class="btn-theme" (click)="loadItems()">Search</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="filter-g px-3 my-4">

      <div class="drop-trans" style="width: 120px; margin-right: 40px">

        <mat-form-field class="line-drop-select">
          <!-- <mat-label>Category</mat-label> -->
          <div class="dpt-arrow">
            <i class="fas fa-chevron-down"></i>
          </div>
          <mat-select [(ngModel)]="recentlyListedBoolean" (selectionChange)="isRecentlyListed()">
            <mat-option value="false">All Results</mat-option>
            <mat-option value="true">Recently Listed</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="drop-trans" style="width: 120px">
          <mat-form-field class="line-drop-select">
              <div class="dpt-arrow">
                <i class="fas fa-chevron-down"></i>
              </div>
              <mat-select [(value)]="sortByPrice" (selectionChange)="loadItems()">
                <mat-option value="">None</mat-option>
                <mat-option value="H">Price - Highest</mat-option>
                <mat-option value="L">Price - Lowest</mat-option>
              </mat-select>
            </mat-form-field>
      </div>


      <mat-button-toggle (change)="toggleListedByMeValue()" class=" btn-no-bg ml-2">Listed by Me</mat-button-toggle>





    </div>

    <div class="news-grid">
      <div class="row">
        <div class="col-md-3" *ngFor="let item of marketplaceItemList" (click)="onProductView(item.id)">
          <div class="news-box" data-toggle="modal" data-target="#modal-article">
            <div class="nb-img-p">
              <img src="{{item.imageUrl != null ? (item.imageUrl | decodeUrl) : 'assets/images/no-image.jpg'}}" alt="">
            </div>
            <div class="mp-desc">
              <div class="mp-brand-d">
                <label>{{item.brandName}}</label>
                <p>{{item.name}}</p>
              </div>

              <div class="mp-value">
                <label>{{item.unit}}. <span>{{item.amount | number}}</span></label>
              </div>

              <div class="mpl-area">
                <label>{{item.locationDescription}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="search-results" style="height: 100%" infinite-scroll [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
      [infiniteScrollContainer]="containerName" [fromRoot]="fromRoot" (scrolled)="onScrollDown($event)"
      (scrolledUp)="onUp($event)">
      <p *ngFor="let i of array">
        {{ i }}
      </p>
    </div>

  </div>
</app-header>
