<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lands</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Lands</h3>
        <p>See the lands listed in the application</p>
      </div>
      <button routerLink="add-land" class="btn-theme-lg">Add New Land</button>
    </div>
    <div class="line-fluid-row bb-light "></div>
    <div class="row">
      <div class="col-md-4 br-light">
        <div *ngIf="isManageClicked" class="loading-sec-i"></div>
        <div>
          <div class="li-search-op ">
            <div class="search-trans">
              <i class="fas fa-search"></i>
              <input placeholder="Search for keywords" (keyup)="filterData(searchText)" [(ngModel)]="searchText">
            </div>
          </div>
          <div class="bb-light line-fluid-row mb-3"></div>
          <div class="policy-list">
            <div *ngIf="landList" class="nav flex-column"
                 style="overflow-y: scroll; height:400px; overflow-x:hidden; display: block;">
              <div class="nav-link" [ngClass]="{'active': this.activeLandSequence === item.sequence}"
                   *ngFor="let item of landFilteredList; let i = index">
                <div class="policy-li-item" (click)="onSelectLand(i, item.sequence)">
                  <label class="pli-l1 mt-1">{{item.plotName}}</label>
                  <label class="pli-l2">{{item.address}}</label>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div>
          <div *ngIf="!isManageClicked">
            <div class="card-b px-4 py-3 my-3 ng-star-inserted">
              <div class="p-inofo-head">
                <label>Land Name / Plot Number<label
                  class="font-dk-16 ml-3">    {{selectedLand.plotName}}</label></label>

                <button mat-button (click)="isManageClicked = true" *ngIf="!isManageClicked">Manage</button>

              </div>

              <div>

                <div class="bb-light my-3"></div>
                <div class="row mb-3">


                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l">Address </label>
                      </div>
                      <div class="col-6">
                        <label class="font-sm-b font-th-d">{{selectedLand.address}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> District </label>
                      </div>
                      <div class="col-6">
                        <label class="font-sm-b font-th-d">{{selectedLand.districtDescription | titlecase}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> Division </label>
                      </div>
                      <div class="col-6">
                        <label class="font-sm-b font-th-d">{{selectedLand.divisionDescription | titlecase}}</label>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> Gramasewa Division </label>
                      </div>
                      <div class="col-6">
                        <label
                          class="font-sm-b font-th-d">{{selectedLand.gramasevaDivisionDescription | titlecase}}</label>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> Agrarian Service Center </label>
                      </div>
                      <div class="col-6">
                        <label
                          class="font-sm-b font-th-d">{{selectedLand.agrarianServiceCenterDescription | titlecase}}</label>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> Land size Acres </label>
                      </div>
                      <div class="col-6">
                        <label class="font-sm-b font-th-d">{{selectedLand.sizeInAcres}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> Ownership </label>
                      </div>
                      <div class="col-6">
                        <label class="font-sm-b font-th-d">{{selectedLand.ownershipDescription | titlecase}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> Perches </label>
                      </div>
                      <div class="col-6">
                        <label class="font-sm-b font-th-d">{{selectedLand.sizeInPerches}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row no-gutters">
                      <div class="col-6">
                        <label class="font-sm font-th-l"> Mark Land plot </label>
                      </div>
                      <div class="col-6 overflow-hidden">
                        <label class="font-sm-b font-th-d">{{pathString}}</label>
                      </div>
                    </div>
                  </div>


                </div>


              </div>

            </div>
            <mat-accordion>
              <mat-expansion-panel class="mat-acc-head mt-0">
                <mat-expansion-panel-header>
                  <mat-panel-title *ngIf="imgList">
                    {{imgList.length}} Photos Added
                  </mat-panel-title>
                  <mat-panel-description class="d-flex justify-content-end">

                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="acc-contain bt-light px-4">
                  <div class="p-im-grid my-3">
                    <div class="row no-gutters">
                      <div *ngFor="let img of imgList; let i = index" class="col-3">

                        <div class="img-g-sm" style="padding: 5px;">
                          <img [src]="imgList[i].value | decodeUrl" class="p-0" alt="Image">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div>

          </div>


          <app-manage-land
            *ngIf="isManageClicked"
            (isCancelClicked)="onCancel()"
            [selectedLand]="selectedLand"
          ></app-manage-land>
        </div>
      </div>

    </div>
  </div>
</app-header>
