<div class="col-md-8 pl-5">
  <div *ngIf="!isContinue">
    <form [formGroup]="landForm">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel"

             aria-labelledby="v-pills-home-tab">

          <div class="form-new-opt mb-4 pr-3">
            <h6>Location</h6>
            <a [routerLink]="routeString" class="font-light-nm">Cancel</a>
          </div>


          <div class="card-b my-4">
            <div class="card-b-head bb-light">
              <label>Land Details</label>

            </div>
            <div class="card-b-body">
              <div class="row">

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Land Name / Plot Number" formControlName="plotName">
                  </mat-form-field>
                </div>

                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" formControlName="address">
                  </mat-form-field>

                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>District</mat-label>
                    <mat-select [(value)]="selectedDistrict" (valueChange)="getDivisionns()"
                                formControlName="district">
                      <mat-option *ngFor="let item of districtsList" [value]="item">
                        {{item.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Division</mat-label>
                    <mat-select [(value)]="selectedDivision" (valueChange)="getGramasevaDivisions()"
                                formControlName="division">
                      <mat-option *ngFor="let item of divisionsList" [value]="item">
                        {{item.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Gramasewa Division</mat-label>
                    <mat-select [(value)]="selectedGramasevaDivision" formControlName="gramasevaDivision">
                      <mat-option *ngFor="let item of gramasevaDivisionsList" [value]="item">
                        {{item.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Aggregation Service Centre</mat-label>
                    <mat-select [(value)]="selectedgetagrarianServiceCenter"
                                formControlName="agrarianServiceCenter">
                      <mat-option *ngFor="let item of getagrarianServiceCentersList" [value]="item.code">
                        {{item.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>


                <div class="col-md-6">

                  <!-- <mat-label>Land Size</mat-label> -->


                  <div class="row no-gutters">

                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder=" Land Size- Acres" formControlName="sizeInAcres">
                      </mat-form-field>

                    </div>
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Perches" formControlName="sizeInPerches">
                      </mat-form-field>

                    </div>
                  </div>

                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Ownership</mat-label>
                    <mat-select [(value)]="selectedOwnershipType" formControlName="ownership">
                      <mat-option *ngFor="let item of ownershipTypesList" [value]="item.code">
                        {{item.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

                <div class="col-md-8">
                  <mat-form-field>
                    <input matInput placeholder="Mark Land Plot" formControlName="geometry" readonly
                           (click)="asd()">
                  </mat-form-field>

                </div>

              </div>

            </div>
          </div>
          <button mat-button class="btn-theme-lg mb-2" (click)="saveLand()" [disabled]="landForm.invalid">
            Continue
          </button>
        </div>


      </div>
    </form>
  </div>

  <div *ngIf="isContinue">
    <mat-accordion>
      <div class="img-up-thme-btn-matt">
        <input  type="file" (change)="addImg($event)">
        <button  class="btn-light-round ng-star-inserted"> Add New</button>

      </div>

      <mat-expansion-panel class="mat-acc-head mt-0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{imagList.length}} Images Added
          </mat-panel-title>
          <mat-panel-description>
            <!--                  <button class="btn-light-round blr-edge-w"> Add New</button>-->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="acc-contain bt-light px-4">
          <div class="p-im-grid my-3">
            <div class="row no-gutters">


              <div *ngFor="let img of imagList; let i = index" class="col-3">

                <div class="img-g-sm" style="padding: 5px;">

                  <div *ngIf="!imagList[i].value" class="prg-i">
                    <div class="prg-bar">
                      <div class="pg-value" [style.width]="imagList[i].progress"></div>
                    </div>
                    <p>Uploading...</p>
                  </div>
                  <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" class="p-0">


                  <button (click)="removeImg(i)" class="remove-i" style="width: 18px"></button>



                </div>


              </div>
            </div>
          </div>
          <button mat-button class="btn-theme-lg mb-2" (click)="saveImages()" [routerLink]="routeString">
            Submit
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <br>

    <!--          <mat-accordion>-->
    <!--            <mat-expansion-panel>-->
    <!--              <mat-expansion-panel-header>-->
    <!--                <mat-panel-title>-->
    <!--                  2 Policies Added-->
    <!--                </mat-panel-title>-->
    <!--                <mat-panel-description>-->
    <!--                  <button class="btn-light-round blr-edge-w"> Add New</button>-->
    <!--                </mat-panel-description>-->
    <!--              </mat-expansion-panel-header>-->
    <!--              <div style="overflow-y: scroll; height:200px; overflow-x:hidden; display: block;">-->
    <!--                <div class="acc-contain bt-light px-4">-->
    <!--                  <div class="acc-list-t1 bb-light">-->
    <!--                    <div class="alt-t1">-->
    <!--                      <label class="font-b font-dk">address</label>-->
    <!--                      <label>Red B+</label>-->
    <!--                    </div>-->
    <!--                    <a href="" class="font-light-nm">Manage</a>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </mat-expansion-panel>-->
    <!--          </mat-accordion>-->

    <!--          <br>-->

    <!--          <mat-accordion>-->
    <!--            <mat-expansion-panel>-->
    <!--              <mat-expansion-panel-header>-->
    <!--                <mat-panel-title>-->
    <!--                  Leads Added-->
    <!--                </mat-panel-title>-->
    <!--                <mat-panel-description>-->
    <!--                  <button class="btn-light-round blr-edge-w"> Add New</button>-->
    <!--                </mat-panel-description>-->
    <!--              </mat-expansion-panel-header>-->
    <!--              <div style="overflow-y: scroll; height:200px; overflow-x:hidden; display: block;">-->
    <!--                <div class="acc-contain bt-light px-4">-->
    <!--                  <div class="acc-list-t1 bb-light">-->
    <!--                    <div class="alt-t1">-->
    <!--                      <label class="font-b font-dk"></label>-->
    <!--                      <label>Red B+</label>-->
    <!--                    </div>-->
    <!--                    <a href="" class="font-light-nm">Manage</a>-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </mat-expansion-panel>-->
    <!--          </mat-accordion>-->
  </div>
</div>
