<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Policies</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Add New Policy</h3>
        <p>Put your requirements to see if you will profit by planting the crops</p>
      </div>
    </div>

    <div class="line-fluid-row bb-light mb-3"></div>

    <div class="row">
      <div class="col-md-3 ">

        <p class="font-light-13 pt-2">Please folow the process to create a <br> policy to the specific livestock or <br>
          weather component.</p>

        <div class="prg-bar-thin my-4">
          <div class="pg-value" style="width:85%"></div>
        </div>


        <div class="policy-add-steps ">
          <div class="nav flex-column "  aria-orientation="vertical">

            <a class="nav-link active"  role="tab"
               aria-controls="v-pills-home" aria-selected="true">

              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>1</span>
                  </div>
                </div>
                <label class="psl-1">Policy</label>

              </div>

            </a>
            <a class="nav-link "  role="tab"
               aria-controls="v-pills-profile" aria-selected="false">
              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>2</span>
                  </div>
                </div>
                <label class="psl-1">Additional Details</label>

              </div>
            </a>

          </div>
        </div>
      </div>

      <div class="col-md-8 pl-5" [ngSwitch]="displayComponent">
        <div *ngSwitchCase="'displayAppPolicy'">
          <div class="form-new-opt mb-4 pr-3">
            <h6>Add Policy</h6>
<!--            <a *ngIf="parentPage === 'c'" [routerLink]="[ '/customers' ]" class="font-light-nm">Cancel</a>-->
<!--            <a *ngIf="parentPage === 'p'" [routerLink]="[ '/policies' ]" class="font-light-nm">Cancel</a>-->
          </div>
          <div class="card-b ">
            <div class="card-b-body py-0 pt-2">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-select placeholder="Type" [(ngModel)]="productType">
                      <mat-option value="WHINX">
                        Weather
                      </mat-option>
                      <mat-option value="LIVST">
                        Livestock
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        <app-add-policy-weather (savePolicyEvent)="savePolicyFirstStep($event)" *ngIf="productType === 'WHINX'"></app-add-policy-weather>
        <app-add-policy-livestock  (savePolicyEvent)="savePolicyFirstStep($event)" *ngIf="productType === 'LIVST'"></app-add-policy-livestock>
        </div>
        <app-add-policy-weather-risk *ngSwitchCase="'displayAppPolicyWeatherRisk'"></app-add-policy-weather-risk>
        <app-add-policy-livestock-risk *ngSwitchCase="'displayAppPolicyLivestockRisk'"></app-add-policy-livestock-risk>
        <app-add-policy-livestok-risk-covers *ngSwitchCase="'displayAppPolicyLivestockCover'"></app-add-policy-livestok-risk-covers>
        <app-policy-weather-additional-details *ngSwitchCase="'displayAppPolicyWeatherAdditionalDetails'" [policyCommonData]="policyCommonData"></app-policy-weather-additional-details>
        <app-policy-livestock-risk-additional-details *ngSwitchCase="'displayAppPolicyLivestockRiskAdditionalDetails'"></app-policy-livestock-risk-additional-details>
        <app-policy-livestock-additional-details *ngSwitchCase="'displayAppPolicyLivestockAdditionalDetails'"></app-policy-livestock-additional-details>
      </div>

    </div>
  </div>
</app-header>
