/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop.show {
    display: none !important;
 }

.no-touch{
  overflow-y: hidden !important;
}


.cdk-overlay-backdrop{

}



.pli-l3{
  color: #07b669;
}


@media only screen and (min-width: 1700px){
  .list-th-scroll {
    height: inherit !important;
  }

}





.s-tog-opt{
  .mat-checkbox-label{
    font-size: 12px !important;
  }

  .mat-checkbox-inner-container{
    height: 18px !important;
    width: 18px !important;
  }

  .mat-checkbox-frame{
    border-width: 1px !important;
  }
}
