/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop.show {
  display: none !important; }

.no-touch {
  overflow-y: hidden !important; }

.pli-l3 {
  color: #07b669; }

@media only screen and (min-width: 1700px) {
  .list-th-scroll {
    height: inherit !important; } }
