<div id="map">
</div>
<div class="map-overlay-z">
<!--  <label class="font-light-nm">Current Location</label><br>-->
<!--  <label class="font-dk-14  mb-2">67 Gamage Road, Dehiwala </label>-->
<!--  <div class="bb-light mb-3"></div>-->
  <button class="btn-theme" mat-button [disabled]="drawnShapes.length == 0" (click)="finished()">Submit</button>
  <a (click)="cancel()" class="font-light-nm  ml-3">Cancel </a>
  <button class="map-opt-btn" (click)="clearPaths()"><img src="../../../../assets/vendor/images/m-4.png" alt="">
  </button>
</div>

    
        
            
           
   
   
         
    


