<app-header>

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Quotations</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Quotations</h3>
        <p>See the quotations listed in the system</p>
      </div>
      <button class="btn-theme-lg">Add New Policy</button>

    </div>

    <div class="line-fluid-row bb-light "></div>

    <div class="row">
      <div class="col-md-4 br-light">

        <div>
          <div class="li-search-op ">
            <div class="search-trans">
              <i class="fas fa-search"></i>
              <input type="search" placeholder="Search for keywords">
            </div>

            <div class="search-f-op">
              <div style="width: 20px" class="input-field select-th">

                <mat-form-field>
                  <mat-label>Favorite food</mat-label>
                  <mat-select>
                    <mat-option>AAA</mat-option>
                    <mat-option>BBB</mat-option>
                    <mat-option>CCC</mat-option>
                  </mat-select>
                </mat-form-field>

                <!--                <i class="fas fa-angle-down"></i>-->
                <!--                <select>-->
                <!--                  <option value="1" selected>Active</option>-->
                <!--                  <option value="2">Inactive</option>-->
                <!--                </select>-->

              </div>
            </div>
          </div>
          <div class="bb-light line-fluid-row mb-3"></div>
          <div class="policy-list ">
            <div class="nav flex-column " aria-orientation="vertical">

              <div *ngFor="let item of listData; let i = index">
                <a class="nav-link" (click)="onSelectQuotation(i)">
                  <div class="policy-li-item">
                    <label class="pli-l1">{{item.sequence}}</label>
                    <label class="pli-l2">{{item.productDescription}}</label>
                    <label class="pli-l3">Active</label>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>


      </div>
      <div class="col-md-8">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade  show active" aria-labelledby="v-pills-home-tab">

            <app-quotation-weather-form></app-quotation-weather-form>

          </div>
        </div>
      </div>
    </div>


  </div>

</app-header>
