
<app-mark-land [data]="selectedLand" (output)="getMarkers($event)" *ngIf="isDrawMap" class="map-manage-view"></app-mark-land>
<div *ngIf="!isDrawMap">
  <div *ngIf="selectedLand ">
    <form [formGroup]="landForm">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel"
             aria-labelledby="v-pills-home-tab">
          <div class="form-new-opt mb-4 pr-3">
            <h6>Location</h6>
          </div>

          <div class="card-b my-4">
            <div class="card-b-head bb-light">
              <label>Land Details</label>
              <button (click)="cancel()" mat-button > Cancel</button>

            </div>
            <div class="card-b-body">
              <div class="row">

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input type="text" name="Land Name / Plot Number" required matInput placeholder="Land Name / Plot Number" formControlName="plotName">
                  </mat-form-field>
                </div>

                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input required matInput placeholder="Address" formControlName="address">
                  </mat-form-field>

                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>District</mat-label>
                    <mat-select [(value)]="selectedDistrict" (valueChange)="getDivisions()" formControlName="district" required>
                      <mat-option *ngFor="let item of districtsList" [value]="item.code">
                        {{item.description | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Division</mat-label>
                    <mat-select [(value)]="selectedDivision" (valueChange)="getGramasevaDivisions()"
                                formControlName="division" required>
                      <mat-option *ngFor="let item of divisionsList" [value]="item.code">
                        {{item.description | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Gramasewa Division</mat-label>
                    <mat-select [(value)]="selectedGramasevaDivision" formControlName="gramasevaDivision" required>
                      <mat-option *ngFor="let item of gramasevaDivisionsList" [value]="item.code">
                        {{item.description | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Agrarian Service Centre</mat-label>
                    <mat-select [(value)]="selectedgetagrarianServiceCenter" formControlName="agrarianServiceCenter" required>
                      <mat-option *ngFor="let item of getagrarianServiceCentersList" [value]="item.code">
                        {{item.description | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col">
                      <mat-form-field>
                        <input required matInput type="number" placeholder="Land Size Acres"
                               formControlName="sizeInAcres">
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field>
                        <input required matInput type="number" placeholder="Perches" formControlName="sizeInPerches"  >
                        <mat-error *ngIf="landForm.controls['sizeInPerches'].errors?.max">Value must be  <strong>less than 160</strong></mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Ownership</mat-label>
                    <mat-select required [(value)]="selectedOwnershipType" formControlName="ownership">
                      <mat-option *ngFor="let item of ownershipTypesList" [value]="item.code">
                        {{item.description | titlecase}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <mat-form-field>
                    <span (click)="isDrawMap = true" class="field-txt-edge"><i
                      class="fas fa-map-marker-alt"></i></span>
                    <input required matInput placeholder="Mark Land Plot" formControlName="geometry" readonly>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <button  mat-button class="btn-theme-lg mb-2" (click)="updateLand()"
                  [disabled]="landForm.invalid && landForm.untouched">Submit
          </button>
        </div>
      </div>
    </form>

    <mat-accordion>

      <div class="img-up-thme-btn-matt">

        <input type="file" (change)="addImg($event)">
        <button class="btn-light-round ng-star-inserted"> Add New</button>

      </div>
      <mat-expansion-panel class="mat-acc-head mt-0">
        <mat-expansion-panel-header>
          <mat-panel-title *ngIf="imgList">
            {{imgList.length}} Photos Added
          </mat-panel-title>
          <mat-panel-description class="d-flex justify-content-end">

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="acc-contain bt-light px-4">
          <div class="p-im-grid my-3">
            <div class="row no-gutters">
              <div *ngFor="let img of imgList; let i = index" class="col-3">

                <div class="img-g-sm" style="padding: 5px;">
                  <div *ngIf="!imgList[i].value" class="prg-i">
                    <div class="prg-bar">
                      <div class="pg-value" [style.width]="imgList[i].progress"></div>
                    </div>
                    <p>Uploading...</p>
                  </div>
                  <img *ngIf="imgList[i].value" [src]="imgList[i].value | decodeUrl" class="p-0" alt="Image">
                  <button (click)="removeImg(i)" class="remove-i" style="width: 18px">X</button>
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="imgList.length" class="btn-theme-lg mb-2" (click)="saveImages()"> Submit images</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <br>

  </div>
</div>

<div *ngIf="!selectedLand">
  <h3>No any Lands</h3>
</div>
