<!--<div class="modal modal-full modal-solid fade show" id="own-article" tabindex="-1" role="dialog"-->
<!--     aria-labelledby="exampleModalLabel" aria-modal="true" style="padding-right: 17px; display: block; overflow-y:scroll; ">-->
<!--  <div class="modal-dialog " role="document">-->
<div class="full-pop-wide">
  <div class="modal-content">
    <form [formGroup]="productForm">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
        close
      </button>
      <div class="modal-body">
        <div class="art-header-new mb-4">
          <h5>List New Product</h5>
          <div>

            <div class="d-flex align-items-center">
              <button class="btn-floating bf-delete mr-4" data-toggle="modal" data-target="#exampleModal" (click)="onClose()"></button>
              <button class="btn-lg btn-theme" (click)="asd()">Publish Product</button>
            </div>


          </div>

        </div>
        <div class="bb-light mod-fluid mb-5"></div>
        <div class="add-cat-sec">
          <ul class="d-inline-flex cat-list mb-0">
            <li *ngIf="productCategory"> {{productCategory.description | titlecase}}
              <button (click)="reomveCategory()" class="btn-no-bg-tag color-th ml-2"><i
                  class="fas fa-times"></i></button>
            </li>
          </ul>
          <div *ngIf="!productCategory" [ngClass]="(productCategoryError) ? 'add-cat-drop invalid-drop':'add-cat-drop'">
            <div class=" drop-theme">
              <button class="btn-no-bg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="drop-c">
                  Add Category <i class="fas fa-chevron-down"></i>
                </div>
              </button>
              <div class="dropdown-menu">
                <li *ngFor='let category of categories' class="dropdown-item" (click)='addCategory(category)'>
                  {{category.description | titlecase}}</li>
              </div>
            </div>
          </div>
        </div>
        <div class="  mt-4">
          <div class="row">
              <div class="col-6 py-3 mb-2">
                <label class="font-light-nm d-flex"> Product Name <mat-error
                  *ngIf="isSubmitted && !inputName"  class="ml-3">
                    Product name is required
                  </mat-error> 
                </label>
                  <div class="d-block form-input-trans">
                      <input class="font-dk-25" placeholder="A name for your product to be sold"  formControlName="name">
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 py-3 mb-2">
                  <label class="font-light-nm d-flex"> Brand </label>
                  <div class="d-block ">
                    <input  placeholder="Add a brand if available" matInput formControlName="brandName" >
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 py-3 mb-2">
                    <div class="drop-trans">
                        <mat-form-field class="w-75">
                            <div class="dpt-arrow">
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <mat-label class="dp-label ">Location </mat-label>
                              <mat-select [ngClass]="(locationError) ? 'drop-invalid':''" [(value)]="locationCode">
                                <mat-option *ngFor="let location of locations" [value]="location.code">
                                  {{location.description}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>  
                    </div>
              </div>
              <div class="w-100"></div>
              <div class="col-12 py-3 mb-2">
                  <div class="form-theme">
                      <label class="mb-3">Images</label>
                      <div class="d-flex">
                        <div *ngFor="let desc of imageList; let i = index" class="form-mg-thumb">
                          <div class="fmt-holder">
                              <img *ngIf="imageList[i].url" [src]="imageList[i].url | decodeUrl" alt="">
                          </div>
                          <button (click)="removeItem(i)" class="remove-i"></button>
                        </div>
                        <div class="form-img-up">
                          <input [(ngModel)]="tempFile" id="file_upload" type="file" [ngModelOptions]="{standalone: true}"
                            (change)="addImage($event)">
                          <img src="../../../../assets/vendor/images/i-thumb.png" width="45px" alt="">
                          <div class="fiu-hint">
                            <p>Max. file size 2MB PNG or JPEG</p>
                            <label>Add Product Image</label>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 py-3 mb-2">
                  <label class="font-light-nm d-flex">Price  <mat-error *ngIf="isSubmitted && !inputAmount" class="ml-3">
                      Price is required
                    </mat-error> </label>
                    <div class="d-block form-input-trans">
                        <input [ngModel]="inputAmount" (ngModelChange)="inputAmount=$event" type="number" min="0.00" step="0.01" matInput formControlName="amount" placeholder="Give a price your product">
                    </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 py-3 mb-2">
                <label class="font-light-nm d-flex">Description  <mat-error *ngIf="isSubmitted && !inputDescription" class="ml-3">
                    Description is required
                  </mat-error> </label>
                  <div class="d-block form-input-trans">
                      <input matInput formControlName="description" placeholder="Give some details about your product">
                  </div>
              </div>
              <div class="w-100"></div>
              <div class="col-6 py-3 mb-2">
                      <label class="font-light-nm d-flex"> External Links </label>
                      <div class="d-block form-input-trans">
                        <input matInput formControlName="externalLink" placeholder="Add another source">
                      </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
