.drop-invalid{background: #8b1014}

.form-input-trans{
    input{
      border: none;
      padding:  0px;
      background: transparent;
      width: 100%;
      outline: none;
    
    }
    .mat-form-field-infix{
      border-top:none;
      padding: 0px;
    }
  
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
   
      color: #141222;
      opacity: 1; /* Firefox */
    }
  
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */

      color: #141222;
    }
  
    ::-ms-input-placeholder {
      /* Microsoft Edge */
 
      color: #141222;
    }
  }
  

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
 
    color: #141222;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */

    color: #141222;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */

    color: #141222;
  }