.drop-invalid {
  background: #8b1014; }

.form-input-trans input {
  border: none;
  padding: 0px;
  background: transparent;
  width: 100%;
  outline: none; }

.form-input-trans .mat-form-field-infix {
  border-top: none;
  padding: 0px; }

.form-input-trans ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

.form-input-trans :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #141222; }

.form-input-trans ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #141222; }

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #141222;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #141222; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #141222; }
