<app-header>

  <app-mark-land [data]="sendLandData" (output)="getMarkers($event)" *ngIf="isDrawMap"></app-mark-land>

  <div *ngIf="!isDrawMap" class="container">
    <nav *ngIf="isCustomer" aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a routerLink="/land">Lands</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Lands</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Add New Land</h3>
        <p>Make a new customer</p>
      </div>
    </div>
    <div class="line-fluid-row bb-light mb-3"></div>
    <div class="row">
      <div class="col-md-3 ">
        <p class="font-light-13 pt-2">Please follow the process to create a <br> policy to the specific livestock or
          <br> weather component.</p>
        <div class="policy-add-steps ">
          <div class="nav flex-column ">
            <a class="nav-link  active">
              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>1</span>
                  </div>
                </div>
                <label class="psl-1">Location</label>
              </div>
            </a>
            <a class="nav-link" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">
              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>2</span>
                  </div>
                </div>
                <label class="psl-1">Verifications</label>
              </div>
            </a>
            <a class="nav-link" role="tab"
               aria-controls="v-pills-messages" aria-selected="false">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 pl-5">
        <div *ngIf="!isContinue">
          <form [formGroup]="landForm">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel"
                   aria-labelledby="v-pills-home-tab">
                <div class="form-new-opt mb-4 pr-3">
                  <h6>Location</h6>
                  <a [routerLink]="routeString" class="font-light-nm">Cancel</a>
                </div>
                <div class="card-b my-4">
                  <div class="card-b-head bb-light">
                    <label>Land Details</label>
                  </div>
                  <div class="card-b-body">
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Land Name / Plot Number" formControlName="plotName" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Address" formControlName="address" required>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>District</mat-label>
                          <mat-select [(value)]="selectedDistrict" (valueChange)="getDivisionns()"
                                      formControlName="district" required>
                            <mat-option *ngFor="let item of districtsList" [value]="item">
                              {{item.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Division</mat-label>
                          <mat-select [(value)]="selectedDivision" (valueChange)="getGramasevaDivisions()"
                                      formControlName="division" required>
                            <mat-option *ngFor="let item of divisionsList" [value]="item">
                              {{item.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Gramasewa Division</mat-label>
                          <mat-select [(value)]="selectedGramasevaDivision" formControlName="gramasevaDivision"
                                      required>
                            <mat-option *ngFor="let item of gramasevaDivisionsList" [value]="item">
                              {{item.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <mat-label>Agrarian Service Centre</mat-label>
                          <mat-select [(value)]="selectedgetagrarianServiceCenter"
                                      formControlName="agrarianServiceCenter" required>
                            <mat-option *ngFor="let item of getagrarianServiceCentersList" [value]="item.code">
                              {{item.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <div class="row no-gutters">
                          <div class="col">
                            <mat-form-field>
                              <input matInput type="number" placeholder=" Land Size- Acres"
                                     formControlName="sizeInAcres" required>
                            </mat-form-field>
                          </div>
                          <div class="col">
                            <mat-form-field>
                              <input matInput type="number" placeholder="Perches" formControlName="sizeInPerches"
                                     required>
                              <mat-error *ngIf="landForm.controls['sizeInPerches'].errors?.max">Value must be <strong>less
                                than 160</strong></mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                          <mat-label>Ownership</mat-label>
                          <mat-select [(value)]="selectedOwnershipType" formControlName="ownership" required>
                            <mat-option *ngFor="let item of ownershipTypesList" [value]="item.code">
                              {{item.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-8">
                        <mat-form-field>
                          <span (click)="drawOnMap()" class="field-txt-edge"><i
                            class="fas fa-map-marker-alt"></i></span>
                          <input matInput placeholder="Mark Land Plot" formControlName="geometry" readonly>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <button mat-button class="btn-theme-lg mb-2" (click)="saveLand()" [disabled]="landForm.invalid">
                  Continue
                </button>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="isContinue">
          <mat-accordion>
            <div class="img-up-thme-btn-matt">
              <input type="file" (change)="addImg($event)">
              <button class="btn-light-round ng-star-inserted"> Add New</button>
            </div>
            <mat-expansion-panel class="mat-acc-head mt-0">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{imagList.length}} Images Added
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="acc-contain bt-light px-4">
                <div class="p-im-grid my-3">
                  <div class="row no-gutters">
                    <div *ngFor="let img of imagList; let i = index" class="col-3">
                      <div class="img-g-sm" style="padding: 5px;">
                        <div *ngIf="!imagList[i].value" class="prg-i">
                          <div class="prg-bar">
                            <div class="pg-value" [style.width]="imagList[i].progress"></div>
                          </div>
                          <p>Uploading...</p>
                        </div>
                        <img *ngIf="imagList[i].value" [src]="imagList[i].value | decodeUrl" class="p-0" alt="">
                        <button (click)="removeImg(i)" class="remove-i" style="width: 18px"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <button *ngIf="imagList.length" mat-button class="btn-theme-lg mb-2" (click)="saveImages()"
                        >
                  Submit
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
        </div>
      </div>
    </div>
  </div>
</app-header>
