<app-header>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb theme-bread my-4 px-0 py-0">
        <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>
    <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
      <div>
        <h3>Add New Policy</h3>
        <p>Put your requirements to see if you will profit by planting the crops</p>
      </div>
    </div>
    <div class="line-fluid-row bb-light mb-3"></div>
    <div class="row">
      <div class="col-md-3 ">
        <p class="font-light-13 pt-2">Please folow the process to create a <br> policy to the specific livestock or <br>
          weather component.</p>
        <div class="prg-bar-thin my-4">
          <div class="pg-value" style="width:55%"></div>
        </div>
        <div class="policy-add-steps ">
          <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link " id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
               aria-controls="v-pills-home" aria-selected="true">
              <div class="policy-step-li st-completed">
                <div class="psl-acc-node">
                  <div class="ps-completed">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>1</span>
                  </div>
                </div>
                <label class="psl-1">Policy</label>
              </div>
            </a>
            <a class="nav-link " id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">
              <div class="policy-step-li st-completed">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>2</span>
                  </div>
                </div>
                <label class="psl-1">Additional Details</label>
              </div>
            </a>
            <a class="nav-link  active" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
               aria-controls="v-pills-messages" aria-selected="false">
              <div class="policy-step-li ">
                <div class="psl-acc-node">
                  <div class="ps-completed ">
                    <i class="fas fa-check-circle"></i>
                  </div>
                  <div class="ps-step-no">
                    <span>3</span>
                  </div>
                </div>
                <label class="psl-1">Payment</label>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 pl-5">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="form-new-opt pr-3">
              <h6>Payment</h6>
            </div>
            <div class="row my-3">
              <div class="col-md-7">
                <form [formGroup]="paymentDetailForm" (ngSubmit)="onPayPremiumButton()">
                  <div class="card-b mb-4">
                    <div class="card-b-head bb-light">
                      <label>Deposit Details</label>
                    </div>
                    <div class="card-b-body">
                      <div class="info-succ-view mb-4 mt-2">
                        <label class="font-reg">Loyalty points remaining</label>
                        <label class="font-b" *ngIf="outstanding != null">{{outstanding.loyaltyPointsBalance}}</label>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input (input)="updatePointsUtilization()" matInput id="i-email2"
                                     (ngModelChange)="loyaltyPointsSpending=$event" type="number" min="0.00" step="1"
                                     class="validate" formControlName="loyalty_points" >
                            </mat-form-field>
                            <label for="i-email2">Loyalty Points Utilzation </label>
                            <span class="helper-text d-none" data-error="wrong" data-success="right">Helper text</span>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="input-field select-th ">
                            <mat-form-field>
                              <mat-select placeholder="Payment Mode" formControlName="payment_mode" (selectionChange) = "onPaymentModeChange()">
                                <mat-option *ngFor="let mode of paymentModes" [value]="mode.code">
                                  {{mode.description}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <!---------------------------- cheque payment ----------------------------->
                        <div *ngIf="paymentMode === 'PAYCQ'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input (input)="chequeCollection.chequeNumber = $event.target.value" matInput formControlName="cheque_number" id="cheque_number" type="text"
                                     class="validate" placeholder="Cheque No">
                              <mat-error *ngIf="(!paymentDetailForm.controls['cheque_number'].valid&&paymentDetailForm.controls['cheque_number'].dirty)&&paymentDetailForm.controls['cheque_number'].errors.required">Cheque number is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <div *ngIf="paymentMode === 'PAYCQ'" class="col-md-12">
                          <div >
                            <mat-form-field>
                              <mat-select id="cheque_bank" formControlName="cheque_bank" (input)="chequeCollection.bankCode = $event.target.value" placeholder="Bank">
                                <mat-option *ngFor="let bank of banks" (onSelectionChange)="onBankChange(bank.code)" [value]="bank.code">
                                  {{bank.description}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="(!paymentDetailForm.controls['cheque_bank'].valid&&paymentDetailForm.controls['cheque_bank'].dirty)&&paymentDetailForm.controls['cheque_bank'].errors.required">Bank is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <div *ngIf="paymentMode === 'PAYCQ'" class="col-md-12">
                          <div class="input-field select-th ">
                            <mat-form-field>
                              <mat-select id="cheque_branch" (input)="chequeCollection.branchCode = $event.target.value" formControlName="cheque_branch" placeholder="Branch">
                                <mat-option *ngFor="let branch of branches" [value]="branch.code">
                                  {{branch.description}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="(!paymentDetailForm.controls['cheque_branch'].valid&&paymentDetailForm.controls['cheque_branch'].dirty)&&paymentDetailForm.controls['cheque_branch'].errors.required">Branch is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <!---------------------------- credit card payment ----------------------------->
                        <div *ngIf="paymentMode === 'PAYCC'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input matInput (input)="cardCollection.cardNumber = $event.target.value" formControlName="credit_card_number" id="credit_card_number" type="text"
                                     class="validate" placeholder="Card Number">
                              <mat-error *ngIf="(!paymentDetailForm.controls['credit_card_number'].valid&&paymentDetailForm.controls['credit_card_number'].dirty)&&paymentDetailForm.controls['credit_card_number'].errors.required">Credit card number is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <div *ngIf="paymentMode === 'PAYCC'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input matInput (input)="cardCollection.cardExpiry = $event.target.value" formControlName="credit_card_date" id="credit_card_date" type="month"
                                     class="validate" placeholder="Expiry">
                              <mat-error *ngIf="(!paymentDetailForm.controls['credit_card_date'].valid&&paymentDetailForm.controls['credit_card_date'].dirty)&&paymentDetailForm.controls['credit_card_date'].errors.required">Expiry date is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <div *ngIf="paymentMode === 'PAYCC'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input maxlength="3" minlength="3" matInput (input)="cardCollection.cardCcv = $event.target.value" formControlName="credit_card_ccv" id="credit_card_ccv" type="text"
                                     class="validate" placeholder="CVV">
                              <mat-error *ngIf="(!paymentDetailForm.controls['credit_card_ccv'].valid&&paymentDetailForm.controls['credit_card_ccv'].dirty)&&paymentDetailForm.controls['credit_card_ccv'].errors.required">CCV is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <!---------------------------- mobile money payment ----------------------------->
                        <div *ngIf="paymentMode === 'PAYMM'" class="col-md-12">
                          <div class="input-field select-th ">
                            <mat-form-field>
                              <mat-select id="mobile_operator" (input)="mobileMoneyCollection.operatorCode = $event.target.value" formControlName="mobile_operator" placeholder="Operator">
                                <mat-option *ngFor="let operator of mobile_operators"
                                            [value]="operator.code">
                                  {{operator.description}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="(!paymentDetailForm.controls['mobile_operator'].valid&&paymentDetailForm.controls['mobile_operator'].dirty)&&paymentDetailForm.controls['mobile_operator'].errors.required">Operator is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="paymentMode === 'PAYMM'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input maxlength="10" matInput (input)="mobileMoneyCollection.mobileNumber = $event.target.value" formControlName="mobile_number" id="mobile_number" type="text"
                                     class="validate" placeholder="Mobile number">
                              <mat-error *ngIf="(!paymentDetailForm.controls['mobile_number'].valid&&paymentDetailForm.controls['mobile_number'].dirty)&&paymentDetailForm.controls['mobile_number'].errors.required">Mobile number is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <!---------------------------- bank deposit payment ----------------------------->
                        <div *ngIf="paymentMode === 'PAYBD'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input matInput (input)="bankCollection.depositReferenceNumber = $event.target.value" formControlName="deposit_ref" id="deposit_ref" type="text"
                                     class="validate" placeholder="Deposit Reference">
                              <mat-error *ngIf="(!paymentDetailForm.controls['deposit_ref'].valid&&paymentDetailForm.controls['deposit_ref'].dirty)&&paymentDetailForm.controls['deposit_ref'].errors.required">Deposit reference is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="paymentMode === 'PAYBD'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input matInput (input)="bankCollection.depositDate = $event.target.value" formControlName="deposit_date" id="deposit_date" type="date"
                                     class="validate" placeholder="Deposit Date">
                              <mat-error *ngIf="(!paymentDetailForm.controls['deposit_date'].valid&&paymentDetailForm.controls['deposit_date'].dirty)&&paymentDetailForm.controls['deposit_date'].errors.required">Deposit date is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <div *ngIf="paymentMode === 'PAYBD'" class="col-md-12">
                          <div >
                            <mat-form-field>
                              <mat-select id="deposit_bank" (input)="bankCollection.bankCode = $event.target.value" formControlName="deposit_bank" placeholder="Bank">
                                <mat-option *ngFor="let bank of banks"
                                             [value]="bank.code">
                                  {{bank.description}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="(!paymentDetailForm.controls['deposit_bank'].valid&&paymentDetailForm.controls['deposit_bank'].dirty)&&paymentDetailForm.controls['deposit_bank'].errors.required">Bank is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>

                        <div *ngIf="paymentMode === 'PAYBD'" class="col-md-12">
                          <div >
                            <mat-form-field class="example-full-width">
                              <input matInput (input)="bankCollection.accountNumber = $event.target.value" formControlName="deposit_account" id="deposit_account" type="text"
                                     class="validate" placeholder="Account">
                              <mat-error *ngIf="(!paymentDetailForm.controls['deposit_account'].valid&&paymentDetailForm.controls['deposit_account'].dirty)&&paymentDetailForm.controls['deposit_account'].errors.required">Deposit account is required</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <!---------------------------- Payment amount ----------------------------->
                        <div class="col-md-12">
                          <div *ngIf="paymentMode">
                            <span class="field-txt">LKR</span>
                            <mat-form-field class="example-full-width">
                              <input   matInput formControlName="amount_to_be_paid" (input)="onAmountToBePaidChange()"
                                     (ngModelChange)="amountTobePaid=$event" step="0.01" id="amount_to_be_paid"
                                     type="number"
                                     class="validate" placeholder="">
                              <mat-error *ngIf="(!paymentDetailForm.controls['amount_to_be_paid'].valid&&paymentDetailForm.controls['amount_to_be_paid'].dirty)&&paymentDetailForm.controls['amount_to_be_paid'].errors.required">Amount is required</mat-error>
                            </mat-form-field>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button type="submit" [disabled]="submitted === '1'" class="btn-theme-lg mb-2">Pay Premium</button>
                </form>
              </div>

              <div class="col-md-5 pl-0">
                <div class="card-transparent">
                  <div class="ct-head mb-2 bb-light">
                    <label>Premium Payment</label>
                    <label *ngIf="outstanding != null"><span
                      class="font-xsm">LKR</span> {{outstanding.debitAmount | number}}</label>
                  </div>
                  <div class="ct-body">
                    <div class="d-flex justify-content-between mb-2">
                      <label class="font-light-13 mb-0">LOYALTY POINTS</label>
                      <label  *ngIf="loyaltyPointsSpending != null"
                             class="font-dk-b mb-0">- {{loyaltyPointsSpending}}</label>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                      <label class="font-light-13 mb-0">AMOUNT TO BE PAID</label>
                      <label *ngIf="amountTobePaid != null"
                             class="font-dk-b mb-0">- {{amountTobePaid | number}}</label>
                    </div>
                    <div class="bt-light my-3"></div>
                    <div class="d-flex justify-content-between mb-1">
                      <label class="font-dk-b mb-0">Balance</label>
                      <label *ngIf="amountTobePaid != null" class="font-dk-b mb-0"><span
                        class="font-xsm">LKR</span> {{balance | number}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-header>
