#map {




  position: absolute !important;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  top: 64px;
  border: 20px solid transparent;
  border-top: 0px;

}

.map-manage-view{
  #map{
    border:none !important;

  }
}

.map-overlay-z{
  position: absolute;
  top: 72px;
  background: #fff;
  width: 350px;
  padding: 10px 20px;
  left: 30px;
  border-radius: 4px;
}

.map-opt-btn{
  position: absolute;
  left: 0;
  top: 148px;
  border-radius: 30px;
  width: 44px;
  height: 44px;
  background: #fff;
  border: 1px solid #a2a2a2;
  img{
    width: 100%;
  }
}

.gm-control-active{
  display: none !important;
}
