<app-header>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb theme-bread my-4 px-0 py-0">
      <li class="breadcrumb-item"><a routerLink=""><i class="fas fa-chevron-left"></i> Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  <div class="page-title-header d-flex justify-content-between align-items-center   pt-3 ">
    <div>
      <h3>Add New Customer</h3>
      <p>Make a new customer</p>
    </div>


  </div>
  <div class="line-fluid-row bb-light mb-3"></div>
  <div class="row">
    <div class="col-md-3 ">

      <p class="font-light-13 pt-2">Please follow the process to create a <br> policy to the specific livestock or
        <br> weather component.</p>

      <div class="prg-bar-thin my-4">
        <div class="pg-value" style="width:55%"></div>
      </div>


      <div class="policy-add-steps ">
        <div class="nav flex-column " id="v-pills-tab" role="tablist" aria-orientation="vertical">

          <a class="nav-link  active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
             aria-controls="v-pills-home" aria-selected="true">

            <div class="policy-step-li st-completed">
              <div class="psl-acc-node">
                <div class="ps-completed">
                  <i class="fas fa-check-circle"></i>
                </div>
                <div class="ps-step-no">
                  <span>1</span>
                </div>
              </div>
              <label class="psl-1">Customer Details</label>
            </div>
          </a>
          <a class="nav-link " id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
             aria-controls="v-pills-profile" aria-selected="false">
            <div class="policy-step-li ">
              <div class="psl-acc-node">
                <div class="ps-completed ">
                  <i class="fas fa-check-circle">ssssssssssssss</i>
                </div>
                <div class="ps-step-no">
                  <span>2</span>
                </div>
              </div>
              <label class="psl-1">Assignments</label>

            </div>
          </a>
          <a class="nav-link " id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
             aria-controls="v-pills-messages" aria-selected="false">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-8 pl-5">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade  show active" id="v-pills-1" role="tabpanel"
             aria-labelledby="v-pills-home-tab">
          <form [formGroup]="customerForm">
          <div class="form-new-opt mb-4 pr-3">
            <h6>Customer Details</h6>
            <a routerLink="/customers" class="font-light-nm">Cancel</a>
          </div>

          <div class="card-b ">

            <div class="card-b-body py-0 pt-2">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                      <mat-option value="C">Customer</mat-option>
                      <mat-option value="P">Prospect</mat-option>
                    </mat-select>
                    <mat-error *ngIf="customerForm.controls['type'].hasError('required')">Type is  <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

          <div class="card-b my-4">
            <div class="card-b-head bb-light">
              <label>Add New Customer</label>

            </div>
            <div class="card-b-body">
              <div class="row">

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="name" placeholder="Name" required>
                    <mat-error *ngIf="customerForm.controls['name'].hasError('required')">Name is  <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="nic" placeholder="NIC Number" required>
                    <mat-error *ngIf="customerForm.controls['nic'].hasError('required')">NIC is  <strong>required</strong></mat-error>
                    <mat-error *ngIf="customerForm.controls['nic'].hasError('pattern')">NIC is  <strong>not valid</strong></mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="address" placeholder="Address" required>
                    <mat-error *ngIf="customerForm.controls['address'].hasError('required')">Address is  <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="mobile" placeholder="Mobile Number" required>
                    <mat-error *ngIf="customerForm.controls['mobile'].hasError('required')">Mobile number is  <strong>required</strong></mat-error>
                    <mat-error *ngIf="customerForm.controls['mobile'].hasError('pattern')">Mobile number is  <strong>not valid</strong></mat-error>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="email" placeholder="Email" >
                    <mat-error *ngIf="customerForm.controls['email'].hasError('pattern')">Email is  <strong>not valid</strong></mat-error>
                  </mat-form-field>
                </div>


              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option value="MALE">Male</mat-option>
                    <mat-option value="FEMAL">Female</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            </div>
          </div>

          <button (click)="postCustomer()" mat-button [disabled]="customerForm.invalid" class="btn-theme-lg mb-2">Continue</button>

            </form>
        </div>
        <div class="tab-pane fade " id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">

          <div class="row my-3">
            <div class="col-md-7">
              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p1" role="button"
                     aria-expanded="false" aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      2 Lands Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <button class="btn-light-round"> Add New</button>
                </div>


                <div class="collapse" id="collapse-p1">
                  <div class="acc-contain bt-light px-4">
                    <div class="acc-list-t1 bb-light">
                      <div class="alt-t1">
                        <label class="font-b font-dk">Weerakatiya, Galle</label>
                        <label>Red B+</label>
                      </div>

                      <a href="" class="font-light-nm">Manage</a>
                    </div>
                    <div class="acc-list-t1 bb-light">
                      <div class="alt-t1">
                        <label class="font-b font-dk">Weerakatiya, Galle</label>
                        <label>Red B+</label>
                      </div>

                      <a href="" class="font-light-nm">Manage</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="card-b mb-3">
                <div class="acc-head">
                  <a class=" px-4 " data-toggle="collapse" href="#collapse-p2" role="button"
                     aria-expanded="false" aria-controls="collapseExample">

                    <div class="d-flex justify-content-between align-items-center">
                      5 Photos Added

                      <i class="fas fa-chevron-down"></i>
                    </div>


                  </a>
                  <button class="btn-light-round"> Add New</button>
                </div>


                <div class="collapse" id="collapse-p2">


                  <div class="acc-contain bt-light px-4">

                    <div class="p-im-grid">
                      <div class="row no-gutters">
                        <div class="col-4">
                          <img src="vendor/images/p-im-2.png" alt="">
                        </div>
                        <div class="col-4">
                          <img src="vendor/images/p-im-1.png" alt="">
                        </div>
                        <div class="col-4">
                          <img src="vendor/images/p-im-3.png" alt="">
                        </div>
                        <div class="col-4">
                          <img src="vendor/images/p-im-4.png" alt="">
                        </div>
                        <div class="col-4">
                          <img src="vendor/images/p-im-5.png" alt="">
                        </div>


                      </div>
                    </div>
                    <div class=" my-3">
                      <a href="" class="font-light-nm">Manage Photos</a>
                    </div>

                  </div>


                </div>
              </div>


              <button class="btn-theme-lg">Create Policy</button>

            </div>
            <div class="col-md-5 pl-0">
              <div class="card-b p-3">
                <div class="d-flex justify-content-between">
                  <label class="font-dk-b">Total Premium</label>
                  <label class="font-dk-b">
                    <small class="font-xsm">LKR</small>
                    98,835 </label>
                </div>
                <button class="btn-theme-lg w-100">Complete Policy</button>
              </div>
            </div>
          </div>

        </div>


        <div class="tab-pane fade " id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">


        </div>


      </div>
    </div>
  </div>
</div>
</app-header>
